[2017-08-26 23:57] jeremy-jamez opened #3 "CameraView in Fragment throws NPE"
I'm implementing CameraView in a fragment and app crashes when trying to open said fragment:
`                                                                --------- beginning of crash
08-26 18:51:53.625 30605-30605/com.pictematic E/AndroidRuntime: FATAL EXCEPTION: main
                                                                Process: com.pictematic, PID: 30605

[2017-08-27 09:45] natario1 commented on #3
Doesn't look like a bug in the library. Your fragment is null at the time of onResume.

If you are using CameraView inside a fragment, you should use the fragment callbacks (`onResume`, `onPause` etc.).

[2017-08-27 09:45] #3 closed

[2017-08-27 09:51] natario1 opened #4 "Flash.ON pictures are black"
In some conditions pictures taken with Flash.ON are completely underexposed. Not sure why at the moment.

[2017-08-27 10:49] natario1 opened #5 "Vertical scroll gesture should go in the other direction"
I think it makes more sense to have vertical scrolling gestures going positive (e.g. zooming in) when moving the finger up. Right now it's the opposite.

[2017-08-27 10:53] natario1 opened #6 "Crashes after using setLocation api"
Experiencing some crashes when moving to front camera on some devices, due to the infamous native error `setParameters() failed`.

[code]

[2017-08-27 13:55] #5 closed

[2017-08-27 21:57] natario1 commented on #6
I think this happens after using `setLocation`. That somehow is rejected by `Camera.Parameters` and further use of that parameters make the app crash in future calls. I'm not sure what to do here

[2017-08-28 09:25] arunmandal53 opened #9 "Camera preview of resolution 1280x720."
I have requirement of only displaying and capturing camera on resolution 1280x720. How this possible?

[2017-08-28 09:44] natario1 commented on #9
That's a strange requirement because

- not all sensor support this resolution
- not all devices are that big

If device is big enough, you can set up a CameraView with fixed width and height (to your values) and use `captureSnapshot()` instead of `capturePicture()`.

[2017-08-28 10:55] arunmandal53 commented on #9
Thank you for reply. Is it possible to set max width for preview. eg. 720p max width. I want to display full screen camera view may be croped but in resolution 1280x720. Help me!

[2017-08-28 11:17] natario1 commented on #9
- It is possible to choose the **preview size** using `CameraView` dimensions.
- It's not possible to choose the **capture size**, sorry. But you can ensure the same aspect ratio of the preview using `cropOutput` (so if preview is 4:3, capture is 4:3 as well).
- If you use `captureSnapshot()`, you will capture a picture with exactly the **preview size**.

I'm not sure if anything fits your case bu

[2017-08-28 13:32] #9 closed

[2017-08-28 21:47] #6 closed

[2017-08-29 08:42] meparam opened #12 "Image lagging on 4.4.2 lg device"
after image taken it is lagging , not giving smooth scrolling of bottom layout.

[2017-08-29 09:01] natario1 commented on #12
You mean in the demo app? Can you explain better?

[2017-08-29 09:18] meparam commented on #12
yes when i take the pic  afterword three option coming then in the PicturePreviewActivity when i scroll up it is lagging. please suggest

[2017-08-29 09:21] natario1 commented on #12
I can't reproduce this, but I think it might be due to us calling `startPreview()` from the UI thread after pictures taken. Threading still has to be improved. I will investigate, thanks

[2017-08-29 09:25] meparam commented on #12
I think size of image is bigger in size that is causing for slow the UI.
Hopping to see update from u soon thanks.

[2017-08-29 17:13] sulisuco opened #14 "Only the original thread that created a view hierarchy can touch its views."
Hello, I'm using your library to capture video, but when I use it, based on the example that comes in it, I get the following error

`Process: com.brive.yooin, PID: 11035
android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views.
at android.view.ViewRootImpl.checkThread(ViewRootImpl.java:6902)
at android.view.ViewRootImpl.r

[2017-08-29 19:36] sid-udawat opened #15 "Flipped Images or Mirrored Images"
When taking an Image using the front camera, image appears to be flipped / mirrored. As of now I have handled this in my code using:

[code]
But this involves more processing as bytes[] are converted to bitmap and again bytes[] to perform file storage and displaying purpose.

[2017-08-29 22:32] natario1 commented on #12
I have fixed threading in latest version. You can check and let me know

[2017-08-29 22:33] natario1 commented on #14
This was fixed in #1 , could you update to latest version? 1.2.0.

[2017-08-29 22:38] natario1 commented on #15
There are some TODOs in the code about this, but it's not 100% clear to me what to do. This issue exists in the majority of camera apps (even google stock app) and, for some, could even be desired behavior..

Converting to bitmap just for this is not acceptable. There are special EXIF orientation tags for flipped values, but for that we would need something that can write EXIF tags to a `byte[]` a

[2017-08-30 03:00] nonstoplm opened #16 "Preview Distortion when toggling BACK / FRONT"
preview distortion when camera toggle BACK / FRONT.

[2017-08-30 10:03] UGhari commented on #15
This happens because it depends on how an OEM installs the camera module inside the device. They may install the module upside down because of space restrictions we then have to programmatically rotate the view so it looks straight to us. When you take a picture with front facing camera the byte [ ] result doesn't have the EXIF so you can't flip the image directly from the bytes, as you said you w

[2017-08-30 10:07] UGhari commented on #16
You will need to give a lot more information than that to debug the problem. Log outputs if possible, model of device, what steps are you taking before this happens.

[2017-08-30 11:44] natario1 commented on #15
@UGhari are you saying that back cameras return a jpeg `byte[]` while front cameras return a png `byte[]` ? Why would that be?

Yes, for now Camera2 class is not used, just a stub class implementing an interface. We'll get to it!

[2017-08-30 15:26] UGhari commented on #15
No sorry  I was just stating EXIF data doesn't work with PNG files only JPEG.

[2017-08-30 16:11] sid-udawat commented on #15
@UGhari @natario1

Thank you both for the insight, agree that this issue exist on majority of camera apps and many libraries. As of now I have implemented a temporary solution:

- onPictureTakenFront
- onPictureTakenBack
[code]

[code]
[code]

This works for me, I know its an "Hack" but seems to be the only working solution as of now.

[2017-08-31 14:21] denisokvrn opened #17 "Square video format"
Can I change library for get square video as in instagram?

[2017-09-01 07:52] UGhari commented on #17
Yes you can, read the documentation. The issues section isn't an area where you ask for tutorials.

[2017-09-01 08:54] denisokvrn commented on #17
sorry. in documentation i find only square preview. but output video file has rectangle size (not square as in preview)

[2017-09-01 09:45] natario1 commented on #17
Yes @denisokvrn you are right. This will be supported in the next few days

[2017-09-04 05:40] ravikant-dexati opened #20 "preview stretch on orientation change"
when camera preview is rotated from landscape to portrait get stretchs

[2017-09-04 10:14] freimaks opened #21 "Dual Camera"
Hi!

Can I use your library to work with two cameras at the same time?

As a basis I used your example, but I made two CameraView elements: masterCamera and slaveCamera.

Additionally, I changed the code for the button that switches the cameras.

`
int NextMode = 0;

    @OnClick(R.id.toggleCamera)
    void toggleCamera() {
        if (mCapturingPicture) return;

        masterCamera.stop();

[2017-09-04 10:57] natario1 commented on #21
I don't know about the emulator and the error is not saying much... Please note that `setFacing` and `start` calls are asynchronous, posted to another thread. Can you try calling things in this order:

- stop()
- setFacing()
- start()

Right not setFacing() is the last. This means that camera opens the old sensor and then tries to switch.

[2017-09-04 11:01] natario1 commented on #20
Thanks @ravikant-dexati . So can you help me a bit:

1. Your activity is recreated on orientation changes?
2. You say in landscape it is good, then portrait gets stretched. What happens if you start the activity in portrait mode?
3. Are you testing on a tablet?

[2017-09-04 11:05] natario1 commented on #16
@nonstoplm can you provide more information? I can not reproduce this.

Are you testing on a tablet? Which device? Is BACK always good while FRONT is distorted, or what? Which steps are you taking and when do you start seeing the issue?

[2017-09-04 11:06] ravikant-dexati commented on #20
I am running the demo app from your git repo .
I am testing on a Motorola's E3 device.
Initially either you start in portrait or landscape it's good but when we
rotate device it stretches.

Best Regards ,
Ravikant Tiwari
Sr. Android Developer
Xymob Inc

On 04-Sep-2017 4:31 PM, "Mattia Iavarone" <notifications@github.com> wrote:

[2017-09-04 11:09] freimaks commented on #21
I changed it as you said. Yes, apparently this is the correct order of switching. So far there are no errors.

I thought that this is just an emulator error because in reality there is a hardware limitation for working simultaneously with two cameras and I do not really understand whether such a limitation affects the emulator.

[2017-09-04 11:18] natario1 commented on #20
@ravikant-dexati could you add this code and tell me the value of offset?

[code]

[2017-09-04 11:21] ravikant-dexati commented on #20
Which class should I add this code

Best Regards ,
Ravikant Tiwari
Sr. Android Developer
Xymob Inc

On 04-Sep-2017 4:48 PM, "Mattia Iavarone" <notifications@github.com> wrote:

[2017-09-04 11:23] natario1 commented on #21
Cool! Let me know if there are other issues. Though if there are known limitations in achieving this, the library is not going to help in any way.

[2017-09-04 11:23] #21 closed

[2017-09-04 11:24] natario1 commented on #20
Wherever you want, for example in the activity onCreate, using `this` instead of `context`.

[2017-09-04 11:26] ravikant-dexati commented on #20
The value for rotation is 0 initially

Best Regards ,
Ravikant Tiwari
Sr. Android Developer
Xymob Inc

On 04-Sep-2017 4:54 PM, "Mattia Iavarone" <notifications@github.com> wrote:

[2017-09-04 11:38] natario1 commented on #20
If you get 0 I don't know where the issue might be. Will think about it, seems a device specific issue

[2017-09-04 17:17] m1r0n41k commented on #20
I have same problem on my emulator and on Samsung S6

in manifest:
` <activity android:name=".app.recorder.MainActivity" />`

in my layout:
`<?xml version="1.0" encoding="UTF-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:id="@+id/general"
    android:layout_width="match_parent"
    android:layout_

[2017-09-04 18:21] m1r0n41k commented on #20
It works for me only if i use:

`<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context="com.otaliastudios.cameraview.demo.CameraActivity">

    <ScrollView
        android:layout_width="match_parent"
        android:layout_height

[2017-09-04 19:37] natario1 commented on #20
@m1r0n41k thanks. What's the value of `offset` for you when it is distorted? (Read comments above)

[2017-09-04 20:21] m1r0n41k commented on #20
@natario1  For me mSensorOffset always equals 90 for facing back camera. It's because _cameraInfo.orientation_ - constant value, I think. Now for phones I found hack:

    @Override
    boolean shouldFlipSizes() {
        if (mDeviceOrientation == 90 || mDeviceOrientation == 270) {
            return false;
        } else {
            return mSensorOffset % 180 != 0;
        }
    }

It's only fi

[2017-09-04 20:27] m1r0n41k commented on #20
@natario1  You can use it for reproduce:

activity_camera.xml
[code]

CameraActivty.java

[code]

[2017-09-04 20:31] m1r0n41k commented on #20
And my offser:
[code]

First it for portrait orientation and second for landscape.

[2017-09-04 21:10] natario1 commented on #20
Thanks. That's was I was thinking to, that's why I asked for the device orientation. I think shouldFlipSize() should return (mDeviceOffset + mSensorOffset) % 180 != 0 . Could you check that? :) Or submit a PR with this change if you have time.

[2017-09-04 21:16] m1r0n41k commented on #20
Yes, I could! 👍

[2017-09-04 22:43] antoniovlasic opened #24 "Failed to resolve..."
When I try to bind in the library to my project (Gradle) I get the following error:

[code]

Have absolutly no clue what's the problem :/

[2017-09-05 00:39] natario1 commented on #24
I think you just miss them, can you click on Install Repository and sync project?

[2017-09-05 01:10] antoniovlasic commented on #24
It doesn't work, I can't even click it

[2017-09-05 01:13] natario1 commented on #24
I think you can search around, it's just about updating your local data.. https://stackoverflow.com/questions/45357000/failed-to-resolve-com-android-supportappcompat-v726-0-0

[2017-09-05 06:42] sw-tt-rahulshah opened #26 "java.lang.RuntimeException: Camera is being used after Camera.release() was called"
09-05 12:09:24.102 25020-25020/com.otaliastudios.cameraview.demo E/AndroidRuntime: FATAL EXCEPTION: main
                                                                                   Process: com.otaliastudios.cameraview.demo, PID: 25020
                                                                                   java.lang.RuntimeException: Camera is being used after Camera.release() wa

[2017-09-05 08:38] freimaks opened #27 "Small error: cameraJpegQuality 0 <= n <= 100"
Apparently there is a small error in the documentation: the quality of the jpeg must be greater than 0 and less than or equal to 100 (0 < n <= 100).

If you try to set 0, then there will be an error:

`java.lang.RuntimeException: Unable to resume activity {com.myapp.myapp/com.myapp.myapp.MainActivity}: java.lang.IllegalArgumentException: JPEG quality should be > 0 and <= 0`

[2017-09-05 08:50] m1r0n41k opened #28 "RuntimeException: Fail to connect to camera service"
Device: Samsung S6
Android: 5.1.1

Step to reproduce:
1. Open demo app
2. Change screen orientation few times (5-6)

Crash:

[code]

[2017-09-05 11:03] #24 closed

[2017-09-05 11:04] natario1 commented on #14
Going to close, feel free to reopen in case you see this again with latest version.

[2017-09-05 11:04] #14 closed

[2017-09-05 11:09] natario1 commented on #27
I have submitted a fix, thanks!

[2017-09-05 11:41] natario1 commented on #12
So, I guess this is just a performance bug in the demo app, that should not load the full image in memory but rather show a smaller preview.

[2017-09-05 11:44] #27 closed

[2017-09-05 11:47] natario1 commented on #20
This should be fixed in the latest `master` branch, will release soon.

[2017-09-05 11:47] #20 closed

[2017-09-05 12:32] natario1 commented on #28
On my device the demo app is not going through configuration changes when changing orientation. Can you check if this is fixed using this branch? https://github.com/natario1/CameraView/tree/threads

[2017-09-05 13:39] DEcSENT commented on #28
I have same issue when using library and change orientation of device.
Device: Meizu M1 Note , Android 4.4.

Demo and threads branch works good.

[2017-09-05 13:53] natario1 commented on #28
@DEcSENT do you mean that the `threads` branch fixes the issue?

[2017-09-05 14:32] DEcSENT commented on #28
@natario1 Looks like yes. Demo and threads doesn't have this issue.
But application is crashed when i add library to new project and rotate device.

[2017-09-05 14:34] natario1 commented on #28
Sorry, I mean, have you tried applying the `threads` branch to a new project like you say?

[2017-09-05 14:45] DEcSENT commented on #28
@natario1 Well, when i clone this repository and switch to threads branch in demo all works.
But i want just import library to new project like "compile 'com.otaliastudios:cameraview:1.2.0'" and use camera.
Sorry, if i i don't understand something.

[2017-09-05 14:53] natario1 commented on #28
It's fine, I just wanted to know if there is a problem in `master` (which is like using compile) that was fixed in `threads`. If it is so, I will merge `threads` and release `1.2.1`.

To add the `threads` branch to a new project you should remove the compile line and add a new module pointing to the local cloned repo, after switching to `threads`. I'm sure someone can test this, unfortunately I ca

[2017-09-05 15:46] DEcSENT commented on #28
@natario1 I did this :)
I create new project and create new module (import from cloned repository and switching to threads branch). Now i haven't this issue.

But in landscape orientation i have little trouble - preview is deformate.

[2017-09-05 15:56] natario1 commented on #28
Cool, thanks! So I am going to merge threads.

About deformation, did you have this issue with `compile 1.2.0` or it appeared now?

[2017-09-05 16:05] DEcSENT commented on #28
@natario1 Yes, have this in both case.

[2017-09-05 17:07] #28 closed

[2017-09-05 17:33] natario1 commented on #28
Everything should be fixed in `1.2.1`.

[2017-09-05 18:39] freimaks opened #31 "Setting parameters while camera is restarting (for example right after setFacing)"
Hello!

I found another error. Maybe it's a library error.

An error occurs if we try to switch the HDR or white balance.

I do as you said before:
1. camera.stop();
2. Set the settings (front or back, grid, quality, etc.)
3. camera.start();

Everything works fine if we not use setHDR or setWhiteBalance. It does not matter where we apply the settings (before the camera.start() or after). Using the

[2017-09-05 19:35] natario1 commented on #31
Yeah I can see why this happens. I'll fix this!

[2017-09-05 19:44] natario1 commented on #31
I will consider this low-priority though, because I do not recommended acting this way.

`camera.stop()` and `camera.start()` are not synchronous, and they will be even less so with Camera2.
The correct approach after calling `stop()` is to wait for `onCameraClosed()` to be called, and then start again and/or set parameters.

[code]

Plus, **if all you want is change Facing**, you can call `setFac

[2017-09-06 08:21] antoniovlasic opened #32 "Pinch Zoom laggy"
The pinch zoom is really slow...
And thank you for helping with the last issue! :)

[2017-09-06 18:36] natario1 commented on #32
I think it is already optimized as possible. We are using google `ScaleGestureDetector` to detect pinches, and then just updating camera parameters

[2017-09-07 13:33] antoniovlasic opened #34 "Disable the sound in dispatchFocusEnd"
Is it possible?

[2017-09-07 14:50] natario1 commented on #34
Not currently, sorry. I'm not planning such control, we can add `setPlaySounds(boolean)` but I don't think we are going to have fine control over which sounds to play.

[2017-09-07 15:30] Rainer-Lang opened #35 "Question: Round darken overlay"
Is something like this https://i.stack.imgur.com/NszHG.png possible?
I need this because I want that my users make profile images - and these pictures are round in my app. So it would be great if the users are seeing exactly what they will get.

[2017-09-07 16:04] natario1 commented on #35
It is possible, but I think it goes beyond what a camera engine should provide.

You can display an overlay in another view on top of CameraView, or in CameraView itself using `cameraView.setForeground(Drawable)`. You just need the drawable :)

[2017-09-07 16:20] Rainer-Lang commented on #35
@natario1 Thank you very much. I'll try it.

[2017-09-07 16:20] #35 closed

[2017-09-08 15:17] devalticode commented on #16
Hi,
I have same issue on Galaxy J5 (SM-J500H).
I set video quality is MAX720p -> Change device orientation + toogle camera facing BACK/FRONT -> issue occurs.
Please help to fix.

[2017-09-08 16:36] natario1 commented on #16
@devalticode are you using latest version?

[2017-09-09 08:00] devalticode commented on #16
Yes, I did.
Can you please check my layout ?

[activity_camera.zip](https://github.com/natario1/CameraView/files/1289627/activity_camera.zip)

[2017-09-09 20:37] jeremy-jamez opened #38 "Retrieve video recording time"
Can the recording time be retrieved and displayed in either a `TextView` or used to update a `ProgressBar`?

[2017-09-10 00:31] Mack4545 commented on #17
@natario1 Thanks so much I would really appreciate this enhancement!

[2017-09-10 22:03] natario1 commented on #38
You mean while recording? This is not supported, you are responsible for your own ticking (and for ending the video).

Note also that the time parameter in `startRecordingVideo` is not guaranteed to be exact. The video will actually be some milliseconds shorter due to camera lagging.

[2017-09-12 07:40] fuzyfuzi17 commented on #26
Please for god sake someone resolve this issue having same issue

[2017-09-12 10:06] Rakhimjon opened #40 "BlackLine on cameraview xml"

[2017-09-12 10:32] Monster-king opened #41 "Black area when CameraView is resized (using SurfaceViewPreview)"
Width: 1080
Height: 1080
![image](https://user-images.githubusercontent.com/18480424/30321521-ca7bba5e-97cf-11e7-8823-74f9bb41ea22.png)

[2017-09-12 10:53] #40 closed

[2017-09-12 11:14] natario1 commented on #41
So you just open app then set these dimensions?

[2017-09-12 11:16] natario1 commented on #26
The stack trace indicates that it happens when you tap on the CameraView in a special occasion. Which special occasion? After `onPause`? While a picture is being taken? While a video is being recorded?

Please add steps to repro.

[2017-09-12 12:41] sw-tt-rahulshah commented on #26
No I don't even click on capture button. I just move app from foreground to background and vice versa very quickly. Launch app > Click Overview button(3rd button on navigation bar) > Select our demo app again > Click Overview button again.. Continue this process for 2-3 times and it will crash.

[2017-09-12 13:57] natario1 commented on #26
@sw-tt-rahulshah Sorry but I don't get it, the stack trace you posted tells about a touch event inside the CameraView. I can't repro on my device (API 25)

[2017-09-12 13:58] #38 closed

[2017-09-13 04:57] Monster-king commented on #41
First i created my own app with your library, it has same issue. Then I clone your example, and it has same issue too.

[2017-09-13 09:03] sw-tt-rahulshah commented on #26
It's happening on Nexus 5, Samsung S4, Moto G4 devices. I don't know about other devices but its happening for sure and other users have same complaints.

[2017-09-13 13:25] natario1 commented on #26
Man it's not that I don't *believe* you, I just need to understand.

@fuzyfuzi17 @sbaar can you post your stacktraces **and** your steps to reproduce the issue?

[2017-09-16 01:35] Mack4545 commented on #17
@natario1 Hello. I didn't see this enhancement in the commit notes 3 days ago... is this something you think you're going to still do? Thanks.

[2017-09-16 08:55] natario1 commented on #17
@Mack4545 sure, just be patient please, I will be very busy next week.

[2017-09-16 09:26] #34 closed

[2017-09-16 09:31] natario1 commented on #41
@Monster-king You didn't answer though :) please use the demo app, then describe clearly the steps to reproduce the bug, then post the logs you see in the logcat. The demo app will log a lot of useful things.

[2017-09-16 12:08] Monster-king commented on #41
@natario1 At the moment I've installed the app to my Samsung J1 2016 phone, changed the height to 480 (because in width is 480 too). When I pressed the update button I take the message "Height updated! Internal preview size: 640x480". Preview has black area like that screen. Here all logs.
[new 2.txt](https://github.com/natario1/CameraView/files/1308300/new.2.txt)

[2017-09-16 12:30] natario1 commented on #41
@Monster-king thanks!
I just think the camera XML is wrong actually. Can you try modifying it?

If you open `activity_main.xml` you can see that `CameraView` is wrapped in a `RelativeLayout`. That makes no sense. Can you remove the relative layout and try again?

[2017-09-16 13:08] Monster-king commented on #41
@natario1 Relative layout removed, nothing changed.

[2017-09-16 13:40] natario1 commented on #41
That's disappointing :) I don't know what's wrong right now, but `CameraView` looks to be measuring itself correctly. For the moment I guess you can just avoid to apply runtime changes to width / height. Or if you really need it, ensure you call `requestLayout()` on the view or on its parent.

If you have some time, you could do the following test:

- add `background="@color/red"` to the RelativeL

[2017-09-16 14:02] natario1 commented on #41
Nevermind, I was able to reproduce on another device. I will take a look myself

[2017-09-16 14:25] SharozKhalid opened #44 "Crash using focus Gesture on Tap"
same happens with focusWithMarker aswell.
This is from Android monitor:

                                                         [ 09-16 19:23:39.469   542: 5980 E/         ]
                                                         Camera[ERROR] aec_biz_set_debug_data_enable: 1448: aec_biz_set_debug_data_enable:1448  aec set param AEC_SET_PARAM_DEBUG_DATA_LEVEL failed with result 1
09-16 19:23:42

[2017-09-16 14:43] sanidhya26 opened #45 "hide the focus marker"
A focus marker (oval shaped with white border) is always visible on the camera view..Please tell me how to hide this.

[2017-09-16 16:00] natario1 commented on #41
So, this is a bug with low end devices that have `isHardwareAccelerated()` return false.

In that case `CameraView` will render in a `SurfaceView` (instead of `TextureView`) and we are not able to provide center crop behavior for surface views.

The current workaround for these devices is to use wrap content for both dimensions.

[2017-09-17 00:28] #45 closed

[2017-09-17 00:49] sanidhya26 opened #46 "distortion bug on orientation change"
I am using the release version 1.2.1....the camera preview is stretched when i start video capture in landscape orientation. Please help

[2017-09-17 05:40] DiegoCatalano opened #47 "Auto Exposure Lock"
Hello, Mattia

Can you provide [auto exposure lock](https://developer.android.com/reference/android/hardware/Camera.Parameters.html#setAutoExposureLock(boolean)) please ?

Thank you !

[2017-09-17 08:51] Monster-king commented on #41
I don't think so, because preview looks like compressed by height. Do you tested it in another device?

[2017-09-17 09:36] natario1 commented on #46
If this happens with the demo app, can you please

- tell the exact steps you take to reproduce the bug? from app start to when the bug is visible
- post the demo app logs?

[2017-09-17 09:40] natario1 commented on #47
Hi @DiegoCatalano , we will get there, but that is kind of an advanced feature and I am focusing on stability right now. I think this will come after Camera2 (so we have a good knowledge of the two APIs and can wrap them in the best way)

[2017-09-17 09:54] sanidhya26 commented on #46
when i start the demo app, I see a black screen instead of preview..so not able to see if the preview get stretched when recording video

[2017-09-17 10:03] sanidhya26 commented on #46
i tried removing the relative layout, the camera view is wrapped in, but still no change..

[2017-09-17 10:40] natario1 commented on #46
Could you post the demo app logs for when you see the black screen?

Also, what happens if you use wrap_content on both dimensions of CameraView?

[2017-09-17 10:44] sanidhya26 commented on #46
09-17 16:12:11.826 305-352/com.otaliastudios.cameraview.demo I/Camera1: onStart: Applying default parameters.
09-17 16:12:11.833 305-305/com.otaliastudios.cameraview.demo W/CameraView: onMeasure: surface is not ready. Calling default behavior.
09-17 16:12:11.838 305-352/com.otaliastudios.cameraview.demo I/Camera1: onStart: Ended
09-17 16:12:11.838 305-352/com.otaliastudios.cameraview.demo I/Camera

[2017-09-17 10:45] sanidhya26 commented on #46
even with the wrap_content on both the dimensions, i see the same black screen

[2017-09-17 10:48] sanidhya26 commented on #46
![whatsapp image 2017-09-17 at 4 16 38 pm](https://user-images.githubusercontent.com/17082247/30520098-ca26e6b2-9bc3-11e7-907e-c75482ae5706.jpeg)

[2017-09-17 10:51] natario1 commented on #46
Thanks. You don't see any other log? There should be something about `onMeasure` right after that.

[2017-09-17 10:54] sanidhya26 commented on #46
09-17 16:23:11.241 2138-2138/com.otaliastudios.cameraview.demo I/Preview: crop: applied scaleX= 1.0
09-17 16:23:11.241 2138-2138/com.otaliastudios.cameraview.demo I/Preview: crop: applied scaleY= 1.1999999
09-17 16:23:11.245 2138-2138/com.otaliastudios.cameraview.demo I/Camera1: shouldFlipSizes: mDeviceOrientation= 0 mSensorOffset= 90
09-17 16:23:11.245 2138-2138/com.otaliastudios.cameraview.demo

[2017-09-17 11:27] natario1 commented on #46
@sanidhya26 sorry man can you post logs from app start to when you don't see any new logs?

[2017-09-17 11:44] sanidhya26 commented on #46
09-17 17:10:13.328 5106-5106/? D/AndroidRuntime: >>>>>> START com.android.internal.os.RuntimeInit uid 2000 <<<<<<
09-17 17:10:13.332 5106-5106/? D/AndroidRuntime: CheckJNI is OFF
09-17 17:10:13.368 5106-5106/? D/ICU: No timezone override file found: /data/misc/zoneinfo/current/icu/icu_tzdata.dat
09-17 17:10:13.378 5118-5118/? D/AndroidRuntime: >>>>>> START com.android.internal.os.RuntimeInit uid 2

[2017-09-20 18:31] andrewmunn opened #48 "Feature Request: Frame Processor"
I love this library! It's the best camera library I've tested.  Thank you so much for working on this.

The one thing missing is a frame processor so I can do barcode detection and facial recognition. [Fotoapparat](https://github.com/Fotoapparat/Fotoapparat) supports Frame Processing, so I use that, but CameraView supports way more features, like tap-to-focus, so I'd love to switch over.

Thank yo

[2017-09-20 18:42] natario1 commented on #48
Thank you for your words.

You mean you need a `byte[]` callback called for each frame?

[2017-09-20 18:58] andrewmunn commented on #48
Yes, I think that would be perfect

[2017-09-20 19:02] natario1 commented on #48
I'm not against this :) but I don't have much time to work on it. I can help you design this if you want to work on it

[2017-09-22 08:02] jays95jp commented on #17
@natario1  really appreciate your effort and for this enhancement. one more requirement for me want to record video like Instagram , Thanks

[2017-09-22 09:56] sanidhya26 commented on #46
anything?

[2017-09-24 07:51] vellrya opened #49 "Specify image resolution"
Hello! This is one of the best libraries for working with the camera now. But is it possible to specify a resolution for shooting? Now, as far as I understand, the library takes a picture in the maximum possible resolution and cuts it under the resolution of the sides of the device. Is it possible to make the application initially take a picture, for example, with a resolution of 1920 * 1080?

[2017-09-24 11:26] natario1 commented on #49
Current behavior is that you get the picture in the max resolution.

If you fixed some of the CameraView dimensions (for example by setting `match_parent` or a fixed value) **and** cropOutput flag is true, the image will be cropped to match the preview **aspect ratio** (not resolution).

My plan for the future is to let people set something other than `max` in the first place, probably the preferr

[2017-09-24 13:56] vellrya commented on #49
Thanks for the answer, the fact is that it will take a lot of time to take and process the photo with the maximum resolution and then lower the resolution for my purposes. Therefore, it would be nice to be able to set the resolution in pixels)

[2017-09-24 14:04] natario1 commented on #49
I know, will work on it. For the moment you can take pictures with captureSnapshot. Final size will be the size of the preview.

[2017-09-26 08:18] passos commented on #26
I got same crash log when I tried to record video in demo application.

To reproduce the issue, just download and install the demo app, launch it, change the session type, grant the permission, start video recording, then crash.

[code]

[2017-09-26 10:49] RedMandMs commented on #26
Yeah... I have same problem. I open activity with CameraView, and then just click button Back quickly, when Camera started work, I get same trace

[2017-09-26 10:55] natario1 commented on #26
@passos if you change session type and you don't have the permission, you get a call to `onCameraClosed`. This means you have to wait for `onCameraOpened` before allowing anything else (like recording video). I know this could be improved.

@RedMandMs can you post your stacktrace as well?

[2017-09-26 11:04] RedMandMs commented on #26
@natario1 Yeah, I edit my comment above!

[2017-09-26 11:05] RedMandMs commented on #26
My activity:
[code]

[2017-09-26 11:10] natario1 commented on #26
Will this happen if you invert the two lines inside onPause?

[2017-09-26 11:12] RedMandMs commented on #26
@natario1 Yeah, sorry, It's just my experiments

[2017-09-26 11:16] RedMandMs commented on #26
@natario1 And one time now I get this:
[code]

[2017-09-26 12:23] RedMandMs commented on #26
@natario1
May be activity.xml can help:
[code]

[2017-09-26 12:55] RedMandMs commented on #26
I think it's relate with RelativeLayout

[2017-09-26 14:48] RedMandMs commented on #26
I solved my problem, may be it's strange but it's work for me:

[code]

[2017-09-26 21:18] Johnson145 commented on #46
I'm experiencing distortions when starting in landscape mode, too. Changing the orientation after the camera was loaded in portrait mode works just fine.

@sanidhya26, have you also set your activity's orientation to a fixed value in the manifest (e.g. android:screenOrientation="portrait")? Removing this line seems to fix the problem for me. However, this isn't suitable for me, as I like keeping t

[2017-09-26 22:05] Johnson145 commented on #46
66077c1eaab21c21e33866e8c311c2a43ecce86f seems to have solved this issue :)
(at least in my case)

[2017-09-27 06:33] sanidhya26 commented on #46
@Johnson145: yes i have fixed my activity orientation to portrait.

[2017-09-27 16:26] natario1 commented on #26
Can anyone test https://github.com/natario1/CameraView/tree/fix26 this branch and see if it still happens?

[2017-09-27 21:19] Johnson145 commented on #46
And does the mentioned commit solve your problem, too?

[2017-09-27 21:47] Johnson145 commented on #16
I got an error fitting to this issue.

The crucial steps to reproduce seem to be:
- `cameraView.setSessionType(SessionType.VIDEO)`
- front camera
- at least one cameraview dimension is using `match_parent` constraint

 Toggling itself does not seem to affect it. It's always the front camera, even if I start it directly in that mode. The back camera is just fine. Furthermore, it's only about the pr

[2017-09-27 22:06] natario1 commented on #16
@Johnson145 thanks. Does this happen with the demo app? Can you start the app directly with the buggy parameters (sessionType = video, dim = match_parent, facing = front) and post logs?

You can post all, we are interested in anything related to `size:` and `onMeasure:`, possibly something else

[2017-09-27 22:34] Johnson145 commented on #16
In order to reproduce the described behavior in your demo app, I need to change the surrounding `ScrollView` to a `LinearLayout`. When using the former, the chosen preview is bigger than the screen and I need to scroll to see everything, but nothing is distorted. Switching to the LinearLayout while keeping the other parameters, compresses the preview in height. The latter seems to be the same dist

[2017-09-27 22:55] Johnson145 opened #51 "Bug: Capturing videos on Android API < 23 fails"
I got another issue: at least when using the Android Emulator, taking videos failes for Lollipop and older. Unfortunately, I can't test it on a real device, but maybe anybode can confirm the bug or restrict it to the Emulator?

Trying to read the created video file, it seems as if it does not contain a single frame. The file itself was created though and has write access.

![This happens in the de

[2017-09-27 23:01] natario1 commented on #16
@Johnson145 thanks again, I hope we can sort this out. `camera.isHardwareAccelerated()` returns false, right?

[2017-09-27 23:07] natario1 commented on #51
This should never happen with a real device.

The emulator does a lot of weird stuff when emulating hardware, video recording is officially not supported, there is a small note [here](https://developer.android.com/reference/android/media/MediaRecorder.html) about MediaRecorder.

Out of curiosity, were you able to make this work with some API levels? In title you mention 23 then in the description

[2017-09-27 23:16] Johnson145 commented on #51
Sounds good! 23 and up are working in the emulator just as good as on a real device. 22, 21 and so on do not work.

By the way: THANK YOU VERY MUCH FOR THIS AWESOME LIBRARY! I used to use CameraKit as well and gave up facing all the bugs. This one seems to be way more sophisticated so far. (Didn't plan to spam the issue with this, but just realized for the first time that GitHub does not have a pe

[2017-09-27 23:20] Johnson145 commented on #16
Yes, it does.

[2017-09-29 15:03] jesusdanielportillo commented on #49
I'm using this option in order to get the picture as seen in preview. Gives me an exception:

09-29 12:03:31.736 15476-17046/com.geoubicacion E/AndroidRuntime: FATAL EXCEPTION: CameraViewWorker
                                                                  Process: com.geoubicacion, PID: 15476
                                                                  java.lang.OutOfMemoryError: Failed t

[2017-09-29 16:50] natario1 commented on #49
@jesusdanielportillo CameraUtils.decodeBitmap currently will load the full image in memory. Generally you should load a smaller version. If anyone can open a PR improving `CameraUtils.decodeBitmap`, that would be cool!

https://developer.android.com/topic/performance/graphics/load-bitmap.html

[2017-09-29 18:39] natario1 commented on #51
Yeah, that looked like a robust base to start but in the end I had to change everything.

Spamming with compliments is allowed :)

[2017-09-29 18:39] #51 closed

[2017-09-29 18:50] natario1 commented on #41
@Monster-king can you try now? Demo app has changed and also a surface bug was fixed.

[2017-09-29 18:52] natario1 commented on #16
Can you guys check now? Demo app has changed and also a bug was fixed.

[2017-09-30 13:09] Johnson145 commented on #16
Looks good! In the demo app as well as in my own app! Thanks for the changes.

[2017-09-30 13:26] natario1 commented on #16
Ok, closing this, feel free to reopen

[2017-09-30 13:26] #16 closed

[2017-09-30 14:31] cnmngr commented on #45
How did you resolve this issue? I have the same problem.

[2017-09-30 14:37] sanidhya26 commented on #45
get the child views of the cameraview and hide the marker..i think its the second child view..just log it and check

[2017-09-30 23:13] UGhari opened #56 "Recorded videos are not cropped"
I used your application to implement capturing images, I use the crop output in XML to crop the image. This works fine, here is the code.

`<com.otaliastudios.cameraview.CameraView
        android:id="@+id/camera"
        app:cameraJpegQuality="75"
        app:cameraSessionType="video"
        app:cameraWhiteBalance="auto"
        android:keepScreenOn="true"
        app:cameraCropOutput="true"

[2017-09-30 23:19] natario1 commented on #56
It's true, cropOutput only works with pictures right now.

[2017-10-01 00:29] UGhari commented on #56
What logic is required to enable the crop? I could possibly work on something for it. Would I go frame by frame and crop each one as if it were a picture?

[2017-10-01 01:26] natario1 commented on #56
I think it's not trivial at all.. it could take *a lot of seconds* depending on resolution, length and frame rate, and we can't afford that. It probably should be done at the NDK level (but that would be a burden for the library size)

Honestly, I don't know :)

[2017-10-01 01:34] natario1 commented on #56
We can consider making it optional. For instance, if we find a well-thought library that does this really fast, we can ask the developer (if he is interested) to add that library to their own project, alongside with CameraView.

Then at runtime CameraView should check if the library is present. If it is, crop the video.

[2017-10-01 10:27] UGhari commented on #56
I'll take a look into it

[2017-10-01 10:29] UGhari commented on #56
Okay that's fine thanks
You can close this issue if you'd like to now

[2017-10-01 10:33] natario1 commented on #56
Let's see, if we make it optional this enhancement would be cool

[2017-10-01 14:01] sid-udawat opened #57 "Focus Marker not visible on tap"
Enabling single tap gesture to perform "Focus with marker" -  Marker is not visible. Just realised that even the grid marker is not visible.

I spent few hour and found the issue. If you can grant me access to push I can create a PR.

[2017-10-01 16:18] Monster-king commented on #41
@natario1 Fixed.

[2017-10-01 16:19] #41 closed

[2017-10-01 16:23] natario1 commented on #46
I think that the latest commit fixed distortion issues. Feel free to reopen.

[2017-10-01 16:23] #46 closed

[2017-10-04 12:10] Johnson145 opened #58 "NullPointerException in startVideo"
I'm getting quite a lot NullPointers when users are trying to record a video:

`java.lang.NullPointerException: Attempt to invoke virtual method 'void android.hardware.Camera.lock()' on a null object reference
       at com.otaliastudios.cameraview.Camera1.startVideo(Camera1.java:611)
       at com.otaliastudios.cameraview.CameraView.startCapturingVideo(CameraView.java:1153)
       at com.otaliast

[2017-10-04 12:15] natario1 commented on #58
Might be fixed by #50

[2017-10-04 12:16] natario1 commented on #57
@sid-udawat feel free to open a PR! where's the issue?

[2017-10-05 08:28] Johnson145 commented on #58
I'll give it a try. Maybe I'm missing something here, but right now I don't think that #50 will solve the above issue. I'm logging all pause/resume/open/close/etc. events and there is nothing after the camera was opened. So the problem here does not seem to be that someone is trying to record a video while the camera is changing its state.

[2017-10-05 09:35] natario1 commented on #58
That's my feeling, there is a small timeframe while this could happen , and there is a high chance that someone would move to a VIDEO session and start recording too soon.

What else could be causing this? If you have logs to share I'll take a look

[2017-10-05 10:43] Johnson145 commented on #58
Unfortunately, there is really no (visible) user action causing the trouble. Session mode is set to video only once before opening the camera. So this can't be the cause either. I only have my custom logs which do not provide further information. The only thing I can add is that there are usually at least 5 seconds between opening the camera and starting the video record. I'll take a deeper look i

[2017-10-05 11:07] natario1 commented on #58
You are right. Actually the only camera.lock() call we do is if we find an exception while starting the video. As if these devices do not support video recording, or `MediaRecorder`, or you passed the wrong file to `startVideo`, or you don't have permissions to write in that location...

Would be cool to reproduce this and know more

[2017-10-05 12:49] Johnson145 commented on #26
Got the same error. I implemented your pull request and will keep an eye on it, but it will take a few days to see whether new crash reports are being sent.

Btw, does anyone knows whether the `startPreview failed` error described by @RedMandMs really fits into the `Camera is being used after Camera.release() was called` issue? I get both, but I'm not yet sure about whether it's the same cause.

[2017-10-05 14:02] Johnson145 commented on #58
It's not permanent. Some of the logged devices successfully recorded a video before. Later on it fails. I guess video recording isn't available temporary, because it already fails on OS level. However, `mCamera` should not be null. I'm now explicitly logging this case to catch further information.

[2017-10-09 11:43] thomasbigger584 opened #60 "Switching SessionType while in another orientation stretches the preview"
Hey,

My requirement is to have 4:3 aspect ratio for picture and fullscreen for video. In portrait this works fine when switching between PICTURE and VIDEO but if I rotate the device to landscape and switch the preview is stretched.

https://www.dropbox.com/s/z573aa0285lhaov/orientation_change_stretch.mp4?dl=0

Perhaps is there a way to disable the orientation and keep them in portrait or landscap

[2017-10-09 13:04] natario1 commented on #60
Thanks for the report.

How are you achieving 4:3 ratio for picture? Does `CameraView` have fixed dimensions? And then you change them? Or what? What are `layout_width` and `layout_height`?

[2017-10-09 13:20] thomasbigger584 commented on #60
I've extended `CameraView` and override `onMeasure` to set the desired bounds like so:

    @Override
    protected void onMeasure(int widthMeasureSpec, int heightMeasureSpec) {
        super.onMeasure(widthMeasureSpec, heightMeasureSpec);
        int width = MeasureSpec.getSize(widthMeasureSpec);
        int height = MeasureSpec.getSize(heightMeasureSpec);

        if (0 == mRatioWidth || 0 == mR

[2017-10-09 13:28] natario1 commented on #60
I see. The internal implementation of onMeasure is a crucial step so if you replace that you're pretty much in the wild.

Right now I would use the layout params to modify this.

[code]

If you know enough about `onMeasure` you could probably achieve this from inside the view by passing modified width / height specs to `super.onMeasure()`.

[2017-10-10 12:56] thomasbigger584 commented on #60
The issue still persists, it does seem to be something solely when changing orientation and changing the session type, as if the media recorder has the wrong preview dimensions or something when going into landscape.
Would there be any way to turn off the orientation helper in any way so that its always in portrait ?

[2017-10-10 13:26] natario1 commented on #60
The orientation helper in your case only serves the purpose of adding the correct EXIF tag to the result.

We provide no way to change the aspect ratio dynamically, but I'm sure you can sort this out in a couple ways with some trial and error. You could even use two `CameraView`s (just be sure to destroy the first before opening the second - use the right callbacks or use `destroy()` to destroy im

[2017-10-10 13:50] thomasbigger584 commented on #60
Thanks for clearing this up! Ill give it a go

[2017-10-10 16:50] Johnson145 commented on #57
@sid-udawat can you fork this repository and create a pull request from the fork? Focus marker is missing in my case, too.

[2017-10-10 17:02] Johnson145 commented on #58
So far I found three different causes for this problem:
1: mCamera == null: false
`Caused by java.lang.IllegalStateException
       at android.media.MediaRecorder.native_start(MediaRecorder.java)
       at android.media.MediaRecorder.start(MediaRecorder.java:870)
       at com.otaliastudios.cameraview.Camera1.startVideo(Camera1.java:608)
       at com.otaliastudios.cameraview.CameraView.startCaptu

[2017-10-10 17:23] Johnson145 opened #61 "startAutoFocus - getParameters or setParameters failed"
The `startAutoFocus` causes a crash, because either `getParameters` or `setParameters` failed.

`Fatal Exception: java.lang.RuntimeException: getParameters failed (empty parameters)
       at android.hardware.Camera.native_getParameters(Camera.java)
       at android.hardware.Camera.getParameters(Camera.java:1632)
       at com.otaliastudios.cameraview.Camera1.startAutoFocus(Camera1.java:767)

[2017-10-10 17:33] natario1 commented on #61
At first I would say it's tapped while the camera is still waiting to be set up (something that #50 should fix when I improve it)

Your stack traces are identical though?

[2017-10-10 17:42] Johnson145 commented on #61
The current version of your changes in #50 is already merged in my case. So this would imply that we really need something like `mScheduledForStop`.

However, the above described errors do not contain anything like `Camera is being used after Camera.release() was called`. Received `{g|s}etParameters failed` from multiple devices and the strack traces are the same.

[2017-10-11 10:28] gokrish6670 commented on #58
facing same camera.lock NPE but not frequent and solution is to restart phone... is there any fix

[2017-10-11 13:43] #57 closed

[2017-10-11 13:46] natario1 commented on #44
Please follow up in #61

[2017-10-11 13:46] #44 closed

[2017-10-11 14:11] #26 closed

[2017-10-11 14:11] #31 closed

[2017-10-11 14:29] natario1 commented on #58
It's hard to follow 4 traces here, but I am tempted to believe that all of them (caused by calling `startVideo()` in a particular moment, for instance when the camera was stopping / restarting / destroying) were fixed by #50 .

Can you try `1.2.3` and see if you still get these?

[2017-10-11 14:45] Johnson145 commented on #58
I'll give it a shot!

[2017-10-11 17:21] Isquierdo opened #63 "Camera view does not fill the screen"
I'm having some problems with the CameraView size, in some devices it does not fill all the screen, showing the background sides or bottom/top depending on the device.

[code]

The problem x working in some devices (S6 Edge)
<img src="https://user-images.githubusercontent.com/15673911/31456614-b4e2761a-ae90-11e7-866b-7bbccb8853e3.png" width="250"> <img src="https://user-images.githubusercontent.co

[2017-10-11 18:16] UGhari commented on #56
I ended up cropping the videos with FFmpeg, it actually works very well, I have a question though does your code take into account orientation of the videos too and rotate that accordingly?

[2017-10-11 19:44] natario1 commented on #63
Would this happen without RelativeLayout? Are you doing anything strange?

[2017-10-11 19:49] natario1 commented on #56
Is your solution open source, visible somewhere? Which library are you using? We don't rotate the bytes, we set the location tag using MediaRecoder.setLocation

[2017-10-12 11:16] Talgat777 opened #64 "Stretching out image"
Hey,

We are having an issue with Camera view stretching and not showing in full screen for Galaxy tab 4 android version 5.0.2.

On other devices tested so far the view works fine.

See the screenshot

![screen shot 2017-10-12 at 17 13 16](https://user-images.githubusercontent.com/5118302/31493400-e4a82bca-af70-11e7-899a-4c920f2f2e66.png)

[2017-10-12 11:20] natario1 commented on #64
Can you reproduce this inside the demo app? If so, can you post logs from the buggy device?

[2017-10-12 14:32] UGhari commented on #56
I have not released anything as open source but i can tell you how to achieve this. I use FFmpeg. You can either build it yourself and convert it to Android however I used this lib https://github.com/WritingMinds/ffmpeg-android-java. There is one problem with this library though after loading the library it messes with the apps layout, so I downloaded the library and fixed it myself by going to th

[2017-10-12 14:35] UGhari commented on #56
Does this mean I dont have to rotate videos myself? to the correct orientation? So far it looks like you do rotate videos properly

[2017-10-12 14:56] Talgat777 commented on #64
It doesn't stretch when running demo. What can we do wrong?

![image uploaded from ios](https://user-images.githubusercontent.com/5118302/31502727-b678cc90-af8f-11e7-9dde-33b08903f97a.jpg)

[2017-10-12 15:00] natario1 commented on #64
I don't know. Try to put it out of useless containers, avoid messy stuff (overriding `onMeasure` or similar)

[2017-10-12 15:03] Talgat777 commented on #64
<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    xmlns:tools="http://schemas.android.com/tools"
    android:background="@color/overlay"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical">

    <com.otaliastudio

[2017-10-12 15:04] natario1 commented on #56
I meant orientation, not location. We use `MediaRecorder.setOrientationHint`. Generally you shouldn't have to do any rotation, if your video reader respects this orientation tag. Most should do. Thanks for your solution! We'll see if this gets implemented

[2017-10-12 15:07] natario1 commented on #64
It looks like it won't work well inside RelativeLayouts, see #63 also

[2017-10-12 15:36] Talgat777 commented on #64
Front camera image is upside down though

![image uploaded from ios 1](https://user-images.githubusercontent.com/5118302/31504890-5b4f8b78-af95-11e7-8b75-53ab0c17c4fb.jpg)

[2017-10-12 17:05] UGhari commented on #56
No problem thanks for the great library

[2017-10-13 11:34] UGhari opened #65 "Video timer inconsistencies"
I know you have already closed an issue similar to this, but I think you would understand best how to approach such an issue as you know how all of your code works. As the title says after hitting record I show a time elapsed.

I have used CountDownTimer:

`new CountDownTimer(10000, 1000) {

                        public void onTick(long millisUntilFinished) {
                            forcePre

[2017-10-13 11:45] natario1 commented on #65
No, surely there is a delay between the moment you call `startVideo` and the moment the recording actually start (we must setup recording), and between `endVideo` and the moment it actually ends.

I don't know if and how this could be improved.

[2017-10-13 11:48] UGhari commented on #65
I shall investigate further and let you know if I find anything

[2017-10-13 13:38] natario1 commented on #64
@Talgat777 can you open a new issue with that? And close this one if it is solved.

In the new issue please add steps to reproduce the issue in the demo app, and demo app logs until the moment the issue is visible

[2017-10-13 18:57] Isquierdo commented on #63
@natario1 I found the problem in my project Manifest, the hardwareAccelerated was "false".
Just changed to "true" and now it's working fine.

[2017-10-13 18:57] #63 closed

[2017-10-17 07:41] ranjanpr opened #66 "camera view set zoom point"
The current api allows setting zoom around center only either by pinch or scroll. Is it possible to zoom around specific point not only from center but say from where pinch started?

[2017-10-17 18:35] daright opened #67 "Lost focus after taking picture"
Hi. I have an issue with focus after taking picture. Autofocus works ok on tap, but after I press capture the picture loses its focus and gets blurry. Is there any solution for this?

[2017-10-18 22:06] diegosaul402 commented on #67
I have this issuse too, only happens on LG - Stylo with android 6.0

[2017-10-18 22:14] natario1 opened #69 "Risk of Repository Takedown"
I don't know if forks of this repo got the same notification, but I wanted to inform you that this library has been reported for copyright infringement by the original library I had forked, lots of lines and commits ago: the successful [`CameraKit-Android`](https://github.com/wonderkiln/CameraKit-Android).

I am sure you know this, because a link to that repo has always been pretty evident in our

[2017-10-18 22:16] natario1 commented on #69
Please be nice, **don't** write to them, open issues here or there, or any other counter-productive behavior :) we will sort this out.

[2017-10-19 11:03] tabassumLatif opened #70 "integration issue"
Error:Execution failed for task ':app:processDebugManifest'.

[2017-10-19 15:57] daright commented on #67
Here Xiaomi redmi 3s and also Android 6.0

[2017-10-23 11:34] MdFarhanRaja opened #71 "Unable to add dependency"
Unable to add dependency, it shows error like bellow
Error:Failed to resolve: com.android.support:support-annotations:26.0.2
<a href="install.m2.repo">Install Repository and sync project</a><br><a href="openFile:/home/rakshit/Downloads/CameraTest/app/build.gradle">Open File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

After clicking on Install Reposit

[2017-10-23 13:15] natario1 commented on #71
You might need to add the Google maven repo https://developer.android.com/studio/build/dependencies.html#google-maven

[2017-10-23 13:15] #71 closed

[2017-10-23 13:16] natario1 commented on #70
So see logs?

[2017-10-23 13:17] natario1 commented on #67
So the saved picture is blurred? Can you explain better, or post a video of this happening?

[2017-10-23 13:19] natario1 commented on #66
No, sorry, that's not how the hardware works.

[2017-10-23 13:19] #66 closed

[2017-10-23 13:25] #60 closed

[2017-10-23 19:10] Johnson145 commented on #61
Unfortunately, these problems could not be solved with your latest changes. The [Android docs state](https://developer.android.com/reference/android/hardware/Camera.html#setParameters(android.hardware.Camera.Parameters)) only that the called methods may fail `if any parameter is invalid or not supported`, but I start to believe that there may be other (hardware-related) issues that can cause these

[2017-10-23 19:18] Johnson145 commented on #26
Your latest changes seem to have solved the very most of the above issues. However, I'm afraid it's still not solved 100%. I got one more error:

`Fatal Exception: com.otaliastudios.cameraview.CameraUnavailableException: Error while starting the camera engine.
       at com.otaliastudios.cameraview.CameraController$2.run(CameraController.java:107)
       at android.os.Handler.handleCallback(Handle

[2017-10-23 19:21] Johnson145 commented on #58
This one seems to be solved, thank you! :)

[2017-10-23 19:21] #58 closed

[2017-10-24 11:26] natario1 commented on #26
@Johnson145 This one you posted might be fixable, can you open a new issue? With more info if you have any

[2017-10-24 11:29] natario1 commented on #61
@Johnson145 You mean errors triggered by `startAutoFocus` like the stacktrace here? I mean, get/set are called with every API so it's important to know which one was the trigger.

[2017-10-24 16:10] Aissa-H opened #72 "Video orientation settings (front & back camera)"
Hello !

**Thanks** for this great lib, working like a charm!

I'm currently using CameraView in my app for taking several video sequences. At the end of the user flow, I'm merging all these sequences to create one video. For this purpose, we use [mp4Parser](https://github.com/sannies/mp4parser), another great lib!

The problem I have now is that I have my sequences from the front camera upside do

[2017-10-24 16:20] natario1 commented on #72
Thanks! It could be possible from our side to provide the orientation, yes. But it is also already provided in the mp4 file. We don't apply rotations to the actual video, we just add the orientation tag.

So you should be able to read it from the mp4 file itself

[2017-10-24 19:46] Guimareshh commented on #72
Hey @natario1 ,

I'm working with @Aissa-H, the point isn't to know the orientation of a video (as you said we can read it from the mp4 itself). The goal is to avoid having videos with different orientation. Do you think it's possible ?

[2017-10-24 19:54] natario1 commented on #72
Oh, ok. So what could the library do? The device is free to rotate. I don't know about your app but I think you should take each MP4, read the orientation tag from the files, rotate videos to a common orientation (e.g. using ffmpeg or whatever) and then merge them.
This ensures that all your parts are correct.

No?

[2017-10-24 20:17] Guimareshh commented on #72
Using ffmpeg is fine to avoid orientation issue, but the process time to merge all MP4 together is incredibly slow. That's why we are using mp4Parser, it's very fast. But this library has orientation issue. As @Aissa-H said, there is a known bug for 2years now. So we are trying others way to fix the issue.

And one workaround could be to have the same orientation for both front and back camera, in

[2017-10-24 22:28] RobertoMorelos commented on #70
I'm facing the same error:
Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.android.support:exifinterface:26.0.2] AndroidManifest.xml:25:13-35 value=(26.0.2).
  	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:23:9-25:38 to override.

[2017-10-24 22:30] RobertoMorelos commented on #70
Apparently there are different versions of the android support library, I'm using the latest one (26.1.0) but the library is using the 25.

[2017-10-25 08:22] v-gar commented on #70
Hello, same problem here. @natario1 I already wrote you an email about this topic on Monday.

[2017-10-25 11:48] natario1 commented on #72
No, we can't rotate the video for you because it is time consuming. They have different orientations because sensors are built with orientations chosen by the manufacturer and the user can always tilt their device before recording. Videos are saved in an unspecified orientation.

The only way to have them correct is to read the tag and rotate, like VideoView does before displaying. If you must do

[2017-10-25 11:56] natario1 commented on #70
I think you can compile using `exclude group: 'com.android.support'` to fix this. Anyway if someone wants to PR and upgrade this to 26.1.0, that's welcome!

[2017-10-25 12:25] Guimareshh commented on #72
Ok I understand now, that's because of manufacturers and not because of the OS. Again, something painful for developers ! Anyway, thanks for your time (and for the lib, very easy to use 👍 ) we will close the issue.

[2017-10-25 12:25] #72 closed

[2017-10-25 12:40] v-gar commented on #70
Opened #73

[2017-10-25 13:00] VyacheslavShmakin opened #74 "Stock snapshot/image byte array"
Could you please add some functionality to provide return stock byte array from snapshot/image?
I think it would be much better if user will have ability decide what to do with this byte array.
It may be some kind of option.
Like captureImage(boolean processImage) and captureSnapshot(boolean processImage)

[2017-10-25 13:22] Ashutosh-Tiwari opened #75 "Odd even video rotation issue in video capture"
I am using the library for capturing multiple videos in one (like instagram).
But the issue is that when we flip the camera from real to back the rotation goes wrong.
Example scenario: If we start video capture from rear, and capture a video then flip the camera to front and capture a video and repeat the same for all video clips, the final video will contain all rear video clips with rotation 90

[2017-10-25 14:53] natario1 commented on #70
Merged, thanks

[2017-10-25 14:53] #70 closed

[2017-10-25 14:56] natario1 commented on #74
What's the use case for this? You can set `cropOutput` to false and that's it.

I think you might be satisfied with a frame processor #48

[2017-10-25 14:59] natario1 commented on #75
This is a duplicate of #72 .

We don't choose the orientations, the camera manufacturer and the device tilting do. 90 might be correct for your phone but not for all. In the demo app front videos reproduce just fine.

[2017-10-25 15:08] v-gar commented on #70
Can you push it to the Gradle repo?

[2017-10-25 15:09] VyacheslavShmakin commented on #74
Oh. It seems I missed #48. But there is some details.
There is some modifications for byte array that recieved from taken frame in **Camera1** class.
`
final boolean consistentWithView = (sensorToDevice + sensorToDisplay + 180) % 180 == 0;
                        byte[] rotatedData = RotationHelper.rotate(data, preWidth, preHeight, sensorToDevice);
                        YuvImage yuv = new YuvIma

[2017-10-25 17:08] RobertoMorelos commented on #70
If we exclude 'com.android.support' some features don't work properly like the cameraCropOutput and CameraUtils (I got some crashes). @natario1 in which version this upgrade/fix will be at? Thanks a lot!

[2017-10-25 17:27] natario1 commented on #70
Oh sure. I will release a new version in the next days, meanwhile you can use some other workaround, just google the error to find. (or you can use 26.0.1 in your other dependencies since there's no real difference). Thanks!

[2017-10-26 07:12] ninjaintrouble opened #76 "decodeBitmap utility OOM with large pictures"
`FATAL EXCEPTION: FallbackCameraThread
                                                                          Process:  camera_module, PID: 27112
                                                                          java.lang.OutOfMemoryError: Failed to allocate a 63701004 byte allocation with 16777216 free bytes and 60MB until OOM

[2017-10-26 07:55] ninjaintrouble commented on #76
It crashes in the demo app too.

[2017-10-26 13:09] Johnson145 opened #77 "Error while starting/stopping the camera engine - Camera is being used after Camera.release() was called"
As requested in #26, I'm opening a new issue:

Your latest changes seem to have solved the very most of the `Camera is being used after Camera.release() was called` issues. However, I'm afraid it's still not solved 100%. I got one more error:

[code]

Code lines are refering to the master branch of my fork using the extended error handling, but that shouldn't be a problem.

It's very seldom though

[2017-10-26 13:25] Johnson145 commented on #61
The quote above refers to `{g|s}etParameters` in general. I might be wrong though.

In my error logs, the very most of the failed `{g|s}etParameters` calls are related to the auto focus. So I was hoping that there is a specific solution for that cause. However, there may be a more general underlaying cause. I don't know. I'm not changing other parameters during runtime, except toggling the camera

[2017-10-26 13:28] Johnson145 commented on #77
The same situation produces the following stacktrace inside of the stopping method (in contrast to starting it as above):

`Fatal Exception: com.otaliastudios.cameraview.CameraUnavailableException: Error while stopping the camera engine.
       at com.otaliastudios.cameraview.CameraController$3.run(CameraController.java:134)
       at android.os.Handler.handleCallback(Handler.java:739)
       at a

[2017-10-26 13:35] Johnson145 opened #78 "Error while stopping the camera engine - NPE"
Sometimes I get a `NullPointerException` when trying to stop the camera:

[code]

I don't think this is the same problem as #77, because here the camera was started completely. At least I received the `onCameraOpened` event before getting this error.

[2017-10-26 13:38] Johnson145 commented on #77
And another related one in `Camera1.computePreviewSize:`

[code]

[2017-10-26 13:42] Johnson145 commented on #61
Sometimes the auto focus fails with a `RuntimeException`, too. However, this is not about `{g|s}etParameters` and may be hardware related. What do you think?

[code]

[2017-10-26 13:48] Johnson145 commented on #77
I'm afraid I got one more. All in all, they look pretty much the same as in #26.

[code]

It's always the same: `cameraView.start()` was called, but the `onOpened` event wasn't triggered yet. Then there is an Activity's `onPause` calling `cameraView.stop()`.

[2017-10-26 13:54] Johnson145 commented on #77
[code]

[2017-10-26 14:07] Johnson145 commented on #76
`decodeBitmap` loads the full bitmap into memory which will force an OOM at some point. If you don't need the full resolution, you can load a smaller bitmap like so:

[code]

You may need to modify it in order to provide your correct context as well as removing unneccessary log calls.

[2017-10-26 15:04] natario1 commented on #76
See also
#12
https://github.com/natario1/CameraView/issues/49#issuecomment-333179061

[2017-10-26 15:06] Aissa-H opened #79 "<merge /> can be used only with a valid ViewGroup root and attachToRoot=true"
Hi @natario1 !

After passing to the version 3.0 of Android Studio and to the version 27 of buildTools and support library, I had this crash immediately when I open the activity the CameraView is into. Maybe you have an idea about that?

Thank you for your work! :+1:

[code]

[2017-10-26 15:07] #75 closed

[2017-10-26 15:12] natario1 commented on #79
No idea. Make sure you are using the latest version

[2017-10-26 15:19] natario1 commented on #78
This is expected, it should not be an issue, it's in a try block.

See, when app is closed we release the camera twice, one from onPause, one from onDestroy, just to avoid some nasty bugs when changing configurations. This means that one of the two will fail (but we are sure that camera is released). The exception is caught anyway

[2017-10-26 15:20] Aissa-H commented on #79
I had a useless dependency to CameraKit lib in my gradle, by removing it, it's working (maybe some conflict of classes?) ! :+1:

[2017-10-26 15:21] natario1 commented on #79
Yes, likely our class was loading their XML file.

[2017-10-26 15:21] #79 closed

[2017-10-26 15:26] natario1 commented on #77
I'll take a look at this, thanks! So the event chain is,

onResume()
start()
[onCameraOpen not called]
onPause()
stop()
crash ?

Are you logging onDestroy as well? I think it might be the real issue here

[2017-10-26 15:38] natario1 commented on #77
*If* destroy is the cause, this might not be a real bug, and just got to the surface because you are logging these exceptions. If `onStart()` / `onStop()` throws an exception that won't crash the app, it just crashes a secondary thread which we recycle soon after.

And I *expect* `onStart()` / `onStop()` to crash if `destroy()` is called at the same time (but we get the result - camera is destroye

[2017-10-26 15:40] natario1 commented on #77
Still, [this trace](https://github.com/natario1/CameraView/issues/77#issuecomment-339668791) should not happen and must be fixed (because it runs in the UI thread so it's not caught)

[2017-10-26 15:44] Johnson145 commented on #77
You seem to be right for the `Error while starting/stopping the camera engine - Camera is being used after Camera.release() was called` part: there is a following `onDestroy` call.

As you pointed out correctly, too: there is _no such call_ for `computePreviewSize`. There isn't one for the last case of `startPreview failed` either.

[2017-10-26 16:09] natario1 commented on #77
I'll work on the internal logger so people can attach a custom logger (e.g. Crashlytics) and access our internal logs, it would be helpful I think.

[2017-10-27 14:07] natario1 commented on #48
@andrewmunn I'm thinking of providing the byte[] array plus the rotation angle to rotate the image to be consistent with what the user sees. Is there anything else you would like to have in the callback?

I'm also thinking that the callback will be run in a background thread so you can do your job there

[2017-10-27 15:14] MatyasK opened #81 "Instead of Grid a circle in the center of the cameraview?"
Is it possible to replace the grid with circle in the center?

[2017-10-27 15:52] natario1 commented on #81
No but you are welcome to contribute and add a new `Grid.CIRCLE` mode!

[2017-10-27 19:41] #48 closed

[2017-10-27 19:41] #74 closed

[2017-10-27 19:43] natario1 commented on #78
So from my understanding this should be a non-issue related to destroy, feel free to reopen if it's not the case.

[2017-10-27 19:43] #78 closed

[2017-10-28 12:59] #12 closed

[2017-10-28 12:59] #76 closed

[2017-10-29 12:45] v-gar commented on #70
Works now. (v1.3.0) :+1:

[2017-10-31 08:36] ManueGE commented on #31
If I remove listener from `onCameraClose` method, I get a crash:

[code]

Any other idea?

[2017-10-31 09:35] ManueGE opened #84 "Swap facing makes camera freeze"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

##### Detailed steps to reproduce the issue:

1. Open app
2. press the toggle facing button

##### Expected behavior:

The camera should swap from back

[2017-10-31 11:30] natario1 commented on #84
I can reproduce this, it used to work fine, thanks for reporting.

[2017-10-31 11:31] natario1 commented on #31
It's a bug, can you open a new issue @ManueGE ?

[2017-10-31 12:13] ManueGE commented on #31
Sure, I will @natario1 .

Thanks :)

[2017-10-31 12:15] ManueGE opened #85 "Trying to remove `CameraListener` from `CameraListener` methods leads to a crash"
##### Detailed steps to reproduce the issue:

Add this code:

[code]

##### Expected behavior:
The listener must me removed.

##### Actual behavior:
The app crashes with this error:

[code]

##### Suggestions:

Replace the `mListeners` list in the calls to listeners by an iterator

[2017-10-31 12:22] natario1 commented on #85
Thanks! AFAIK the iterator would break anyway, I think we should use `CopyOnWriteArrayList`s instead of `ArrayList`

[2017-10-31 12:27] natario1 opened #87 "Improve Frame recycling"
We could use `camera1.setPreviewCallbackWithBuffer` instead of `camera1.setPreviewCallback` for frame processors.

Right now, each preview frame allocates a new byte[] array, even if there are no registered frame processors.

This is not super easy because we are posting frames to another thread and have no easy way of knowing when the byte[] array has been consumed. The only thing that comes to m

[2017-10-31 12:35] #84 closed

[2017-10-31 13:05] #85 closed

[2017-10-31 13:09] ManueGE commented on #84
Great, any estimated date for new release?

[2017-10-31 13:09] natario1 commented on #84
Now

[2017-10-31 17:32] sksar opened #89 "How to create live filter effects using frame processing ?"
I want to create live filter effects... What i am looking for is a solution where I use a frame processor which processes each frame with enhanced colors and effects, and returns it to the cameraView...

How do i do it, I don't understand..
The code does not seem to do what i want... anyone can help ??

[2017-10-31 17:39] natario1 commented on #89
I don't know either! :-) we only provide the `byte[]` array. Try asking on Stack Overflow.

[2017-11-01 04:52] andrewmunn commented on #87
You could require any registered frame processors to call a `finished()` method when they're done with the buffer.

[2017-11-01 05:01] andrewmunn opened #90 "Activity Leak caused by HandlerThread"
CameraView is so awesome. I just implemented the Frame processor for barcode detection. However, Leakcanary keeps telling me there is a memory leak!

- [x ] *I am using the latest version* (1.3.1)
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Install [Leakcanary](https://gith

[2017-11-01 12:06] natario1 commented on #90
Setting the uncaughtExceptionHandler to null makes a lot of sense. Can you try to do that in `CameraController.stopImmediately` and see if this is fixed?

[2017-11-01 14:50] sksar commented on #89
@natario1
Maybe taking a return of the processed frame from the function and passing it to the camera-view ?

[2017-11-01 16:04] natario1 commented on #87
This was the original idea, there is `release()`, but there are two possible roads:

- if a frame comes and the processor is still managing the other, allocate a new array. This has a memory footprint and is harder to implement, but ensures that the processor won't lose any frame
- if a frame comes and the processor is still managing the other, consider it lost - we only have a single byte[] array

[2017-11-01 17:45] andrewmunn commented on #87
Before using `CameraView`, I used Google's sample code for using the barcode vision library. Checkout [CameraSource](https://github.com/googlesamples/android-vision/blob/master/visionSamples/barcode-reader/app/src/main/java/com/google/android/gms/samples/vision/barcodereader/ui/camera/CameraSource.java#L808).

In short, CameraSource adds 4 frame buffers, and then a background processing thread for

[2017-11-01 17:57] RobertoMorelos opened #91 "Image quality 100% takes a huge amount of memory"
- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Set the quality image to 100.
2.Take a photo and display the bitmap in a image view.
3.Check the memory usage.

#### Expected behavior:
App should not consume a huge amount of memory.

#### Ac

[2017-11-01 18:00] natario1 commented on #87
This is pretty much Option 1, but I am concerned about the delay issue. Let's say that we can allocate infinite arrays, camera sends 1f each 20 ms (50 fps), processing a frame takes 100ms.

Even with an infinite queue, soon the processor won't be in sync with the preview, it will be processing old (very old) frames, and this gets worse.

I have never done frame processing, so I don't know if a fra

[2017-11-01 18:02] natario1 commented on #91
You can load a smaller version using CameraUtils.loadBitmap(byteArray, maxWidth, maxHeight). Uncompressed images *are* huge

[2017-11-01 18:05] RobertoMorelos commented on #91
I used the cameraCropOutput feature and the generated byte array was ok, but you first create a bitmap and crop it, that bitmap is consuming a huge amount of memory.

[2017-11-01 18:07] andrewmunn commented on #90
Yep, looks like adding `mHandler.getThread().setUncaughtExceptionHandler(null);` into `stopImmediately` fixes the issue.

[2017-11-01 18:11] natario1 commented on #91
It's true that we are missing a `recycle()`, do you want to create a PR? We should add `crop.recycle()` at the end of `CropHelper.cropToJpeg`.

[2017-11-01 18:12] andrewmunn commented on #87
For my usage, processing a frame actually takes about 40 ms, and each frame is 33ms (30 FPS). I don't want to fall behind in processing, so what I do is just skip frames if I can't keep up. That's how `CameraSource` works, because it just discards frames that come in during processing, by only retaining the latest frame.

[2017-11-01 18:16] natario1 commented on #87
I see. Thanks, I'll think about this and set up a PR

[2017-11-01 18:18] natario1 commented on #90
Cool! Can you file a PR as well? Or I'll do it

[2017-11-01 18:28] RobertoMorelos commented on #91
Sure, let me check that!

[2017-11-01 18:30] andrewmunn commented on #90
I'll file a PR!

[2017-11-01 20:11] RobertoMorelos commented on #91
We can use Glide for decoding byte arrays. The other way is to resample the image. I tried using the recycler pero there is no difference, pretty much the same.

[2017-11-01 20:29] #90 closed

[2017-11-01 21:06] RobertoMorelos commented on #91
Working on resampling the image. Found a pretty good improvement.

[2017-11-01 22:57] natario1 commented on #91
Resampling (cropping) the byte[] array? Feel free to discuss here

[2017-11-01 23:16] RobertoMorelos commented on #91
No, I meant the bitmap (not sure if you can do that with a byte array).

[2017-11-03 16:49] #89 closed

[2017-11-06 22:35] #87 closed

[2017-11-08 16:33] Johnson145 commented on #77
What about making all code parts that rely on the `mState` mutually exclusive? As you are already validating that state, it would prevent raising those errors in the first place.

[2017-11-09 09:20] agonshehu commented on #21
Hello @freimaks  have you tried the dual camera mode in Samsung devices !? i have been having a difficult time with them, as it seems that Samsung intentionally blocks this feature for its own private use.

[2017-11-09 09:26] freimaks commented on #21
Hello @agonshehu !

No, I tested only on the emulator.
As far as I know the work of two cameras may simply not be supported by the device.

[2017-11-09 09:29] agonshehu commented on #21
Samsung supports it internally and some claim that they have achieved it. But i unfortunately havent.

[2017-11-09 13:58] morejump opened #95 "Feature request: use FrameProcessors to do pre-processing (e.g. live effects)"
it really difficult to start without sample!!

[2017-11-09 18:59] amakhaev commented on #61
Hi guys. I have the same problem. Could you tell me please do you want to fix this bug in the (near) future?

P.S.
The bug is reproduces on device that has android 5.1.1. Another device not catch this exception (android 7.0).
This is my stack trace:
[code]

[2017-11-10 07:17] morejump commented on #95
now i want to get frame to process in opencv  c++, i have to get frame and use JNI then. But i dont now how to get instance of frame

[2017-11-10 09:42] Johnson145 commented on #61
Btw, I found the stacktraces for the automatically-scheduled focus reset again. That code part is failing, too. It's actually even the place that fails most often.

[2017-11-10 10:51] natario1 commented on #95
We provide a java callback, then it's up to you. The only docs we can provide are already here https://github.com/natario1/CameraView#frame-processing . I know nothing about JNI but I am sure you can find a lot of info.

[2017-11-10 10:55] natario1 commented on #61
@Johnson145 thanks! Can you post the stacktrace?

[2017-11-10 11:04] natario1 commented on #77
You mean not calling them at the same time?

start() and stop() are executed on another thread so we don't block the UI thread, while destroy() is executed on the UI thread because of nasty things that might happen when you do configuration changes (e.g. stop() from old activity not finished when start() from new activity is called).

Then I have introduced thread caching in the `WorkerHandler` cl

[2017-11-10 11:56] Johnson145 commented on #61
This one is almost identical to the ones above. It's raised by Samsung devices only:
[code]

This one differs a bit and is raised by arbitrary devices (including some Samsung models, too):
[code]

[2017-11-10 11:59] Johnson145 commented on #61
The very last stacktrace seems to occur only while recording a video.

[2017-11-10 12:33] Johnson145 commented on #77
Calling them may be alright, but the critical code parts should be mutually exclusive. So I would extend the CameraController class by a new `private final Object mStateLock = new Object();`. Then wrapping all code parts that depend on mState(especially the ones changing it) with `synchronized (mStateLock) { .. }`. Just as you already did for `setParameters` related parts in Camera1.

[2017-11-10 19:37] cyfer commented on #17
Hi @natario1 , thanks for the great library! Is there any update on being able to record Square videos? I have seen on another thread a user proposing the use of ffmpeg to achieve this, but I would prefer a “native” solution if possible.

[2017-11-11 03:13] aaronjrenfroe commented on #95
Is it possible to process the frames before they get displayed?

[2017-11-11 17:42] natario1 commented on #77
Yes this can solve a couple of issues. I will do this 👍

[2017-11-11 17:43] natario1 commented on #95
@aaronjrenfroe no, sorry! Not easy.

[2017-11-11 17:45] natario1 commented on #17
Thanks @cyfer ! I don't know, but subscribe to this issue to get updates

[2017-11-13 04:01] morejump commented on #95
@natario1 I dont know how to use instance of frame before returning it to the preview. Can u give more detail about that, plz!!!

[2017-11-13 04:12] Hrishi1999 commented on #95
Well, I am not natario but ;) I've successfully implemented a frame processor in my app. You can ask me.

[2017-11-13 05:14] Aimank96 opened #96 "How do i use it inside recycler view>"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

[2017-11-13 10:59] natario1 commented on #95
@morejump it is not supported. you can only do post-processing (barcodes, face detection, ...)
@Hrishi1999 if your solution is open source somewhere we can take a look!

[2017-11-13 13:41] morejump commented on #95
@Hrishi1999 come on, can u tell me, how can it do it, plz :(

[2017-11-13 13:49] Hrishi1999 commented on #95
I am sorry if I misunderstood. Or maybe a few comments have been edited. What I meant is I can use the frames to do something, like maybe a realtime barcode scanner, or OCR?? Please explain me more, I implemented a frame processor, maybe I can help.

[2017-11-13 14:05] natario1 commented on #95
What he and some others are asking for, is to process the frames before they are displayed, so the preview displays the edited frame buffer instead of the real image. This is not possible with CameraView.

[2017-11-14 09:39] natario1 commented on #96
You can only have 1 active CameraView per sensor (so 1 with back camera and 1 with front camera, if you can setup them). The others will be black. So this is not really a good idea.

[2017-11-14 09:41] natario1 commented on #69
GitHub support is unable to put a definitive word on this issue, but I would consider this solved for now. Guys at CameraKit never answered.

[2017-11-14 09:41] #69 closed

[2017-11-14 11:55] #61 closed

[2017-11-14 11:55] #77 closed

[2017-11-14 14:16] Aberrational opened #98 "Possible race condition. Quick rotations result in crash."
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Open demo app
2. Rotate device
3. Rotata again (quickly!)
4. Loop 3. few times until crash (race conditi

[2017-11-14 14:58] natario1 commented on #98
Are you using v. 1.3.2 or the latest `master`? This might be already fixed by #97

[2017-11-14 15:10] Aberrational commented on #98
Demo app: latest master
My own code (same issue):
compile 'com.otaliastudios:cameraview:1.3.2'

It's not easy. You have to want to crash it. Don't always wait for the rotation to complete. Change the frequency. I can get it to crash in about 15 turns.

[2017-11-14 16:19] natario1 commented on #98
Ok I understand why.

stop() and destroy() are called simultaneously.

destroy() exceptions are swallowed and that's good.
stop() exceptions are caught by the uncaughtExceptionHandler.

But destroy() sets the uncaughtExceptionHandler to null.

I'll fix this

[2017-11-14 16:33] natario1 commented on #98
No I don't really understand. Sorry for the question, is the app really crashing or are you just seeing this error in the logs? This should crash a separate thread.

[2017-11-14 17:09] natario1 commented on #98
You can try this branch and see if it's fixed https://github.com/natario1/CameraView/tree/resolution

I can't reproduce on my device.

[2017-11-14 18:13] #49 closed

[2017-11-14 18:13] #98 closed

[2017-11-15 10:50] MatyasK opened #100 "CameraListener Called Twice"
HI,
So I have a weird issue or bug. I have cameraview with button, and I mapped the TAp gesture to capture a photo or you can click the button, whatever is clicked the clicklistener called two times. Even if I disable the button or gesture.

Here is my layout:
`  <FrameLayout
        android:id="@+id/camera_frame"
        android:paddingTop="?attr/actionBarSize"
        android:layout_width="match

[2017-11-15 10:53] natario1 commented on #100
Maybe your init method is called twice.

[2017-11-15 11:00] MatyasK commented on #100
totally my bad, in my base activity I called init method as well. You saved my day. Thank you :)

[2017-11-15 11:02] #100 closed

[2017-11-15 11:09] Aberrational commented on #98
Confirming that the RuntimeException no longer crashes the app. Both for demo from latest master and 1.4.0 used in code.
Sorry for no response. Different timezones :) Thanks for super quick fix.

[2017-11-15 11:11] natario1 commented on #98
Thanks for reporting!

[2017-11-15 15:25] Sun1718 opened #102 "Issue in capture video"
Hi,
First, thanks for your useful codes. I have tested demo app with Sumsung Galaxy Core (android 5.1.1). Everything is OK, but
1- captured video with back camera is not saved correctly.(screenshot is attached)
2- captured video with front camera is OK, but it is flipped horizontaly.

- [*] *I am using the latest version*
- [*] *I can reproduce the bug in the demo app, and if not...*
- [*] *I have

[2017-11-15 17:14] buelersandra opened #103 "queueBuffer: BufferQueue has been abandoned"
how to prevent "queueBuffer: BufferQueue has been abandoned" when view is dismissed from screen without taking a picture after cameraview.Start() is called.

[2017-11-15 17:20] natario1 commented on #103
I don't know what that means

[2017-11-15 17:25] buelersandra commented on #103
<img width="627" alt="screen shot 2017-11-15 at 5 23 35 pm" src="https://user-images.githubusercontent.com/11475652/32850396-ea277528-ca29-11e7-9897-de08734d5216.png">

[2017-11-15 17:52] Sun1718 commented on #102
Thanks for your quick reply.

I've attached demo app logs:
[log.txt](https://github.com/natario1/CameraView/files/1475765/log.txt)

[2017-11-15 19:05] natario1 commented on #102
What if you reproduce the video ( /data/data/com.otaliastudios.cameraview.demo/files/video.mp4 ) with another app, can you do that? You can edit the demo app and choose another directory if it helps.

I don't see anything strange in your logs, not sure I can help!

[2017-11-15 22:01] Sun1718 commented on #102
I changed video path, recorded video is same as that screenshot.
Then I changed video quality from menu to higest and it recorded correctly.(Actual Resolution is 720*1280)

What is youe idea?

Thanks again.

[2017-11-15 22:12] natario1 commented on #102
Uhm.. No idea!

[2017-11-18 20:27] aaronjrenfroe opened #106 "Documentation on onPictureTaken()"
The byte[] passed to  `onPictureTaken()`, is that the raw image data containing the rgb values or is it in an image format already?

[2017-11-18 20:30] natario1 commented on #106
The latter, it is a JPEG file. You have to decompress to access raw values

[2017-11-18 20:40] Sun1718 commented on #102
I've checked it. The result was same as 1.4.

[2017-11-18 20:52] natario1 commented on #102
Then I really don't know why, sorry.

[2017-11-18 20:56] Sun1718 commented on #102
Thanks.

[2017-11-19 11:37] natario1 commented on #4
I can't reproduce this anymore so I guess it's been fixed.

[2017-11-19 11:37] #4 closed

[2017-11-19 11:38] natario1 commented on #64
It's been a month now, I'm closing this. Feel free to open a new issue if the problem persist with latest version, and filling the issue form.

[2017-11-19 11:38] #64 closed

[2017-11-19 11:39] #96 closed

[2017-11-19 11:40] natario1 commented on #106
If you want to make this clear in the documentation, feel free to open a PR!

[2017-11-19 11:40] #106 closed

[2017-11-19 11:46] natario1 commented on #103
It's because we release stuff asynchronously (e.g. not exactly `onStop` but some moments later). See this very good answer: https://stackoverflow.com/a/22490648/4288782 .

We release the camera *moments after* the surface has been destroyed, and that's where you get that warning, until the camera is destroyed too. I think we can safely ignore it.

[2017-11-19 11:46] #103 closed

[2017-11-19 19:41] vedmedenko opened #107 "Any way to disable auto focus?"
Hi!

Is it possible to disable camera auto focus feature with your library?

Thank you in advance!

[2017-11-19 20:08] natario1 commented on #107
No. May I ask why you want to disable it?

[2017-11-19 20:19] vedmedenko commented on #107
I want to calibrate android camera using OpenCV methods for later use. That process, as far as i know, requires the camera focus to be locked. Your great library seems to be the best choice since i want to focus on other stuff instead of dealing with the camera, however i am missing this feature.

[2017-11-19 20:33] natario1 commented on #107
Calibrate what? (Just curious).

This feature was present but I have removed it months ago. I had (have) the feeling that 99.99% of users would just need the best focus option.

Also focus modes are complicated to wrap in a useful API. Maybe Focus.BEST and Focus.OFF. if anyone wants to work on it we can discuss.

[2017-11-20 11:44] Monster-king opened #108 "Rotated preview on front camera"
Preview rotated to 180 degrees on front camera (only preview)

- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Take Samsung Galaxy Tab S (android 6.0.1)
2. Open CameraView demo app
3. Change camera to front

#### Expected behavior:
Normal p

[2017-11-20 11:50] Monster-king opened #109 "Native integration to speed up things like cropOutput"
Taking picture without cropping output takes ~0.5 - 0.8 seconds. When set crop output to true it takes ~3 seconds. Is there any way to make it faster?

[2017-11-20 14:06] natario1 commented on #109
It's not only slow, it's also prone to out of memory errors #91 . We take the JPEG, decompress to `Bitmap` in full resolution, crop the `Bitmap`, compress again to JPEG. This is a relic from CameraKit and it sucks.

- To make it faster in your app you can simply not use it. Use `wrap_content` for width and height so there is nothing to be cropped.

- To make it faster in the library we need to use

[2017-11-20 16:47] natario1 commented on #108
Thanks. I don't have the device so we need more info.

1. Can you post logs coming from the demo app?

2. Can you try with another library, like this https://github.com/afollestad/material-camera ? What happens? Just to understand if it's a device specific issue.

[2017-11-20 22:01] natario1 commented on #109
This looks easy:

- clone https://github.com/libjpeg-turbo/libjpeg-turbo
- build a .so file for armeabi-v7a using [instructions](https://github.com/libjpeg-turbo/libjpeg-turbo/blob/master/BUILDING.md#armv7-32-bit-1)
- add the file to CameraView
- add their [java bindings](https://github.com/libjpeg-turbo/libjpeg-turbo/blob/master/java)

In this case we don't need the NDK at runtime (just for build

[2017-11-21 06:36] Monster-king commented on #108
1. there logs:
[logs.txt](https://github.com/natario1/CameraView/files/1490248/logs.txt)
2. I try https://github.com/afollestad/material-camera, but it don't work on my device. Instead it I tried https://github.com/google/cameraview and there error not observed

[2017-11-21 10:14] osama-raddad opened #110 "Manifest merger failed with multiple errors"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

I am trying to update the library to v1.4.0 from v1.2.1

#### Expected behavior:

update and build with no

[2017-11-21 11:01] brn2393 opened #111 "Lagging and blackened camera preview on accepting permissions on Android 6.0.1 or above"
- [ x] *I am using the latest version*
- [ x] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. add camera and storage permissions in manifest
2. deny permissions on Android 6.0.1 before starting camera activity
3. start activity and accept the permissions
4. camera preview starts with

[2017-11-21 11:24] natario1 commented on #110
Thanks! This is not our problem. You have conflicts with other dependencies. Take a look on StackOverflow to see what's happening.

[2017-11-21 11:24] #110 closed

[2017-11-21 12:01] natario1 commented on #108
I think I have fixed this in #112 .

You can give it a try before we merge if you want. It's just one line to change by hand.

[2017-11-21 12:10] natario1 commented on #111
We can't show any preview before having camera permissions so... it must be black. And opening the camera takes time.

I don't know why your activity goes through onResume / onPause so often. Maybe every permission that you ask triggers a new dialog. Maybe there are other dialogs. I don't know.

If this is bothering you, don't call start and stop if you don't have permissions (e.g. manage permissi

[2017-11-21 12:13] natario1 commented on #67
Closing this for a month of inactivity. Feel free to open another if the issue persists with latest version, and fill the issue form. A video would help in this case.

[2017-11-21 12:13] #67 closed

[2017-11-21 12:25] brn2393 commented on #111
no sir its not completely black screen. here's a screenshot. I am trying your solution now.
![device-2017-11-21-175335](https://user-images.githubusercontent.com/20436497/33072352-2a86f1ce-cee5-11e7-944f-44844516e368.png)

[2017-11-21 14:34] Ashutosh-Tiwari commented on #56
@UGhari  I wonder how much time it takes in cropping a video of about 1 minute, that too having 720p of videoQuality. I too used the ffmpeg with similar command to get the cropping done. But it costs me 10 seconds. I wonder how I can improve the cropping.

@natario1 I guess somehow the library can be tweaked in order to capture the video directly in square size (may be by doing something with comp

[2017-11-21 14:54] natario1 commented on #56
My opinion is that the whole cropOutput thing is a mess. It's just not worth the benefit, and even for pictures it can cause OOM errors and is slow. I'm thinking that probably it should be removed in `v2`.

The library could improve the video size support, yes. #17 . So devices which support it, might be able to record directly in 1:1. It's just hard to implement that while respecting the `VideoQu

[2017-11-21 15:03] Ashutosh-Tiwari commented on #56
Agree to what you said, and therefore I anyway have't used cropOutput at all. Instead I changed the onMeasure to provide squarePreview and the square photo capture works. Just the video sucks.
More on this, I am using your library to make an app that entertains exactly what Instagram is offering in Custom Video Camera. I record small clips and then join those using ffmpeg, but when I add cropping

[2017-11-21 17:50] natario1 commented on #56
onMeasure is better left as it is. I think I'll make it final because overriding gives lots of issues. You should

- use `setPictureSize(SizeSelectors.aspectRatio(AspectRatio.of(1, 1)))` to achieve the desired aspect ratio for pictures
- set width and height to `wrap_content` (it'll be 1:1 to match the picture size)

Now you have 1:1 preview and pictures. For video, you should edit `mediaRecorder.

[2017-11-22 06:13] brn2393 commented on #111
your solution didn't work. Any update on the issue?

[2017-11-22 10:12] #108 closed

[2017-11-22 10:17] natario1 commented on #111
No, I don't think we are doing anything wrong. It might be just a device specific issue with your auto exposure. You can google this, there are lots of reports about darkened camera preview, even in popular apps. But no solution.

[2017-11-22 10:38] brn2393 commented on #111
I guess there's bug with devices running on 6.0.1 or above. Anyway thanks for quick reply and the great library. Hope to see Camera2 api complete integration soon.

[2017-11-22 11:36] natario1 opened #113 "Thoughts for v2"
I would say that `v1.4.X` is a very stable release, and there's just minor refinements to do.
Major changes would require API signature changes as well so I am starting thinking about a `v2` release based on feedback and requests. This is how I see it.

|API|Action|
|----|-------|
|`Audio` enum|**Improve** it, not just `ON` and `OFF` but rather audio options to be passed to the video recorders.|
|

[2017-11-23 07:15] Monster-king commented on #108
Working fine

[2017-11-23 09:15] yogarajsubu opened #114 "Unable to record video for less than 2 sec"
Scenario:

Capture a Video for 5 sec the output file will be of 3 secs.

If I try to capture less than 2 sec. It will be getting EOF Exception if we try to use the video file.

[2017-11-25 06:30] ychescale9 commented on #113
Any timeline for supporting Camera2? Thanks.

[2017-11-25 11:34] natario1 commented on #113
I see no urgency for that, so it will come *after* v2 unless someone works on that.

[2017-11-25 11:36] natario1 commented on #114
Please subscribe to #65 .

[2017-11-25 11:36] #114 closed

[2017-11-27 08:51] lsw19921030 opened #115 "Camera shutter is still playing sound even if cameraAudio=off is set in XML"
First, I really really appreciate your work in this library. Google's CameraView sucks, CameraKit is OK but still with problems. And then yours really saved my life, especially I have to say, your documentation is the best among those personally libraries I have ever seen. Good work!!

I encountered one issue while using CameraView, that is, with XML attributes
[code]
I can still hear the shutter

[2017-11-27 09:12] siralam opened #116 "Distortion in the the frozen preview of the picture that has just been taken"
(I tested in Android 4.4.1, 5.0.2, 7.0.0 and 7.1.1, only reproduced in 4.4.1. (API19)).

[code]
The above line has been set in XML.
However, the preview image right after clicking shutter, is still distorted in an Android 4.4.1 device.
The image is horizontally squeezed. i.e. Things look thinner than in real world.

[2017-11-27 09:45] lsw19921030 commented on #115
Ah. I noticed that your have mentioned already in doc that camera1 engine default plays sound.

[2017-11-27 09:45] #115 closed

[2017-11-27 09:48] lsw19921030 commented on #116
By the way, the output bitmap is correct. This aspect ratio problem appears only in the preview.

[2017-11-28 02:10] lsw19921030 commented on #116
I have tried all kinds of attributes:
[code]
[code]
With or without
[code]
With or without
[code]

But none of them produce correct result.

I have also checked that hardware acceleration is turned on.

[2017-11-28 02:41] lsw19921030 commented on #116
Here are the screenshots.

The "normal" preview (no picture token):
![screenshot_2017-11-27-17-58-11-942_com cehl windsorhouse](https://user-images.githubusercontent.com/28033467/33299750-1960ee8e-d428-11e7-9181-354ca9cabca4.png)

The distorted preview (The static preview when a picture is token):
![screenshot_2017-11-27-17-58-18-936_com cehl windsorhouse](https://user-images.githubusercontent.com

[2017-11-28 06:20] Monster-king opened #117 "Changing session is slow also previews are not the same"
- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Change session type from picture to video or from video to picture.

#### Expected behavior:
Fast changing and same previews
#### Actual behavior:
Changing session taking about 1.5 - 2 seconds

[2017-12-03 21:52] natario1 commented on #117
This is all working as intended. We change the preview size when recording video, to match the video output ratio. The whole logic is a bit messy but that's how it is at the moment.

For this reason (close preview, change size, open preview) changing session type is slow. This is common in camera apps though.

[2017-12-03 21:57] natario1 commented on #116
Hi, thanks for the report. What is the "static preview when a picture is taken"?

We only have a preview (not distorted, I hope) and an output picture (not distorted, I hope). If I didn't get this, can you post a video?

[2017-12-04 05:02] lsw19921030 commented on #116
You got it, it is the preview that you mentioned. I call it static because in my mind there are 2 previews:
(1) Continuous picture showing in SurfaceView, when user takes no action
(2) The preview that freeze for about 1 second, act as the preview for the picture that user has taken

And I mean (2) is this issue

[2017-12-04 07:33] Monster-king commented on #117
@natario1 How I can avoid this? Because in my case preview size not changing when session changes.

[2017-12-04 09:45] natario1 commented on #117
You can just use video mode without switching.

[2017-12-04 09:50] Monster-king commented on #117
@natario1 Is it possible capture picture in video mode?

[2017-12-04 09:53] natario1 commented on #117
Yes, but the preview size will try to match the *video* output size, not the *picture* output size. Might not be a big deal.

[2017-12-04 11:06] Monster-king commented on #117
@natario1 thx, works fine

[2017-12-04 18:16] devoma opened #118 "Video preview stretched while recording"
When I start to record the video is stretched and after recording it becomes correct.

If the video quality is set to Lowest then  it is stretched vertically, that is, by height. And when set quality to 480p then it is stretched by witdth.

And if I put other qualities, it works correctly!

Maybe this information will help to understand the problem

Device: LG K8. Android 6.0.
I Am using the lates

[2017-12-04 18:18] natario1 commented on #118
Does It happen with 1.4.0?
Please add logs from 1.4.1.

[2017-12-04 18:48] devoma commented on #118
**Lowest Quality logs:**

**Max480p Logs:**

[2017-12-06 12:52] Monster-king commented on #118
@natario1 I've same issue too. #117 in this bug you can see screens and logs.

[2017-12-06 12:59] natario1 commented on #118
Stretching means deformed. @devoma please answer my question about 1.4.0 and post a screenshot where the deformation is visible. Or better a video! Thanks 🙂 video quality is not important.

[2017-12-06 13:48] Monster-king opened #119 "Leaked 2 GPU objects! Fatal signal 6 (SIGABRT)"
- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*
This issue observed on A3 after updating OS version to 7.0.0
#### Detailed steps to reproduce the issue:

1. Add cameraview inside fragment.
2. In activity add viewpager and add fake fragment and fragment with cameraview to the viewpager
3.

[2017-12-06 18:37] devoma commented on #118
@natario1, no, It happens with 1.4.1. I posted the video, check it.

[2017-12-07 06:00] ritesh94 opened #120 "How to Record and Preview Video in Aspect ration 1:1"
How do I record and preview a video in 1:1 aspect ratio.

Currently, I am only able to record in 1:1 ratio but while previewing the video in bigger than ratio.

[2017-12-07 09:28] natario1 commented on #120
You can't, see existing issues

[2017-12-07 09:28] #120 closed

[2017-12-07 13:01] ritesh94 opened #121 "cameraview.getFlash() is always OFF"

[2017-12-07 13:25] #121 closed

[2017-12-07 17:46] ritesh94 commented on #120
Is there any possibility that in near future this feature can be implemented , as  the library is good and I am proceeding to use this library.?

[2017-12-07 21:29] natario1 commented on #120
I have no time schedule, please subscribe to the open issue about this

[2017-12-09 08:08] ritesh94 commented on #120
ok Thanks for the support

[2017-12-11 04:52] Monster-king commented on #119
@natario1 What can you say about this issue?

[2017-12-11 06:51] ritesh94 opened #122 "startPreview failed (applySizesAndStartPreview)"
After I am done selecting photo from galley and return back to the same screen of cameraCapture
I get the following error :

 E/CameraController: uncaughtException: Unexpected exception: java.lang.RuntimeException: startPreview failed
                                                                               java.lang.RuntimeException: startPreview failed

[2017-12-11 08:24] iftekhar-ahmed commented on #122
I get the same issue from my app's production users running android 6.0 (samsung & motorola devices) so far.

com.otaliastudios:cameraview:1.4.1

Fatal Exception: java.lang.RuntimeException: startPreview failed
       at android.hardware.Camera.startPreview(Camera.java)
       at com.otaliastudios.cameraview.Camera1.applySizesAndStartPreview(Camera1.java:156)
       at com.otaliastudios.cameraview

[2017-12-11 10:32] natario1 commented on #119
I don't know, looks like you are not calling start and stop properly from the view pager adapter. But I have no time to checkout viewpagers now.. sorry!

[2017-12-11 10:39] natario1 commented on #122
Does this happen with 1.4.0?

[2017-12-11 13:58] ritesh94 commented on #122
It happens with 'com.otaliastudios:cameraview:1.4.1'

[2017-12-11 15:09] iftekhar-ahmed commented on #122
@natario1 I cannot confirm `1.4.0` is problematic as i used the `1.4.1` in production. However while development i think tried `1.4.0` without any problem. ITC I'd say the problem could well be in both versions. For your help, here are devices and android version details for problems reported so far in my app -

All problems in Android 6.0

Devices - Samsung Galaxy S5 & Galaxy A5, Motorola G Turbo

[2017-12-11 21:00] natario1 commented on #122
I have no idea what could cause this. The only thing might be some things that were introduced in 1.4.1. I recommend going back to 1.4.0 and try for now, sorry. Let me know if you have more info.

[2017-12-12 02:44] ritesh94 commented on #122
ohk... Any idea when new version will be releasing ?

[2017-12-13 08:58] Ashutosh-Tiwari commented on #56
Any resolutions or idea so far? @natario1
I tried all my ways but the square video record without crop is just not working. And cropping takes hell lot of time.

[2017-12-13 18:36] aliakkawi opened #123 "Capture Documents"
I am using this Repository for capturing images for documents (papers). When the paper is on a table for example, i mean the device is set horizontally above the table (device set to down), the preview image is Flipped, please advice me how to fix the issue. Thanks

[2017-12-13 18:38] natario1 commented on #123
Does it happen with 1.4.0?

[2017-12-13 18:55] aliakkawi commented on #123
I am not sure, actually what i need is to capture an image for a Bank Cheque that is set on a table (the device camera should point to bottom  please check the attached images. Thanks a lot.
![whatsapp image 2017-12-13 at 20 42 15](https://user-images.githubusercontent.com/14969941/33956628-d4c365aa-e047-11e7-9897-9c962a89ddc1.jpeg)
![whatsapp image 2017-12-14 at 20 42 15](https://user-images.gith

[2017-12-14 06:01] aliakkawi commented on #123
I am using the latest update 1.4.1

[2017-12-14 10:04] Monster-king commented on #119
@natario1 I made some changes in CameraView
[code]
In TextureCameraPreview and SurfaceCameraPreview
[code]
And problem solved.

[2017-12-14 13:11] jays95jp commented on #56
This solution didn't work for me, or please tell me where should i use it, may be i used it in wrong place :) Thanks

[2017-12-14 13:20] natario1 commented on #56
This is not supported guys, please subscribe to the issue be updated in the future.

[2017-12-15 13:13] chekashovsoftermii commented on #122
I have same problem.
Device: Xiaomi Redmi 3S.
OS: Android 6.0.1

[2017-12-15 13:19] natario1 commented on #122
@checkashovsoftermii does it happen with 1.4.0?

[2017-12-15 13:40] chekashovsoftermii commented on #122
@natario1 Yes

[2017-12-18 11:43] ruhy99 opened #124 "Problem Sometimes with Front Cam"
I have a problem with device Xperia X Compact 7.1.1 and another versions. I get this error and image is not being processed. It happens when I put my mobile in Landscape mode and with "a lot of different clors" in the photo I take. I don't know if this is the problem I can't interpretate what mSensorOutSchedule is.
I have only Portrait mode it works well because I don't want to change layout in La

[2017-12-19 17:19] derohimat opened #125 "startCapturingVideo EROFS (Read-only file system)"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. just call startCapturingVideo()

#### Expected behavior:

file can created after videoTaken

#### Actual

[2017-12-21 12:37] DineshRajput21 opened #126 "Preview stretches for a moment while switching front/back"
All functionality working perfectly but facing issue when switching camera from front to back. Camera jumps little bit and it is not like as native camera (like flip right to left with animation).

[2017-12-25 10:34] developer-- commented on #126
same for me

[2017-12-26 10:33] LtotheWT opened #127 "Video max480p change width n height"
may i know how can i change the width n height of the video of 480p from 480 x 720 to 480 x 854

[2017-12-26 12:12] LuckySambial commented on #126
having this issue with samsung devices only

[2017-12-26 12:14] developer-- commented on #126
Nope I tested it for Lenovo API 23

[2017-12-26 16:28] LuckySambial commented on #126
I have done with all required functionalities in project but now I am stuck with this issue only...I can not replace this lib with another because I have used lot of functionality of this library in my project....can anyone help me on this ?

[2017-12-26 16:31] natario1 commented on #126
I still have no idea what this issue is about :) please post a video and the code you are using to trigger the change.

[2017-12-26 16:56] LuckySambial commented on #126
Sure I will share video with you soon
Thanks for reply!!!

[2017-12-26 17:20] LuckySambial commented on #126
please check proper issue from this video
https://www.dropbox.com/s/z7o6q8hbijtk3nq/IMG_1478.MOV?dl=0

[2017-12-26 17:27] LuckySambial commented on #126
Here is the code that I am using for toggle camera.
    private void toggleCamera() {
        if (mCapturingPicture) return;
        switch (camera.toggleFacing()) {
            case BACK:
                message("Switched to back camera!", false);
                break;

            case FRONT:
                message("Switched to front camera!", false);
                break;
        }
    }

[2017-12-26 17:30] LuckySambial commented on #126
As you can see in above video when I am trying to change camera view from front to back or visa versa then image squeezed. This is the exact issue I am facing, hope you got exact issue.

[2017-12-26 17:32] LuckySambial commented on #126
It seems device specific issue only reproduced in Samsung edge and Lenovo phone till now.

[2017-12-26 17:32] LuckySambial commented on #126
working fine with Moto and MI phone.

[2017-12-27 15:05] Monster-king commented on #125
You must choose correct file path which you have writing permission (don't forget to add `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />` to your manifest)
and create file like this:
[code]

[2017-12-27 15:10] Monster-king commented on #118
@natario1 any news about this issue?

[2017-12-27 16:42] developer-- commented on #126
I tested it also for Samsung edge and it has stretched preview, but sometimes it has correct preview. Any suggestions?

[2017-12-27 16:54] LuckySambial commented on #126
@developer I am also waiting for @natario1 response. I think he is busy in Christmas and new year party :)

[2017-12-27 17:03] ahna92 opened #128 "How to change Options"
I was wondering if it's possible to change the option returned in the `Cameralistener`  when camera opens :

`@Override
        public void onCameraOpened(CameraOptions options) {
            super.onCameraOpened(options);
        }`

in the `CameraOptions` there is  `options.getSupportedPictureAspectRatios()`

which return a list of Aspect Ratios, one of them is 16:9

is there a way to select tha

[2017-12-28 03:22] derohimat commented on #125
thats all already defined :D

[2017-12-28 08:15] protoss1010 opened #129 "Crash issue"
- [x] *I am using the latest version*
- [not] *I can reproduce the bug in the demo app, and if not...*
- [not] *I have tried to reproduce the bug in the demo app*

Fatal Exception: java.lang.RuntimeException: Fail to connect to camera service
       at android.hardware.Camera.<init>(Camera.java:519)
       at android.hardware.Camera.open(Camera.java:364)
       at com.otaliastudios.cameraview.Came

[2017-12-28 11:01] ahna92 commented on #128
I was using  ` android:hardwareAccelerated ="false"` in the manifest , once removed every thing worked perfectly

`<application
        android:name=".ApplicationController"

        android:allowBackup="true"

        android:hardwareAccelerated="false" // removed

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:

[2017-12-28 11:01] #128 closed

[2018-01-03 10:41] #127 closed

[2018-01-04 12:23] wajdifadool1 opened #131 "integration issue"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x ] *I am using the latest version*

**cant integrate the library in build.gradle
im getting :**

Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.android.support:exifinterface:26.1.0] AndroidManifest.xml:25:13-35 value=(26.1.0).
  	Suggestion: add 'tools:replace="andr

[2018-01-04 12:27] wajdifadool1 commented on #131
i Have added those in my app.gradle

allprojects {
    repositories {
        jcenter()
        maven { url "https://jitpack.io" }
        maven { url "https://maven.google.com" }
    }

}

[2018-01-05 02:51] derohimat opened #132 "Fatal Exception: java.lang.RuntimeException startPreview failed"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. I get this from Crashlytics [here for detail](http://crashes.to/s/04021218714)

#### Expected behavior:

[2018-01-05 07:23] Aks-4125 commented on #127
How did you change width and height runtime?

[2018-01-08 14:39] rajasekaranm opened #135 "Custom Media codec"
Hi ,
# Summary:
- I unable to add the custom media codec to this lib and It's always takes default media codec.So it's making problem with other devices.

How do set custom **codec** to camera view ?

[2018-01-08 15:49] Aissa-H opened #136 "Ability to choose the encoding format"
Hi @natario1 and users, hope you're fine !

A small suggestion concerning the encoding format: I think it will be great if we can **choose the encoder** we want for the video : H264 ...

In fact I'm working on an app currently and some devices use a deprecated encoder by default (for example the Huawei  MHA-L09 encode in HEVC (a.k.a. H.265) ). The problem of these encoder is that they can be **unr

[2018-01-09 14:04] hiromiuehara opened #138 "setParameters failed with tap to focus"
On SM-T813 (samsung tab) once you tap on the screen to focus it launches a 3s delay that calls setParameters to reset the focus. But according to android docs setParameters is not always callable and I've got a runtime exception on the line "setParameters"...

*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x ] *I am using the latest version*
- [ ] *I can

[2018-01-10 08:31] Barai-Vivek commented on #65
This is not a good way but i solved my problem.
It did work for me in when i tried to 1500 milliseconds to my desired seconds
for example if you want 5 sec video you need (5000+1500) milliseconds it worked for me in motorola and asus devices.

                long capturesec =  (5*1000)+1500;
                //for 5 sec = 6500
                //for 10 sec 11500
                //for 15 sec 16500

[2018-01-10 16:22] vajape commented on #138
Hi! Casually I was looking for about the same crash exactly. I'm using Samsung Galaxy J5 Android 6.0.1. Usually I use a Nexus 5X Android 8.0.1 wich run perfectly.

[2018-01-11 10:48] tomislavr commented on #113
I am using this library for media capture in a application which has encrypted media gallery and encrypts picture on saving it to the file. It would be perfect if possible to get video "stream" directly from your library so we can encrypt it before it gets saved in the file. Is it possible to have `takeVideo(OutputStream)` call, in any format?

[2018-01-11 17:42] Danm72 commented on #111
I'm seeing this behaviour also. Bumping exposure to full makes the video just barely visible.

[2018-01-11 21:05] techlung opened #139 "Sometimes wrongly rotated image when saved to File if device orientation != 0"
- [x] *I am using the latest version* (1.4.1 right now)
- [x] Only if modify the demo app a little *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Use certain Tablets or Phones (verified on Samsung SM-T800, Samsung Galaxy J3, Samsung Galaxy Tab A6, Sony Z1) as test devices in Portrai

[2018-01-11 21:12] natario1 commented on #139
You should do like in the demo app, get the bitmap using CameraUtils (or read the EXIF orientation tag yourself and apply a rotation to the image) and use setImageBitmap

[2018-01-11 21:23] techlung commented on #139
I need to save the image to the filesystem to store it permanently  and maybe view it again later. I just tested, even if I open the image and read it into a byte array and then pass it to CameraUtils.decodeBitmap and use setImageBitmap it is rotated wrongly. Can the EXIF orientation get lost somewhere on the way? I'm not that familiar with the EXIF tags etc.

[2018-01-11 21:29] natario1 commented on #139
They are included in the byte array. But not in Bitmap objects. You can save the byte array directly to file and then read using CameraUtils

[2018-01-11 21:40] techlung commented on #139
I believe that's what I'm doing now. I forked it to [`https://github.com/techlung/CameraView`](https://github.com/techlung/CameraView). I can reproduce the effect with exactly that code. Still don't get what I'm doing wrong, sorry :(

[2018-01-11 21:47] jaspreet-android opened #140 "onPictureTaken() never gets called when capturePicture() is hit."
public class MyCameraViewer extends AppCompatActivity {
    private CameraView cameraView;
    @Override
    protected void onCreate(@Nullable Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        getWindow().setFlags(WindowManager.LayoutParams.FLAG_HARDWARE_ACCELERATED,
                WindowManager.LayoutParams.FLAG_HARDWARE_ACCELERATED);
        setContentView(R.layou

[2018-01-11 21:52] natario1 commented on #139
I can't take a look at that now, but if you are saving as we discussed (either the byte array or compressing a Bitmap obtained through CameraUtils) then you just have to show the File. That goes beyond the scope of this library.

Try opening the file with a decent gallery app , it should be looking fine

[2018-01-11 22:25] techlung commented on #139
I'm now directly writing byte array to public pictures directory and then opening with default Samsung Gallery. Images are still rotated wrongly when I tilt the device to a certain angle.

I noticed another thing. I get these outputs with different degree values (0,90,180,270) when I tilt the device a little.

com.otaliastudios.cameraview.demo I/CameraCallbacks: onDeviceOrientationChanged 90

I ti

[2018-01-11 22:51] natario1 commented on #139
We round degrees, you get 90 when the reported angle from the sensor is between 45 and 135. If you tilt about 45 the result is unpredictable, but this was never a real problem.

If you run out of ideas, try with v1.4.0

[2018-01-11 23:03] techlung commented on #139
Tried with v.1.4.0. Same issue. I might be mistaken but I believe this issue did not exist with v1.2.1. I need to make use of that fancy FrameProcessor now however so I can't roll back to that. Will check this tomorrow.

[2018-01-16 09:19] sahityakumarsuman commented on #132
derohimat can you tell me how you solved this error

[2018-01-16 11:15] HD-AD opened #141 "Handling rotation"
As the title says, the view is taking to long to be displayed. When the activity is created/rotated it takes time to load resulting in a white screen (background) to be displayed till cameraView is loaded.

[2018-01-16 11:33] jslok commented on #131
in your app/build.gradle put:

    configurations.all {
       resolutionStrategy {
         eachDependency { DependencyResolveDetails details ->
           if (details.requested.group == 'com.android.support') {
              if (!requested.name.startsWith("multidex")) {
                details.useVersion '26.0.2'
              }
           }
         }
       }
    }

[2018-01-16 14:37] natario1 commented on #118
Nope, I'll be away from keyboard until the end of February. Feel free to discuss.

[2018-01-16 14:40] derohimat commented on #132
@sahityakumarsuman I don't know, because I get this error and now didn't solved

[2018-01-16 14:41] sahityakumarsuman commented on #132
if anyone solved this one please answer . it will be good help.

[2018-01-16 14:44] natario1 commented on #125
The file you are passing looks not valid, and on top of this, remember that video recording is not fully supported by emulators.

[2018-01-16 14:44] #125 closed

[2018-01-16 14:47] natario1 commented on #141
It's much better if you don't recreate your camera activity for rotations. This is basic Android stuff, just Google it 🙂

The loading time is needed to connect to the hardware, allocate buffers etc.

[2018-01-16 14:47] #141 closed

[2018-01-16 14:52] ritesh94 opened #142 "Unable to get frames while capturing video"
While the camera is not capturing photo/video I am able to get the frames using frame processors.
But when I am capturing a video at that time I am unable to get the frames.

Any idea on how to get the frames while capturing the video is in progress.

[2018-01-16 14:54] natario1 commented on #142
If you are not getting them it means that the Camera API does not support this. There's no block from our side as far as I remember.

[2018-01-16 15:00] ritesh94 commented on #142
Below is the code that I am using:

 camera_view.addFrameProcessor(new FrameProcessor() {
                @Override
                public void process(@NonNull Frame frame) {
                      if(mCapturingVideo){
                       System.out.println("Initiated in processMethod "+mCapturingVideo);
                      }
                 }
             });

        camera_view.startRecor

[2018-01-16 15:42] HD-AD commented on #141
@natario1 But when I disable screen orientation by adding this to my Activity in the Manifest `android:configChanges="keyboardHidden|orientation|screenSize"` the camera orientation is wrong when I rotate the device.

[2018-01-16 15:44] natario1 commented on #141
With this flag the preview won't change, like every camera app does. Rotating the device will have no effect and that's generally good

[2018-01-16 16:40] natario1 commented on #141
Using button.setRotation() and the orientation callback in the CameraListener

[2018-01-16 17:04] HD-AD commented on #141
@natario1 `android:configChanges="keyboardHidden|orientation|screenSize"` still doesn't work for me, the screen still rotates, the Activity is not recreated but CameraView still rotates (in the wrong orientation) and if I set `android:screenOrientation="portrait"` then rotation is not picked up in CameraListner callback

[2018-01-16 17:14] natario1 commented on #141
You must use both lines!

[2018-01-16 17:37] HD-AD commented on #141
Haaa! I got it working, thank you for taking the time to help me and creating a AWSOME library!

[2018-01-17 06:13] ankitdubey021 opened #144 "Geo tagging issue"
## I'm not getting location details on pic.
this library is very good but i'm facing some issue.
Perhaps you've mentioned that library supports ExifInterface and location tagging on the picture captured by this library. but when i click pic, i'm not getting any info even your sample app is not providing geo location tagging.
please tell me whether it supports or not, if supports then what should i

[2018-01-17 07:35] Ashutosh-Tiwari opened #145 "Camera capture and preview doesn't match when camera height/width changed from match_parent to anything else."
I am using the latest version of the library.
The bug (unexpected behaviour) can be reproduced in the Demo App itself.

Steps:
1. Open the demo app, default `width` and `height` of the `camera` would be `match_parent`.
2. Capture a photo of an object with "exact corners".
3. Change the `height` of the `camera` (to any acceptable `height` from available options) from the provided "edit" options
4.

[2018-01-17 10:30] natario1 commented on #144
You must use setLocation, we won't do it for you because we don't want to deal with location permissions etc.

[2018-01-17 10:33] natario1 commented on #145
If you want your preview to be equal to the result, use wrap_content.

[2018-01-17 10:50] ankitdubey021 commented on #144
i've already used that method.
anyways thank you.

[2018-01-17 15:32] tsiswandari opened #147 "Screen preview sideways"
- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Open the App
2. Make sure device is on Auto Rotate setting (instead of portrait)
3. Turn the device clock wise or counter clock wise

#### Expected behavior:
The camera preview should follow the device orien

[2018-01-17 15:34] natario1 commented on #147
Thanks for the report. Could you test with v1.4.0?

[2018-01-17 15:44] tsiswandari commented on #147
I am having the same issue running on v1.4.0 on both device (Nexus 5X and Google Pixel).
Since this is a fork from Google Camera View, I run the demo app [Google CameraView demo](https://github.com/google/cameraview) and it doesn't seem to have the above orientation issue. I am wondering what could have caused the issue.

[2018-01-17 15:49] natario1 commented on #147
What about 1.3.2? I remember this was working well.

[2018-01-17 15:57] tsiswandari commented on #147
I just tested with  v1.3.2, 1.3.1 and 1.3.0 tags and they all have the same side ways camera preview on portrait  :(
Works great on other device (SGS7 and LG G6)

[2018-01-17 16:03] natario1 commented on #147
Thanks for helping, I'll take a look when I can.

[2018-01-20 22:39] DaCrAn commented on #140
Hi @jaspreet-android,
I got the same problem but you can actually fix it if you use a new tread.

Observable.just(cameraView)
                                        .observeOn(AndroidSchedulers.mainThread())
                                        .subscribeOn(Schedulers.newThread())
                                        .subscribe(new Observer<CameraView>() {

[2018-01-22 00:58] LtotheWT opened #148 "MediaRecorder: start failed: -2147483648 on specific devices"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. switch to video session
2. click on record video button
3. not able to record video

#### Expected behav

[2018-01-22 05:34] Aks-4125 commented on #65
@natario1  any update for this issue? I am still facing same issue. video duration is different than countdown timer.

[2018-01-22 06:23] Aks-4125 opened #149 "Video duration limit is not working as expected"
Code configuration of recording video for 10 sec

      `private void captureVideo() {

        if (camera.getSessionType() != SessionType.VIDEO) {

            message("Can't record video while session type is 'picture'.", false);

            return;

        }
       ....
       ....
        camera.startCapturingVideo(null, 10000);
    }`

actual output is of 8 seconds only:

![device-2018-01-2

[2018-01-23 02:35] AndroidJohnsonWang opened #150 "When the height of the CameraView is match_parent, the preview is problematic and the image is blurred."
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [ ] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

When the height of the CameraView height is match_parent, the preview is problematic and the image is blurr

[2018-01-24 06:57] yumcoder-platform opened #151 "real-time filter"
how can we manipulate the image in the preview,  for example, applying a real-time filter?

[2018-01-24 13:39] natario1 commented on #151
You can't right now. Maybe in v2, please subscribe to #113

[2018-01-24 13:39] #151 closed

[2018-01-24 13:40] #144 closed

[2018-01-24 13:41] natario1 commented on #142
Looks like this is not supported by the framework. Maybe we can improve this in v2 , #113

[2018-01-24 13:41] #142 closed

[2018-01-24 13:42] natario1 commented on #149
We are aware... Please subscribe to #65 .

[2018-01-24 13:42] #149 closed

[2018-01-24 13:45] natario1 commented on #111
I don't think this is our fault guys. Might be some manufacturer issue. Closing for now.

[2018-01-24 13:45] #111 closed

[2018-01-24 14:11] Danm72 commented on #111
I've tested this on a Pixel XL2, One Plus one, Samsung Galaxy S5.

If its a manufacturer issue then its a lot of manufacturers..

[2018-01-24 14:45] natario1 commented on #111
Or a sensor manufacturer issue, or an Application issue, I don't know. But in no way the library is intentionally blackening the preview. There are many reports on the internet about this. But sure, if you find the root cause to be inside the library we can fix it.

[2018-01-25 09:36] nguyenvp08 opened #152 "Record Video right after change session type from picture to video cause bug (asynchronous tasks)"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [Yes ] *I am using the latest version*
- [No] *I can reproduce the bug in the demo app, and if not...*
- [ Yes] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:
I see your code with the camera view and the camera controller, all the api you use a handler to post

[2018-01-29 08:08] SidhanshuUdawat commented on #91
@natario1 Do you guys need any help here ? Coz i've used the lib for my app and was facing the same OOM issue and eventually had to add the cropping logic at the library level.

[2018-01-29 08:23] SidhanshuUdawat commented on #152
@nguyenvp08 what do you mean by bugs ? Are you facing a crash ?

[2018-01-29 08:30] nguyenvp08 commented on #152
hi @SidhanshuUdawat , as I mentioned, when i change the session type from picture to video and do call startRecodingVideo() immediately, I have a problem that sometime the camera will be restart after video is recording and end recording, it's a bug. I know the problem came from the change session type, you also call restart() but the restart() is called in 2 handlers's post, so sometimes restart(

[2018-01-29 12:20] natario1 commented on #91
I was planning to remove this feature, honestly. What do you mean by adding the logic at the library level? @SidhanshuUdawat

[2018-01-29 17:24] brownpixel opened #154 "Some errors are not being posted to the error callback"
When running the start in a post runnable, we cannot catch any exceptions that may occur when attempting to the start the camera on the device. Exceptions range from Failure to connect, already being in use etc. It's important to handle these exceptions within the app, as it would be better to display a friendly message to the user rather than have the app crash.

- [x] *I am using the latest vers

[2018-01-29 17:49] natario1 commented on #154
There is onError() callback, so this is already managed. If the error is not received there, please give us the stacktrace.

[2018-01-29 17:51] natario1 commented on #152
The library is asynchronous, if you change session type you must wait for onCameraOpen to be called.

[2018-01-29 22:10] brownpixel commented on #154
The onError() callback does not catch these errors hence the app crashing.

Examples of possible errors:
[code]

[code]

[2018-01-30 01:44] natario1 commented on #154
Ok, thanks for the report!

[2018-01-30 02:10] LtotheWT commented on #148
@natario1 thx for this project, by the way do you have any idea on this ?

[2018-01-31 14:40] ritesh94 opened #155 "CameraPreview not showing up. W/CameraView: onMeasure: surface is not ready. Calling default behavior."
Android Studio 3.1
Micromax HS2 (7.1), Moto G3 (6.0)
Before it was working perfectly. But now below logs keeps coming up.

[code]

[2018-01-31 14:48] natario1 commented on #155
So what changed between "before" and "now"? We didn't change anything relevant afaik. If it doesn't happen with the demo app, it's likely an application problem.

[2018-01-31 14:51] ritesh94 commented on #155
Nothing changed... Not in the library as well as in my code....
Not sure why this happened suddenly!

[2018-02-02 09:51] hiromiuehara commented on #138
Do we have some news here @natario1 ? :)

[2018-02-04 15:45] xp-vit commented on #109
I don't think that this is very important and necessary. the reasons are following:
 - .so files will need to be included for all platforms, which results in significant increase of lib size
 - it is possible to fail more gracefully using WeakReferences for example
 - I'll take a closer look at current crop task in order to try optimizing current implementation

[2018-02-07 20:25] smoan22 opened #156 "Any listener for when video starts capturing"
I am changing icon when video recording starts but there is always a 0.5-2 secs gap before video capturing starts which is no issue, but my drawable immediately changes to stop sign which doesn't look good so i needed to know if there was a listener for when video starts capturing so i can change my drawable then and not immediately at the click

[2018-02-07 20:35] natario1 commented on #156
Not yet!

[2018-02-09 00:16] caleb-allen commented on #156
I am also interested in a feature like this, maybe an `onVideoStarted` in the `CameraListener`.

In `CameraView.startCapturingVideo(File file)` you could pass a callback to `mCameraController.startVideo(file)` which would execute after `mMediaRecorder.start()` completes in `Camera1.java`

I could submit a PR with this if you'd like

[2018-02-09 00:18] caleb-allen commented on #156
That is, unless I'm mistaken about when the actual recording begins (immediately after `mMediaRecorder.start()`)

[2018-02-09 01:04] natario1 commented on #156
@caleb-allen would be great if you could. You don't need a new callback as you said. You should just add a new method to the CameraView.Callbacks interface. The Camera1 class holds an instance of that, and can call mCallbacks.onVideoRecordingStarted

[2018-02-09 01:30] caleb-allen commented on #156
Yikes, it looks like all the actual work is hidden under `MediaRecorder.start()` which is a native method, and it appears that it handles work asynchronously as to not block. So I've got that listener in place, but simply executing the callback after calling `mMediaRecorder.start()` isn't giving us an accurate time of when the actual recording starts.

Another idea is to use a [FileObserver](https

[2018-02-09 01:34] natario1 commented on #156
What's the general consensus on this? Like, the Stack Overflow answer about it. How do people get this info?

[2018-02-09 01:42] caleb-allen commented on #156
There doesn't seem to be much, it seems, my Google-fu may be failing me though. People's solution seems to be just [sleeping until it's recording](https://stackoverflow.com/questions/25649873/android-callback-for-mediarecorder-started-recording)

[This](https://stackoverflow.com/questions/35386663/android-detecting-real-recording-mediarecorder-has-delay) is a pretty close issue, I'm looking into t

[2018-02-09 01:46] caleb-allen commented on #156
[Here](https://stackoverflow.com/questions/25439691/delay-in-preparing-media-recorder-on-android) are a [few more](https://stackoverflow.com/questions/29120902/measuring-android-mediarecorder-delay?rq=1) that don't have any good solutions

[2018-02-09 02:39] caleb-allen commented on #156
Yep. Been banging my head on this one for a while, Google has yielded no results.

I've tried using a FileObserver and MediaMetaDataRetriever but the problem is that you can't rely on the file changing, because the MediaRecorder holds an in-memory buffer, and it could be any amount of time before it has to flush the buffer to disc. So the only way you could accurately get an idea is if you had acc

[2018-02-09 02:44] natario1 commented on #156
I don't see anything suitable for the library itself, but if I had to work on an app, I would try to measure the delay between recorder.start() and actual starting, e.g. by keeping a statistic locally, and improve the estimation over time.

[2018-02-09 03:03] caleb-allen commented on #156
Yeah. Big shame Google doesn't provide anything for this, my bet is every device model will be just different enough to make it a pain.

Will probably do what you suggest. Cheers

[2018-02-09 03:35] caleb-allen commented on #156
Alright, last comment. It looks like Camera2 has some ability of better coordinating with the camera with the [CamaeraCaptureSession.StateCallback](https://developer.android.com/reference/android/hardware/camera2/CameraCaptureSession.StateCallback.html)

I may be interested in helping out to implement Camera2 long term to take advantage of things like this.

[2018-02-09 12:12] smoan22 commented on #156
Yeah kinda surprised that there is no listener for this, for now i was just gonna show the icon and start the timer after 1 secs, and then slowly match how long the actual delay is. I can do that by starting the timer and matching it with video's actual time

[2018-02-12 03:12] Papeone opened #157 "OrientationHelper no variable displayOrDeviceOrientationChanged，So that the horizontal direction of the screen is not correct"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Shoot horizontally and then put it horizontally
2. DeviceOrientation  log 0
3. I hope it's the last time

[2018-02-12 17:01] muhammad-abubakar commented on #129
Did you check your manifest for appropriate permissions? Because I can only reproduce this issue If I remove <uses-permission android:name="android.permission.CAMERA" /> from manifest. Make sure CAMERA must be in all caps because I faced this issue. Secondly after 6.0 Marshmallow , you've to take care of run time camera permission as well..

[2018-02-13 12:15] kevinvanmierlo commented on #147
@natario1 Probably issue with the camera1 api. The Nexus 5X and presumably the Google Pixel has an inverted camera chip. The camera2 api will handle this correctly, however the camera1 api can't process it properly. I saw that the camera2 api is not yet used right?

[2018-02-14 10:17] umbrella-alexander-ageychenko commented on #150
Can approve, when switch to sessionType video preview is stretched (wider than should be)
but scaling is the same as in the picture sessionType, same issue in demo project
Honor 5X, Android 6.0
clear install demo
give permission Direct access to camera image or video capture
open setting bottom sheet
select video session type
give permission to Direct access to the microphone to record audio
every

[2018-02-15 22:17] eirtaza commented on #102
I am facing the same problem with Samsung S4 Active.

[2018-02-16 21:08] madiazg opened #158 "Service mode"
Is it possible to use "Camera View" in the service mode (background)?

[2018-02-20 05:55] SathishDuo opened #159 "Crash"
#### Detailed steps to reproduce the issue:

1.  There Are Three Activities - Activity A - Camera Activity , Activity B - Second Activity , Activity C - Third Activity.
2. Process A to B to C ,while Finishing the Activity C and Starting again Activity A - Camera Activity
3. When Pressing back button or calling onBackPressd called leads to CRASH

log...

E/CameraController: uncaughtException: Unexp

[2018-02-20 17:37] caleb-allen commented on #159
Are you overriding `onResume` and `onPause` in your activity? You should be calling `cameraView.start()` in `onResume` and `cameraView.stop()` in `onPause`

[2018-02-22 08:22] RocketRider opened #160 "Add prefix for resources"
The resources "surface_view.xml" and "texture_view.xml" are very generic names and maybe are used by the app or an other library. This could lead to mix up of these resources.
So it is recommended to prefix library resources.

https://medium.com/@maxirosson/how-to-improve-your-android-library-2e8b9fd6c090

[2018-02-22 11:03] MaxMaes opened #161 "Cameraoptions not set after onCameraAvailable super call"
- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. In activity onStart, add a CameraListener which implements onCameraOpened
2. In the onCameraOpened function, first call super.onCameraOpened
3. Next, try to access cameraView.cameraOptions.sup

[2018-02-22 11:08] natario1 commented on #160
Right. Could you do this?

[2018-02-22 11:53] RocketRider commented on #160
Made a pull request

[2018-02-22 11:54] natario1 commented on #160
Cool! Let's wait for Travis

[2018-02-22 12:10] natario1 commented on #160
Thanks!

[2018-02-22 12:10] #160 closed

[2018-02-23 03:21] mengyaCS opened #163 "Need to add ProGuard?"

[2018-02-25 08:03] yumcoder-platform opened #164 "capturePicture followed by toggleFacing has issues"
- I am using the latest version
- capturePicture() does not take a picture!

Detailed steps to reproduce the issue:
1- call the  camera1.capturePicture()
2- and if user immediately click on toggle facing buttom (when capturePicture is in progress) the CameraView.toggleFacing() is called
3- camera1.capturePicture() is disable!

#### Expected behavior:
after call toggleFacing, capturePicture take a

[2018-02-25 19:23] droidraja commented on #32
I am also facing this there is a jerky behaviour while using zoom. Is there any way to smoothen the zoom.

[2018-02-27 12:39] #117 closed

[2018-02-27 12:41] #119 closed

[2018-02-27 12:46] natario1 commented on #122
Can you add steps to reproduce the issue?

[2018-02-27 12:53] natario1 commented on #123
If this is about the result, I think we can't do anything about phones in a horizontal plane position, we treat them as having screen orientation == 0, e.g. the screen natural orientation. So the result picture might be flipped with respect to what you expect.

If this is about the preview, then it's not clear to me what the bug is. Please try to restrict the bug to a non-horizontal situation, so

[2018-02-27 12:53] #123 closed

[2018-02-27 12:54] natario1 commented on #124
What does it mean that image is not processed?

[2018-02-27 12:56] natario1 commented on #126
@LuckySambial so you are talking about the fact that for a small second the preview stretches before switching?

[2018-02-27 12:58] natario1 commented on #129
Looks like an usage issue, feel free to open a new issue if you still have this, and post exact steps to reproduce the issue and so on. I think this is better asked on StackOverflow.

[2018-02-27 12:58] #129 closed

[2018-02-27 13:03] natario1 commented on #131
I think this should be fixed now, feel free to reopen if it isn't.

[2018-02-27 13:03] #131 closed

[2018-02-27 13:04] natario1 commented on #132
Subscribe or contribute to #122 please

[2018-02-27 13:04] #132 closed

[2018-02-27 13:05] natario1 commented on #135
It's not possible currently, sorry

[2018-02-27 13:06] natario1 commented on #136
Yes, we should add this!

[2018-02-27 13:06] natario1 commented on #135
Please subscribe to #136

[2018-02-27 13:06] #135 closed

[2018-02-27 13:08] natario1 commented on #156
I'm closing this, feel free to reopen if something else pops up

[2018-02-27 13:08] #156 closed

[2018-02-27 13:09] natario1 commented on #155
I'm closing this, I think it's an app problem. Feel free to open a new one with detailed steps

[2018-02-27 13:09] #155 closed

[2018-02-27 13:10] natario1 commented on #163
You would like to obfuscate CameraView code? Why?

[2018-02-27 13:12] natario1 commented on #161
I don't know why your cameraOptions object would be null, but looks like an application issue. I'm closing becauase there are lots of issues to review, feel free to reopen with more info if you have

[2018-02-27 13:12] #161 closed

[2018-02-27 13:13] natario1 commented on #158
Nope! Sorry.

[2018-02-27 13:13] #158 closed

[2018-02-27 13:14] natario1 commented on #159
I also think this is an usage issue, feel free to reopen with more info if you have!

[2018-02-27 13:14] #159 closed

[2018-02-27 13:18] natario1 commented on #148
No, no idea, maybe the file you are passing to startRecording is invalid. Which File are you passing?

[2018-02-27 14:11] natario1 commented on #116
@siralam let me see if I got this, you mean that after you tap "take picture", the preview is distorted for some time (before loading the picture)?

[2018-02-27 14:14] natario1 commented on #139
@purposebakery any news on this issue? It's not clear to me what's happening, and I can't reproduce this in the demo app, which is important to figure out a fix.

[2018-02-27 14:15] #157 closed

[2018-02-27 14:18] natario1 commented on #145
I think you just need to set cropOutput to true.

[2018-02-27 14:18] #145 closed

[2018-02-27 14:21] siralam commented on #116
I don't think this is that hard to understand...
So there indeed are 2 kinds of previews, as I have mentioned:
(1) The preview of the **camera**, which will change and move when you move your device, **before tapping "take picture"**
(2) The preview of the **picture taken**, which will **not** change and move when your move your device, and is **after tapping "take picture"**. And when this previe

[2018-02-27 14:24] natario1 commented on #116
2 is just an artifact, it's not something we can control, so I don't think this can be fixed. But I'll take a look.

(It should not happen if you use wrap_content for both dimensions and nothing else, but I don't know for sure)

[2018-02-27 14:25] natario1 commented on #116
(if this is so easy to understand to you, maybe it's easy for you to fix it too?)

[2018-02-27 14:42] natario1 commented on #164
I don't think `mIsCapturingImage` has a role here, the operations are executed in their order.

But maybe this can be improved.

[2018-02-27 14:43] natario1 commented on #164
For the moment, you should wait for the picture callback before using toggleFacing.

[2018-02-27 14:44] natario1 commented on #32
This can be improved by filtering the updates we pass to the camera engine, e.g. just use some discrete steps instead of passing everything continuous update.

[2018-02-27 15:40] siralam commented on #116
At that time when I am choosing different libraries, only your library has this problem, no matter it is using Camera1 API or Camera2 API. So I think that should not be something that you cannot control, especially you mentioned in the doc that you have your own way to ensure previews are not distorted no matter what size of CameraView we specify (Which indicates you did something to the image ret

[2018-02-27 16:14] LuckySambial commented on #126
@natario1 yes exactly. can you please help me to fix that issue because my project stuck due to that issue.

[2018-02-27 19:00] natario1 commented on #138
Can any of you take a look at #167 and test that branch to see if it's fixed? I'll merge into master soon.

[2018-02-28 07:40] LtotheWT commented on #148
hi @natario1, i have testing across many devices, ur library works fine on most device except htc and huawei. End up i use another library that implement camera 2 api.

[2018-02-28 11:29] natario1 commented on #147
This was an issue with the demo app, because it included `android:configChanges="orientation"` but did not include a `android:orientation`.

You should add both, or none of them.

[2018-02-28 11:48] #147 closed

[2018-02-28 13:11] purposebakery commented on #139
Sorry, I've been terribly busy. I'll try to reproduce the bug on the demo once I have some free minutes.

[2018-02-28 13:33] asadullahrao opened #169 "How to set crop width and height?"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1.
2.
3.

#### Expected behavior:

#### Actual behavior:

#### Screenshots:

#### Interesting logs:

*You c

[2018-02-28 23:41] #32 closed

[2018-03-01 08:30] inventionsbyhamid commented on #154
Getting this exception mostly for OPPO and Xiaomi devices.
``Fatal Exception: java.lang.RuntimeException: Fail to connect to camera service
       at android.hardware.Camera.<init>(Camera.java:507)
       at android.hardware.Camera.open(Camera.java:343)
       at com.otaliastudios.cameraview.Camera1.onStart(Camera1.java:168)
       at com.otaliastudios.cameraview.CameraController$3.run(CameraContr

[2018-03-01 09:29] guness opened #171 "When orientation is locked by XML, camera orientation is still able to change"
- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

This is rather a question than a bug.
Whan I lock the orientation of the camera activity by
[code]
I would expect camera orientation is also locked, however when I start recording video portrait,

[2018-03-01 09:53] guness commented on #169
I guess you can just set width and height of the preview and let the library crop output for you.

[2018-03-01 11:11] saefbadwan commented on #56
@UGhari perfect man , very much appreciated that ffmpeg was missing in layout , that was wired '=' to find out ,thank you very much.

[2018-03-01 15:16] natario1 commented on #171
There is no such method, if you start recording holding the phone in landscape, we will respect that orientation (no matter the activity orientation).

If we didn't do that, your video would appear rotated (for example, sky in the left/bottom part instead of top). If you wish, you can rotate the video afterwards using some other tool.

[2018-03-01 15:55] natario1 commented on #116
No problem, I should have added some smile face.

I can not reproduce this on my devices. But the thing is that we do not change the preview after 'capture' is clicked, it's something done by the internals in your specific device.

Is your device/app hardware accelerated? What does `cameraView.isHardwareAccelerated()` return?

[2018-03-01 18:14] #65 closed

[2018-03-01 18:28] natario1 commented on #164
Thanks, I understand what you were saying now that I took a look. It should be fixed as you said! #173

[2018-03-01 18:42] #164 closed

[2018-03-02 06:39] guness commented on #171
Got it thanks!

[2018-03-02 06:39] #171 closed

[2018-03-02 16:17] natario1 commented on #109
I also don't think this is very important, at least it's not coming soon... let's close for now.

[2018-03-02 16:17] #109 closed

[2018-03-02 16:48] #136 closed

[2018-03-02 20:33] natario1 commented on #138
I have released 1.5.0 with that.

[2018-03-05 07:02] YumcoderCom opened #176 "integrating with CyberAgent/android-gpuimage"
How to integrating CameraView with [CyberAgent/android-gpuimage](https://github.com/CyberAgent/android-gpuimage)?

[2018-03-05 16:45] natario1 commented on #176
I am working at it. This would be super cool.

[2018-03-07 02:11] xsacha commented on #169
Is there a way to prevent it from doing a center crop?
I would like to view exactly the top of the image as that's the section I process in my jni library.

[2018-03-07 07:58] HanderWei opened #178 "How to set biggest preview size?"
I need to capture the biggest size of Picture from preview. But I found that I can't set preview size outside.

[2018-03-07 15:57] natario1 commented on #138
Based on comments I think this is fixed, feel free to reopen.

[2018-03-07 15:57] #138 closed

[2018-03-07 15:58] natario1 commented on #178
Why would you do this? Can't you use `setPictureSize` and choose a reasonable size there?

[2018-03-08 02:17] HanderWei commented on #178
@natario1 I use it for image processing. But the default preview size can't match my requirement.

I found that googlesamples did the same thing.

[https://github.com/googlesamples/android-Camera2Basic/blob/master/Application/src/main/java/com/example/android/camera2basic/Camera2BasicFragment.java#L511-L518](https://github.com/googlesamples/android-Camera2Basic/blob/master/Application/src/main/jav

[2018-03-08 15:08] natario1 commented on #178
That is the JPEG output size, which in this library you can control with `setPictureSize()` or `cameraPictureSize*` XML attributes. The default is `SizeSelectors.biggest()` so we are already there.

The preview size is automatically set as something that respect the output aspect ratio and is big enough to be shown in your `View`, because anything bigger than your `View` is a waste of memory resou

[2018-03-09 12:12] inventionsbyhamid opened #179 "Generating bitmap using byte array from FrameProcessor is always null"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Use FrameProcessor in CameraView
2. Decode the byte array to bitmap
3. bitmap is always null

#### Expec

[2018-03-09 12:17] natario1 commented on #179
This is not possible, the preview frame is not a JPEG image, it is in `ImageFormat.NV21` format (frame.getFormat()). It's not supported by `BitmapFactory`. You can use the android `YuvImage` class to convert but that's really expensive to do for every frame.

[2018-03-09 16:26] inventionsbyhamid commented on #179
How do I achieve this? I want to create bitmaps for some frames. Decoding to Bitmap gives blurred image (with green and pink colors). Do i need to modify byte array before creating bitmap? I tried using this https://stackoverflow.com/questions/35826709/yuv-nv21-image-converting-to-bitmap

[2018-03-09 16:31] natario1 commented on #179
The byte array is what we get from the camera, without modifying. There must be something wrong in your process, your best bet is to ask on stackoverflow indeed

[2018-03-11 16:46] inventionsbyhamid commented on #179
Thanks for your help. I was able to figure out the issue. The height width I was using to convert the byte array to bitmap was different than frame height width. I was setting camera view height width to be equal to device width and used the same value in conversion which happened to be slightly different in frame height width.

[2018-03-11 16:46] #179 closed

[2018-03-13 20:38] xp-vit opened #180 "NPE in ScrollGestureLayout"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x ] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:
Don't know!

#### Expected behavior:

#### Actual behavior:

#### Screenshots:

#### Interesting logs:

I

[2018-03-13 21:05] xp-vit commented on #163
I think that ProGuard not just obfuscates, but also strips unnecessary code coming from external libs. But I don't see any reason adding it to the lib. Instead, app developer should add it to his end up.

So, this should not be lib's problem. IMHO

[2018-03-14 00:24] RonaldSalazarH opened #181 "autoFocus failed in tablets"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Install the page's apk on a Tablet (Galaxy Tab A (2016) 7.0 Wi-Fi)
2. I took a picture with focus (focus

[2018-03-15 09:36] daydreamer219 opened #182 "Camera preview is stretched when switch between front to back"
Camera Image is stretched when User switches between Front to Back camera and compressed during switching between Back to Front camera

[2018-03-16 21:37] Rodrigolmti opened #183 "Multiples errors Camera1 and CameraController"
Hello I using you lib for catch some photos in my app and there are multiples users getting errors:

Fatal Exception: java.lang.RuntimeException: Fail to connect to camera service
       at android.hardware.Camera.<init>(Camera.java:528)
       at android.hardware.Camera.open(Camera.java:369)
       at com.otaliastudios.cameraview.Camera1.onStart(Camera1.java:168)
       at com.otaliastudios.camer

[2018-03-17 11:40] saumilpetechmavens opened #184 "Demo app preview stops"
-I am using the latest version.

Here are the steps to reproduce the issue:
1.capture some pictures.
2.After close the application and come back again.
3.Than Demo app starts the camera for 1 second and than it will stuck and last preview will show in the screen here I am attaching GIF of the issue that show the screen got stuck while device is moving but it is not display any thing.

Note: this i

[2018-03-17 13:52] gohaneri opened #185 ""Invalid Masking Parameters""
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [ x ] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Launch activity with cameraview hidden by a view in portrait
2. Rotate in landscape, remove hidden vie

[2018-03-18 19:34] purposebakery commented on #139
With the following changes I can reproduce the issue on the current v2 branch with some slight modifications to the demo app. Forked it [here](https://github.com/purposebakery/CameraView/commit/1b604ad23e83d7c0f3238688031e29d6c142238f) with the according changes.

The issue really only appears on some devices and only if I hold the device horizontally. I attached some photos of my "testing setup"

[2018-03-20 11:46] asadullahrao opened #186 "How to Crop the "center rectangle" part of the full width camera view?"
How to Crop the "center rectangle" part of the full width camera view. How to set camera bounds. And how to crop center rectangle part of the image.

I want  to place a rectangle at the center of the camera frame and want that specific part as output cropped image.

[2018-03-20 16:07] #178 closed

[2018-03-20 16:07] #163 closed

[2018-03-20 16:09] natario1 commented on #180
Thanks, looks like a bug. Should be easy to fix, do you have some time to do this?

[2018-03-20 16:11] natario1 commented on #186
You can use a rectangular `CameraView` (set width and height to the same value) and set `cropOutput` to true to get a square picture.

If you want to crop the inside, that's something you should do on your own on the image result, it's not supported by the library.

[2018-03-20 16:12] natario1 commented on #181
Thanks for the report!

[2018-03-20 16:14] natario1 commented on #169
@xsacha no way, sorry, you can only use `wrap_content` to do no crop at all. We crop the preview with a centerCrop behavior.

[2018-03-20 16:14] #169 closed

[2018-03-26 13:50] skined90 opened #187 "app:cameraCropOutput="true" causes crash"
I'm using Google Pixel XL (2016) Oreo 8.1
- [x] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1. Add app:cameraCropOutput="true" to the xml
2. Add addCameraListener and override onPictureTaken

#### Interesting logs:

`E/AndroidRuntime: FATAL EXCE

[2018-03-26 13:58] #187 closed

[2018-03-27 09:38] daydreamer219 commented on #182
If the back camera preview size and front camera preview size are different, the camera preivew image is stretched  for a while.

[2018-03-27 20:55] semihozkoroglu commented on #122
hello, i added my crash stacktrace. @natario1 could you help me? lib version 1.4.1

Fatal Exception: java.lang.RuntimeExceptionstartPreview failed Raw Text
--
  | android.hardware.Camera.startPreview (Camera.java)
  | com.otaliastudios.cameraview.Camera1.applySizesAndStartPreview (Camera1.java:156)
  | com.otaliastudios.cameraview.Camera1.bindToSurface (Camera1.java:130)
  | com.otaliastudios.came

[2018-03-30 02:21] chiyan171 opened #188 "setParameters failed (after focus?)"
cameraview's version：compile 'com.otaliastudios:cameraview:1.5.0'

Tested system's version: 5.1、5.1.1、6.0.1、7.0
BUG's Mobile model:
OPPO R9s、 R9s Plust、R9m
HUAWEI P9、Honor V8
VIVO X7 5.1
Galaxy-A9(2016)

Fatal Exception: java.lang.RuntimeException: setParameters failed
       at android.hardware.Camera.native_setParameters(Camera.java)
       at android.hardware.Camera.setParameters(Camera.java:19

[2018-03-30 05:32] chiyan171 opened #189 "Camera.open: Fail to connect to camera service"
Cameraview's version：compile 'com.otaliastudios:cameraview:1.5.0'

Tested system's version: 5.1、5.1.1、6.0.1、7.0
BUG's Mobile model:
OPPO A57、A37m
ViVO Xplay5A

Fatal Exception: java.lang.RuntimeException: Fail to connect to camera service
       at android.hardware.Camera.(Camera.java:570)
       at android.hardware.Camera.open(Camera.java:384)
       at com.otaliastudios.cameraview.Camera1.onStar

[2018-03-30 15:13] umbrella-alexander-ageychenko commented on #183
also have some crashes on Samsung Galaxy S4 (jfltevzw), 2048MB RAM, Android 4.4

java.lang.RuntimeException:
  at android.hardware.Camera.startPreview (Native Method)
  at com.jellychip.view.customView.cameraView.java.com.otaliastudios.cameraview.Camera1.applySizesAndStartPreview (Camera1.java:174)
  at com.jellychip.view.customView.cameraView.java.com.otaliastudios.cameraview.Camera1.bindToSurfac

[2018-04-01 07:43] OLDdriver2 opened #191 "java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/media/ExifInterface;"
- [x ] *I am using the latest version*
- [x ] *I can reproduce the bug in the demo app, and if not...*
- [x ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1.Target platform Lolipop 5.0
2.SDK API level 26
3.capturePicture()
#### Expected behavior:
Take a picture
#### Actual behavior:
Crashed
#### Screenshots:

#### Interesting logs:
`04-01 07:36:

[2018-04-02 02:26] chiyan171 opened #192 "Fatal Exception: java.lang.RuntimeException startPreview failed"
Cameraview's version：compile 'com.otaliastudios:cameraview:1.5.0'

Tested system's version: 5.0.2
BUG's Mobile model:
ViVO Y51A

Fatal Exception: java.lang.RuntimeException: startPreview failed
       at android.hardware.Camera._startPreview(Camera.java)
       at android.hardware.Camera.startPreview(Camera.java:823)
       at com.otaliastudios.cameraview.Camera1$12$2.onPictureTaken(Camera1.java:5

[2018-04-02 05:26] ritesh94 opened #193 "app:cameraJpegQuality="50" not working"
CameraView Version: 1.5.0

The following attribute is not working. Die to which the size of the image file is large.
app:cameraJpegQuality="50"

[2018-04-03 08:49] huweijian5 opened #194 "how to set output sizes about frame processor"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [ 1.5.0] *I am using the latest version*
- [y ] *I can reproduce the bug in the demo app, and if not...*
- [ y] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1.how to set output sizes about frame processor?
2.
3.

#### Expected behavior:

#### Actual behavio

[2018-04-04 22:40] ErickDaniel opened #195 "Error don't have callback"
- [x] *I am using the latest version*
- [x] *I can reproduce the bug in the demo app, and if not...*
- [x] *I have tried to reproduce the bug in the demo app*

Issue: no callback to error
Class: Camera1

When code fails on
	Line: 586
		Camera1.this.mMediaRecorder.start();

Call
	Line: 591
		Camera1.this.endVideoImmediately();

But when code reach
	Line: 616
	this.mMediaRecorder.stop();

Fail again

[2018-04-04 22:41] ErickDaniel commented on #195
I Fork the project and add the next line
`mCameraCallbacks.dispatchError(new CameraException(e));`

check it and let me know if I can do pull request

Regards

[2018-04-05 11:16] Patte1808 commented on #191
I was able to solve this issue in my app by adding 'com.android.support:exifinterface:${YOUR_SUPPORT_LIBRARY_VERSION}' into my app build.gradle

[2018-04-07 10:53] #124 closed

[2018-04-07 10:56] natario1 commented on #182
Please subscribe to #126

[2018-04-07 10:56] #182 closed

[2018-04-07 10:59] natario1 commented on #195
Instead of passing this to the error callback, we would like to fix the error so it does not occur anymore. Thanks for the stack trace , if you have more info please add here

[2018-04-07 11:01] natario1 commented on #195
I think this could happen during configuration changes / activity destruction. In that case, it's intended behavior. We stop the recorder 'twice' in some conditions, and we ignore if it fails.

So please tell me, is this an app dysfunction (error, crash) or just a log that bothers you in logcat?

[2018-04-07 11:03] natario1 commented on #193
jpeg quality does not work indeed, only with snapshots or when cropOutput is active. This will be removed in the future, it was a "feature" of the original library I forked. Sorry!

[2018-04-07 11:03] #193 closed

[2018-04-07 11:04] #140 closed

[2018-04-07 11:08] natario1 commented on #184
Can you post cameraview logs from logcat while this occurs?

[2018-04-07 11:10] #186 closed

[2018-04-07 11:13] natario1 commented on #185
Thanks for the report. We are not triggering explicitly the popup, I don't know where it comes from. Searching on google gives 0 results, so I don't think we can go forward on this one. If you have more info feel free to reopen.

[2018-04-07 11:13] #185 closed

[2018-04-07 11:16] natario1 commented on #191
There might be something weird in your build file, because we are using the support ExifInterface library and the class path is correct: https://developer.android.com/reference/android/support/media/ExifInterface.html

[2018-04-07 11:25] natario1 commented on #188
Thanks for the report.

[2018-04-07 11:29] natario1 commented on #192
I think this is not different from #122 , please follow up there!

[2018-04-07 11:29] #192 closed

[2018-04-07 11:30] natario1 commented on #183
Please subscribe to #189 and #122 for the two issues, so we have separate tickets.

Also, the best thing to identify what's wrong would be to use `CameraLogger` and send log messages to your server, if any of you can do that, it would be great.

[2018-04-07 11:30] #183 closed

[2018-04-07 11:32] natario1 commented on #189
Thanks for the report. Any more info to share?
- steps to reproduce
- when does this happen
- logs. Looks like you can reproduce this, so please add cameraview logs from logcat

[2018-04-09 12:33] saumilpetechmavens commented on #184
I am getting this line multiple times in Log.

E/mm-camera: <IFACE ><ERROR> 2129: iface_axi_fill_framedrop_struct_from_bufq_handle: Error! Uncleared Error mask 0x20 frame_id 88.

[2018-04-09 16:04] ErickDaniel commented on #195
Well when I launch the camera, the screen shows the camera preview and need start the camera again to rec

[2018-04-10 07:15] huweijian5 opened #197 "Frame processor error"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [ 1.5.0] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1.size:480*320
2.
3.

#### Expected behavior:
frame data size is 230400
#### Actual behavior:
230401
#

[2018-04-11 09:00] MaxMaes commented on #195
I think i'm experiencing the same problem. When I'm recording a video, I sometimes get a callback to OnVideoTaken without me calling stopCapturingVideo and the video I end up with is unplayable.

[2018-04-11 10:12] WillemTax commented on #195
@natario1 , same issue as @MaxMaes here.
So we experience a crash, not only a log that bothers us.

[2018-04-11 10:28] alenseferovic1 commented on #118
I resolve this issue in a way that I call startCapturingVideo and stopCapturingVideo in the same time, after mCameraView.start() method in onResume(). Like this:
 mCameraView.start();
 File file = new File(getFilesDir(), "preview");
  mCameraView.startCapturingVideo(file);
  mCameraView.stopCapturingVideo();

[2018-04-11 11:16] MaxMaes commented on #195
I seem to be able to reproduce the issue pretty consistently by doing the following:

- When the app starts, start recording immediatly
- Shake the phone while recording
- After a second or two the recording fails

[2018-04-11 15:31] hordurhauks commented on #191
You need to add

implementation "com.android.support:exifinterface:$supportLibraryVersion"

into dependencies in your build.gradle file. Note: The $supportLibraryVersion variable is defined outside dependencies like this

ext.supportLibraryVersion = '27.1.1'

[2018-04-11 16:55] burgessjp opened #198 "About Camera2"
Do you have plan to implement Camera2?

_Sent from my Xiaomi MI 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2018-04-12 09:29] wangyetongsss commented on #198
yes

[2018-04-13 08:26] priyan8783 opened #199 "Not working with Android Noughat"
When capturing image using
 cameraView.captureSnapshot();

the camera listener is called however in listener method below:
@Override
            public void onPictureTaken(byte[] jpeg) {
                super.onPictureTaken(jpeg);
                Intent intent = new Intent(MainActivity.this, CropImageViewActivity.class);
                intent.putExtra("bitmap", jpeg);
                startActivit

[2018-04-18 12:24] mitshah89 opened #200 "camera.setFlash(Flash.ON) or camera.setFlash(Flash.OFF) not working"
I am using the latest version of the code and not able to make flash on or off on any device. On a button click manually setting camera.setFlash(Flash.ON) and camera.setFlash(Flash.OFF) still nothing happens to flash. Neither does it gets on or off.

[2018-04-18 12:27] #200 closed

[2018-04-18 12:28] mitshah89 commented on #200
My bad, to keep the light on i had to keep the Flash.TORCH, but i was setting the wrong flag. Sorry for pointing, when it was my mistake.

[2018-04-19 10:12] ssakhavi commented on #197
I also have encountered the same problem.

[2018-04-20 05:54] supunjayalath opened #201 "camera effect"
how to add camera effects...  Thank you......

[2018-04-21 01:48] jinfagang opened #202 "Save image to local slower the thread"
After called camera.captureSnapshot(), got bytes when save it to local becomes very slow:

[code]

Basically I want capture image and save to local get the file path, send to the next activity. I can not send the bytes[] directly since the image maybe too big. How to do that avoid stuck the UI thread?

[2018-04-22 03:29] jinfagang opened #203 "The result image are rotated."
Just using the default settings, the result of images are rotated. How to set it as not rotated anyway?

[2018-04-23 11:06] Seachal opened #204 "RuntimeException"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [ ] *I am using the latest version    1.5.0

FATAL EXCEPTION: main
                                                                              Process: seachal.com.cameraphotoframe, PID: 15845
                                                                              java.lang.RuntimeException: startPrev

[2018-04-24 20:02] BrantK commented on #122
Hello, I am still seeing this issue on 1.5.0. It only happens on my S8 and Note 8 devices. I did figure out a fix in case anyone is having the same problem as me.

Cause: The cameraView isn't completely destroyed when loading to a new fragment, in my case a photo preview fragment.

Fix: To fix this I changed cameraView.stop() in my onPause() method to cameraView.destroy().

This is probably not in

[2018-04-24 23:13] natario1 commented on #204
Duplicate issue

[2018-04-24 23:13] #204 closed

[2018-04-24 23:16] natario1 commented on #197
I think we can remove the +1 here

https://github.com/natario1/CameraView/blob/f6b2506ecf755527c93ba419268797a033a785c4/cameraview/src/main/java/com/otaliastudios/cameraview/FrameManager.java#L91

Can some of you submit a PR?

[2018-04-24 23:17] natario1 commented on #198
At some point! Why not.

[2018-04-25 10:54] natario1 commented on #197
Thanks @ssakhavi !

[2018-04-25 10:54] #197 closed

[2018-04-25 12:28] skined90 opened #206 "Change grid color"
Is there a way to change grid color?

[2018-04-25 13:49] canuludag commented on #203
Hi @jinfagang ,
You should use `CameraUtils.decodeBitmap(` method. Camera response `byte[]` data contains image rotation info. And the resulted bitmap conversion works as expected with correct orientation.
Do not use `Bitmap cameraBitmap = BitmapFactory.decodeByteArray(byteArray, 0, byteArray.length);` bitmap creation method. Instead use this one:

[code]
Hope this helps!

[2018-04-26 11:08] jinfagang commented on #203
Thanks, already figure it out.

[2018-04-27 12:26] enister commented on #189
I have the same error on Meizu MX6 (Android 6.0) when i want to open the front camera in my activity.
All permissions are granted.

[code]

[2018-04-28 19:45] fsaldivarids opened #207 "Log not destroy"
I/CameraCallbacks: onDeviceOrientationChanged 90
I/CameraController: stopImmediately: Stopped. State is: STATE_STOPPED

When camera is destroy and invoque a new activity, the log is always showing because the bar handler is static var.

[2018-04-29 14:47] abhisheksoni27 commented on #95
@natario1 But if I want to Post-process the frame, how can I display the edited frame after-wards?

This is what I am currently doing:
[code]

As you know, the Frame class doesn't have setters. Does this mean a LivePostProcessing pipeline can't be implemented?

[2018-04-30 05:52] kunaldawn commented on #126
Hi any update on this?

[2018-04-30 09:10] Patte1808 opened #208 "Disable Shutter Sound"
Hey,

in the docs and source code you are saying that

When passing null as a shutter callback, the shutter sound can be disabled and it still seems to work fine. See (Camera1.java, Line 507):
`mCamera.takePicture(
                        null,
                        null,
                        null,
                        new Camera.PictureCallback() {
                            @Override

[2018-04-30 19:12] daniele93dc opened #209 "Photo and Video without preview"
Congratulations for the job. I would like to know if i can take pictures and make videos without a preview. Thanks in advance

[2018-05-06 19:00] MoustafaElsaghier commented on #203
this solution does not work with me.

when I capture an image in landscape mode (in forced portrait activity ) it rotates the image to portrait.

[2018-05-07 05:58] kumarkumar217 commented on #122
Android Version Number: 5.0
Model: SM-G900F
Manufacturer: samsung

java.lang.RuntimeException: startPreview failed
at android.hardware.Camera.startPreview(Native Method)
at com.otaliastudios.cameraview.Camera1.applySizesAndStartPreview(Camera1.java:160)
at com.otaliastudios.cameraview.Camera1.bindToSurface(Camera1.java:134)
at com.otaliastudios.cameraview.Camera1.onStart(Camera1.java:191)
at com.o

[2018-05-07 07:58] jinfagang commented on #203
@MoustafaElsaghier  This happend specific on some model Phones. You can judge it and rotate the matrix.

[2018-05-07 10:38] MoustafaElsaghier commented on #203
@jinfagang yeah I did it and worked well by getting value if phone rotated by and rotate the matrix with it.

[2018-05-07 21:35] NicolasGuarino opened #210 "How do I connect the flashlight using your library?"
My question is very simple ...

How do I connect the flashlight of the phone using your camera?

With the normal camera is thus, to serve as reference:

Camera cam = Camera.open ();
Parameters p = cam.getParameters ();
p.setFlashMode (Parameters.FLASH_MODE_TORCH);
cam.setParameters (p);
cam.startPreview ();

[2018-05-08 11:00] vikassminq opened #211 "Issue in captured video with certain VideoQualities on Moto M"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [Yes ] *I am using the latest version*

- [Yes ] *I can reproduce the bug in the demo app, and if not...*

- [Yes ] *I have tried to reproduce the bug in the demo app*

#### Expected behavior:
Support for all Video Quality

#### Actual behavior:
Just support for lowest .

#### Interesting logs:
If i use other

[2018-05-08 12:37] MoustafaElsaghier opened #212 "I t not an issue: can I control in shutter volume?"
the shutter volume it too loud can we control its volume level?

[2018-05-09 06:41] kunaldawn commented on #184
Hi @saumilpetechmavens this issue is reproduced for me consistently. The issue is with back camera only. Once the issue is triggered from your demo app, it affects system default camera app also. The issue goes away only after phone is rebooted.

Switching to front camera causes this error, view is frozen
[code]

After that following error is thrown continiously
[code]

Device Information
Model :

[2018-05-12 01:40] MoustafaElsaghier commented on #203
@jinfagang hello, sorry for asking again. will if differ from front and back camera?

s It works well for me in front camera only and for back camera portrait mode get rotated by 180

[2018-05-14 18:16] fsaldivarids opened #214 "Alway Vertical or Horizontal rec or take."
The library it does not allow selected the orientation, i need use camera whit state orientation vertical .

[2018-05-14 19:56] MoustafaElsaghier commented on #139
Please use this code to get your bitmap

[code]
Hope this help you

[2018-05-14 23:48] MoustafaElsaghier commented on #189
@natario1  have you solved it?
it appears on nexus-4 5.1.1 too

[2018-05-15 01:35] Seachal commented on #122
Hello, I am still  have this startPreview failed on 1.5.0,   The case of a bug：
CameraActivity：startActivityForResult    intent(CameraActivity.this,  B.class    )
                              onActivityResult           intent(CameraActivity.this,  C.class)
CameraActivity -> B->CameraActivity ->C      ->CameraActivity-B-CameraActivity-C happen
 RuntimeException startPreview failed.

[2018-05-15 03:15] elementlo commented on #210
like this:
camera.setFlash();//Flash.off etc.

[2018-05-17 13:00] GrishmaPromact opened #215 "Camera is stretched after clicking picture and it takes time to take picture."
I am using version 1.5.0.
I am using  camera.capturePicture(); method to click picture.
After taking picture camera is stretched for some time and it takes time to take picture.

One more bug is also that i have facing.
if i am using camera.captureSnapshot(); method to take picture then auto flash is not working.
 camera.captureSnapshot(); for this method camera is not getting stretched and image

[2018-05-19 07:27] orange7 commented on #90
I am using the latest version (1.5.0)，The problem still exists。

[2018-05-19 07:30] orange7 opened #216 "Activity Leak caused by HandlerThread"
CameraView is so awesome. I just implemented the Frame processor for barcode detection. However, Leakcanary keeps telling me there is a memory leak!

[x ] I am using the latest version (1.5.0)
 I can reproduce the bug in the demo app, and if not...
 I have tried to reproduce the bug in the demo app
Detailed steps to reproduce the issue:

Install Leakcanary
Use CameraView in an Activity.
finish the

[2018-05-24 10:57] MaxMaes opened #217 "Make zoom speed configurable"
When mapping the pinch gesture to the zoom action, the zoom speed is too fast for my usecase. I see some sensitivity stuff in the PinchGestureLayout, perhaps if this is made accessible somehow, could we control zoom speed :) ?

[2018-05-25 07:35] wider2 commented on #122
I have confirm the same exception on my Lenovo Api 23

05-24 15:23:10.932 11034-11034/com.cityappventure E/UncaughtException: java.lang.RuntimeException: setParameters failed
        at android.hardware.Camera.native_setParameters(Native Method)
        at android.hardware.Camera.setParameters(Camera.java:1953)
        at com.otaliastudios.cameraview.Camera1$19.run(Camera1.java:806)
        at com

[2018-05-29 07:30] benevolent13 opened #218 "How to use two Camera View in single layout?"
*If you are trying to report a bug, please file the information below.
Prerequisites:*

- [ ] *I am using the latest version*
- [ ] *I can reproduce the bug in the demo app, and if not...*
- [ ] *I have tried to reproduce the bug in the demo app*

#### Detailed steps to reproduce the issue:

1.
2.
3.

#### Expected behavior:

#### Actual behavior:

#### Screenshots:

#### Interesting logs:

*You c

[2018-05-29 07:32] benevolent13 commented on #218
E/Camera1: Error inside the onError callback. 2
05-29 12:54:00.366 23461-24845/com.hitesh.camerapreview E/CameraController: uncaughtException: Interrupting thread with state: STATE_STARTED due to CameraException: com.otaliastudios.cameraview.CameraException: java.lang.RuntimeException: Error inside the onError callback. 2
    com.otaliastudios.cameraview.CameraException: java.lang.RuntimeException

[2018-05-29 09:58] vinayakpurohit opened #219 "Solution for getting correct image in front cam"
So I came up with a solution for getting the image correctly in front cam i.e. the mirrored image. So here is the code.

Use the below function to rotate the image.

 public static byte[] rotateImage(byte[] source) {
        Bitmap bmp = BitmapFactory.decodeByteArray(source, 0, source.length);
        Matrix matrix = new Matrix();
        matrix.preScale(-1, 1);
        Bitmap m = Bitmap.createBit

[2018-05-29 19:49] athornz opened #220 "Control preview FPS?"
Is it possible to set the desired FPS for the camera preview?

I'm implementing live frame processing and I don't need the full 30 fps.

[2018-05-30 02:04] athornz opened #221 "Provide synchronous version of CameraUtils.decodeBitmap"
This is a useful utility and it would be great to be able to call it synchronously.

[2018-05-30 05:16] inmeriel25 commented on #219
very helpful for rotating images
thanks

[2018-05-30 11:31] natario1 commented on #220
Is it possible I think, but we offer no API for that. Feel free to work on it!

[2018-05-30 11:33] natario1 commented on #221
I'm OK with this! Feel free to work on it :)

[2018-05-30 11:36] natario1 commented on #219
There is some discussion about this in #15 . Basically it is expensive and we don't want to do this in the main lib. But you can do this on your own as you did 👍

[2018-05-30 11:36] natario1 commented on #218
Not possible!

[2018-05-30 11:37] natario1 commented on #217
That makes sense! Feel free to work on it 👍

[2018-05-30 11:42] natario1 commented on #216
Make sure you are calling `cameraView.destroy()`, there we release all these references.

[2018-05-30 11:44] natario1 commented on #214
It's a view, so you can put it in a horizontal or vertical activity, it's up to you.

[2018-05-30 11:45] natario1 commented on #212
I know nothing about this, maybe you can control the volume at the activity level. Do some research. Anyway this is out of the scope of the library. Thanks!

[2018-05-30 11:45] #212 closed

[2018-05-30 11:47] natario1 commented on #208
The docs/comments might be outdated, you can actually use `setPlaySounds()` and we will use `camera.enableShutterSounds(false)`. Not all devices will support this, but that's the best we can do.

[2018-05-30 11:48] natario1 commented on #206
No! Sorry.

[2018-05-30 11:51] natario1 commented on #215
Hi. That's how the lib work, either you use capturePicture() for full functionality or captureSnapshot() for quick snapshot.

You can reduce `capturePicture()` time by choosing a small capture size and avoiding `cropOutput`.

About stretching there is already a bug opened out there but I don't think there is anything we can do.

[2018-05-30 11:53] natario1 commented on #211
There is nothing we can do about it, it is a device specific issue. There are already a few bugs (maybe one) related to videos not recorded correctly on some VideoQualities. Please subscribe to that to receive updates.

[2018-05-30 11:53] #211 closed

[2018-05-30 11:54] natario1 commented on #209
No way currently, sorry! You might hide the view by adding other views on top. I don't know. But it still needs an Activity context / hierarchy.

[2018-05-30 11:54] #209 closed

[2018-05-30 11:55] natario1 commented on #207
I didn't get this specific issue, but you can control logs using the `CameraLogger` class.

[2018-05-30 11:55] #207 closed

[2018-05-30 11:56] GrishmaPromact commented on #215
Hello, But _capturePicture()_ method takes time to take picture. And if i use _captureSnapshot()_ then flash are not working.

[2018-05-30 12:01] natario1 commented on #215
I know... that's how it works!

[2018-05-30 12:03] GrishmaPromact commented on #215
But i think you should provide flash while taking snapshots.

[2018-05-30 12:31] #198 closed

[2018-05-30 12:31] #199 closed

[2018-05-30 12:32] #202 closed

[2018-05-30 12:32] #203 closed

[2018-05-31 18:06] alxrm opened #223 "Is there a way to turn off continuous focus?"
Hi, great library, really appreciate your work, this one is the best there is IMHO!

Although is there a way to **disable the continuous focus**? It becomes very annoying if you do the full zoom in and try to capture some photos like that. It's pretty easy to capture a blurry photo because of that.

Thanks in advance!

[2018-06-01 00:18] #221 closed

[2018-06-01 13:06] itavero commented on #150
On some Samsung phones I also see this with the quality set to 720p in my own app. They have video resolutions of 4:3 (or 3:4 in portrait mode).

[2018-06-04 12:50] thib-rdr commented on #122
Hi, same issue with a Samsung Galaxy Tab S2

`E/CameraController: uncaughtException: Unexpected exception: java.lang.RuntimeException: startPreview failed
    java.lang.RuntimeException: startPreview failed
        at android.hardware.Camera.startPreview(Native Method)
        at com.otaliastudios.cameraview.Camera1$12$2.onPictureTaken(Camera1.java:521)
        at android.hardware.Camera$EventHand

[2018-06-05 13:08] terlono commented on #122
Here's what i found. I downloaded the lib locally and attached it and after some mingling i discovered that if i put a catch on the exception generating lines:

`        try
        {
            mCamera.startPreview();
        }
        catch (Exception e)
        {
            Log.e(TAG, e.getMessage());
        }
`

Even if the exception happens the camera returns to normal. Also one thing, it

[2018-06-05 13:13] natario1 commented on #122
@terlono thanks for investigating.

Are you sure it's not the opposite? I would expect that this happens with `SurfaceHolder` (device / app with no hardware acceleration), not with `SurfaceTexture`.

[2018-06-05 13:18] natario1 commented on #122
Can you reproduce this with the demo app? If so, can you post logs coming from it in a txt file? From start up to the moment it crashes.

[2018-06-05 13:19] terlono commented on #122
Sure thing, but that will have to wait untill evening since im on a commute right now.

[2018-06-05 13:21] natario1 commented on #122
Thanks 👍 I'd be happy to fix this with your collaboration.

[2018-06-05 14:49] #214 closed

[2018-06-05 14:49] #210 closed

[2018-06-06 06:22] hablema opened #226 "Cameraview get video resolution"
I have set the camera video quality to highest in the view. So how can I get the resolution of the highest video quality?  There is only `cameraView.getCameraOptions().getSupportedPictureSizes()`,  It returns all sizes. I need only video resolutions. Is it possible to get supported list of video resolutions?

[2018-06-06 11:31] chittorakalpit opened #227 "Frame preview lags if frame is held for long inside frame processor"
Frame preview lags if ```frame``` is held for long inside frame processor.

This happens even if I just freeze the frame and give it to another variable.
```frame``` is being released after the operation by calling ```frame.release()```

Solution:
Use multiple buffers for the camera.

[2018-06-06 12:30] chittorakalpit commented on #227
Okay so now a new issue has come up.

The Frame processor stops coming to the frame Processor's process method and my other thread keeps waiting for the new frame and thus is stuck.

Please see into it and provide a solution for it.

[2018-06-06 14:07] natario1 commented on #227
If you are slow at processing frames, you will get less calls, by design. If you need more help you can post your code.

Note that freezing is discouraged, because it copies the buffer in a new buffer.

[2018-06-06 14:18] natario1 commented on #220
I think you can just use `Thead.sleep()` inside the process method to slow things down. But I don't think we can offer exact FPS, because the frame dispatching depends on the time you spend in your `process()` method.

So, it might look like an hack but I think the best way to receive less frames is just sleep there.

[2018-06-07 09:11] chittorakalpit commented on #227
Actually I need to pass the image into a image recognition model. I only pass the latest frame available(not all frames are passed). So I can't do that in the process function.

[2018-06-08 08:38] cswangduo opened #228 "captureSnapshot not available while recording on version 1.5.1"
on version 1.5.1, captureSnapshot method didn't CallBack onPictureTaken method while recording

[2018-06-09 17:02] daniele93dc commented on #122
I have same error, library version 1.5.1, android version 6.0.1, device Galaxy s5

[2018-06-11 13:37] DenisDavidek opened #229 "Get Picture orientation inside onPictureTaken method?"
Hi guys,

first  of all thank you for this amazing library. I was searching and wondering if there is a possibility to get captured picture orientation inside onPictureTaken method. I have heard something about CameraUtils class, but I haven't found an example of using that class.

So is there a way to get an orientation from a captured image? If yes, can you please provide a code sample?

Thank y

[2018-06-11 20:46] natario1 commented on #229
Thanks to you.

CameraUtils will give you a correctly rotated `Bitmap`, if that's what you want.
If you want to know the actual rotation value, we offer no utility. But you can do it, take a look at `CameraUtils` source code.

Will add this in v2.

[2018-06-12 13:38] DenisDavidek commented on #229
Hi natario1,

Here is the current code I am using:

 camera.addCameraListener(object: CameraListener(){
            override fun onPictureTaken(jpeg: ByteArray?) {
                super.onPictureTaken(jpeg)

                val intent = Intent(applicationContext, PreviewActivity::class.java)
                var bitmap : Bitmap

                if(camera.getFacing() == Facing.FRONT) {

[2018-06-12 22:19] #220 closed

[2018-06-15 10:21] qq1019596327 opened #230 "How to add a filter"
I want to know how to add filters to my camera directly or indirectly.

[2018-06-15 22:34] daniele93dc commented on #148
i have same error.
`java.lang.IllegalStateException
        at android.media.MediaRecorder._start(Native Method)
        at android.media.MediaRecorder.start(MediaRecorder.java:946)
        at com.otaliastudios.cameraview.Camera1$14.run(Camera1.java:638)
        at com.otaliastudios.cameraview.Camera1$2.run(Camera1.java:63)
        at android.os.Handler.handleCallback(Handler.java:739)
        at

[2018-06-18 08:42] alex96frolov opened #231 "Cannot finish Activity"
If I add a camera listener to the camera view and take a picture then I cannot just finish my Activity. Camera View is placed in a fragment. Without camera listeners it works perfectly and activity finishes as expected.

[2018-06-19 11:17] HBiSoft commented on #189
Same issue on Motorola Moto X (1st Gen) (ghost), 2048MB RAM, Android 5.1

[code]

Any feedback on this issue, my app is currently live and would like to resolve this.

[2018-06-19 11:23] natario1 commented on #189
See https://github.com/natario1/CameraView/issues/189#issuecomment-379462951

[2018-06-19 11:28] HBiSoft commented on #189
@chiyan171 @enister @MoustafaElsaghier Can one of you please give more details so the issue can be resolved? I can't reproduce the issue on my device.

[2018-06-19 11:31] HBiSoft commented on #189
@natario1 The issue is not related to front camera because the device that crashed has a front facing camera, but just to make sure I added

[code]

I will keep trying to reproduce the issue and let you know if I was successful or not.

[2018-06-23 08:47] ateymoori opened #232 "Transition Animation (CameraView)"
Hi
is there any solution to transition animation cameraView to other Activity or fragment? (shared element effect from origin cameraview to destination cameraview) ?
thanks

[2018-06-25 09:41] #231 closed

[2018-06-25 11:02] Namazed commented on #232
Hi, @ateymoori
I think this is impossible, because you need close camera when you go out from activity or fragment.
If you don't this, you will have memory leak and some troubles with camera.
But you may create snapshot and shared it or use shared transition on only one screen (activity or fragment).
Sorry for my English.

[2018-06-25 12:21] Patte1808 opened #233 "Device specific - using 720p results in a RuntimeException. 480p is working fine."
I'm currently facing this issue on a device. Whenever I set the resolution to `max720p` in the demo and start recording a video, the MediaRecorder crashes. Using `max480p` works fine.

Model number: D5803
Android version: 6.0.1
Lib Version: 1.5.1

If you need anything more from me, let me know.

[code]

[2018-06-25 13:07] Namazed commented on #229
Hi, @DenisDavidek
if you want very fast solution for getting orientation without ExifInterface and creating file, you need looking at Telegram source code (CameraController.java/getOrientation method). This solution get orientation from byte array. Sorry, but Im not inserting the code here, because it's big.

[2018-06-25 13:11] Patte1808 commented on #233
I debugged it a little bit.

The 720p profile seems to exist on the device, the problematic place seems to be  this (Camera1.java, line 687):
`mMediaRecorder.setVideoSize(profile.videoFrameWidth, profile.videoFrameHeight);
`

So I wonder: can it happen that the manufacturer lies, or that the profile information can sometimes be wrong? Using a predefined width and height like 640 * 480 there works.

[2018-06-25 15:29] Namazed commented on #218
Hi, @benevolent13
As already written @natario1 it's not possible, because we may only have one open camera in the process.

[2018-06-26 12:04] Patte1808 commented on #233
So I think the problem is that sometimes you have to use setProfile and sometimes you have to hardcode the values.

This is at least what I understand by the research I did.
Found those 2 blogs:
https://traxnet.wordpress.com/2011/11/03/android-mediarecorder-with-camera/
http://joerg-richter.fuyosoft.com/?p=127