[2019-05-08 22:23] wosiu commented on #457
Could you please paste build logs with unresolved references.
However I'm afraid in advance this is not an issue related with CameraView lib.
I suggested starting with demo project if you're new to gradle: https://github.com/natario1/CameraView/blob/master/demo/build.gradle
also migration from `com.android.support` to `androidx` is recommended.

[2019-05-08 22:32] wosiu commented on #454
Oh come on! :D
1) At least use google translate: "How can I turn off the camera sound?"
2) This topic was answered several times, good practice before posting a new issue: check isseus -> closed -> search
3) TLDR: For some devices it is not possible to disable shutter sound for Camera1 API. There is nothing one could make about it.

[2019-05-09 04:09] looplearn opened #462 "GL_OUT_OF_MEMORY when running for long periods of time"
Hi, I wanted to log the following issue in relation to eGL rendering for very long time periods.
I am unsure of condition to reproduce the error, but the following error is happening on several devices.  It appears to happen after a wake lock transition, but cannot be sure.  The application runs close to 24/7 on several devices and we have under ten of these unhandled exceptions over the last coup

[2019-05-09 04:24] looplearn opened #463 "getParameters Exception when restarting Frozen Camera."
### Describe the bug
Unhandled Exception Thrown when starting or restarting camera when in a frozen state.

- CameraView version: 2.0.0-beta04
- Reproducible in official demo app: No (but can add logic to restart frozen camera).
- Device / Android version: Rockchip Nano PC-T4, API 27

### To Reproduce
1) Remove Application from battery optimisation list (not optimised for battery / always on)
2) R

[2019-05-09 04:36] looplearn commented on #462
#Describe the bug
Unhandled Exception Thrown when drawing on eGL surface when run for long periods of time.

CameraView version: 2.0.0-beta04
Reproducible in official demo app: No
Device / Android version: Rockchip Nano PC-T4, API 27
#To Reproduce
Remove Application from battery optimisation list (not optimised for battery / always on)
Run application for very long time (happens more often if powe

[2019-05-09 05:22] sandeep7644 commented on #455
where is Utils ??

[2019-05-09 13:12] Riccorbypro opened #464 "AAPT2 error: duplicate value for attr/cameraFacing (2.0.0-beta04)"
Hi there.

I've been starting out with adding a CameraView to an app I'm making, and on compilation, Gradle throws an error that there's a duplicate value for attr/cameraFacing (full error below). Having searched around a bit, the options seem to be either migrate to/from AndroidX (I'm currently using AndroidX for my app), or change the name of the attribute. Since this is a library obtained autom

[2019-05-10 05:34] Riccorbypro commented on #464
So after searching through every library used by Gradle, it seems that KBarcode was also using an attribute called "cameraFacing", which led to this conflict. Leaving this here in case anyone else comes across a similar issue.

[2019-05-10 05:34] #464 closed

[2019-05-13 23:37] mariuspena commented on #446
@wosiu hey there.
when you say deviceRotation you are referring to the one you get like this:
int rotation = getWindowManager().getDefaultDisplay().getRotation(); // values: 0, 1, 2, 3
or to the angle (possible values 0..360) you receive on onOrientationChanged ?

[2019-05-14 00:46] wosiu commented on #446
@mariuspena
to the angle (possible values 0..360) received on onOrientationChanged

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Wolny
od wirusów. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

wt., 14 maj 2019 o 01:3

[2019-05-14 10:01] #441 closed

[2019-05-15 06:20] sandeep7644 commented on #455
I used takeSnapShot instead of takePicture and the issue is resolved.

[2019-05-15 06:20] #455 closed

[2019-05-15 08:32] #445 closed

[2019-05-15 09:16] chenhangyuan opened #465 "手电筒的问题"
我想在页面中动态设置开关手电筒
if (b) {
            cv_view.setFlash(Flash.ON);

        }else {
            cv_view.setFlash(Flash.OFF);
        }
但是这样貌似不管用
是我哪里写错了嘛

[2019-05-15 09:43] chenhangyuan commented on #465
知道了  把手电筒和闪光弄混了

[2019-05-15 10:56] kleysonr commented on #451
Issues being closed automatically without any answer from the developers.

[2019-05-15 11:55] kleysonr commented on #452
Hi, @natario1

Any help on this ?

Best Regards.

[2019-05-15 18:41] BlindJerobine commented on #449
Same issue with Pixel 2XL. The whole video is the first frame, duration 4h.

[2019-05-15 18:52] dhruv2295 opened #466 "Preview stretches for a moment while switching front/back"
### Describe the bug
A clear and concise description of what the bug is.

- CameraView version: *2.0.0-beta04*
- Reproducible in official demo app: *yes*
- Device / Android version: *Pixel 3, API 28*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Select Video Mode
2. Set width and height to match_parent
3. Click on toggle camera button

### Expected behavior
While

[2019-05-17 04:33] HBiSoft commented on #425
@natario1 I have updated my app with the above logic, forcing the video not to be stoped within the first 3 seconds of starting the recording. I still get countless logs with this issues.

I even asked one of my users, that contacted me about this issue, to try and record a video of at-least 30 second and check if the error persisted and it did.

I'm at a cross road with this and currently I get m

[2019-05-17 05:07] HBiSoft commented on #449
@BlindJerobine Can you check at the bottom of #425, your device is one of the devices I experience an issue with when using this library, can you please confirm if you get the same error when recording a video?

[2019-05-17 08:28] BlindJerobine commented on #449
@HBiSoft I don't get any error message. The video does simply contain the first frame for 4 hours. If I start takeVideoSnapshot(file), it stops after the first frame automatically, if I start takeVideoSnapshot(file, duration), it can run until the duration, but contains only the first frame, too.

This is my log when I record without duration:

I/OMXClient: IOmx service obtained
I/OMXClient: IOmx

[2019-05-17 09:10] HBiSoft commented on #449
@BlindJerobine Have you tried taking a video instead of a VideoSnapshot? I know it's not what you are trying to do, but I'm trying to figure out if it is something related to your device.. If you can, try taking a video and see if `onCameraError ` is called.

[2019-05-17 14:35] BlindJerobine commented on #449
@HBiSoft If I set it to takeVideo(file), I get this message:

D/Camera: app passed NULL surface
E/MediaRecorder: setParameters(max-duration=10) failed: -22
E/AndroidRuntime: FATAL EXCEPTION: CameraViewController
    Process: de.blindjerobine.example, PID: 8066
    java.lang.RuntimeException: setMaxDuration failed.
        at android.media.MediaRecorder.setMaxDuration(Native Method)
        at com.

[2019-05-17 15:49] HBiSoft commented on #449
@BlindJerobine Did you set `setMaxDuration`? The error seems to come from `setMaxDuration`.

[2019-05-17 15:50] BlindJerobine commented on #449
@HBiSoft I used

app:cameraVideoMaxDuration="10"

in my XML layout.

[2019-05-17 15:52] HBiSoft commented on #449
@BlindJerobine Try and remove it and see what happens?

[2019-05-17 15:54] BlindJerobine commented on #449
@HBiSoft I just tried a little bit, if I set it big enough (I tried 10000), it does not throw any error anymore.

[2019-05-17 15:55] HBiSoft commented on #449
@BlindJerobine Okay so you can record and the file is created?

[2019-05-17 15:59] BlindJerobine commented on #449
@HBiSoft Yes I can and yes it is. It's relatively big (48MB), but if I wanted to use takeVideo I would be very happy right now. :D

[2019-05-17 16:05] HBiSoft commented on #449
@BlindJerobine Had to make sure its not related to your device..

[2019-05-18 06:57] HBiSoft commented on #425
@natario1
I got more info from the user that's helping me debug this issue, apparently `onCameraError` is called as soon as the user starts recording, I will provide my implementation below to make sure I haven't made a mistake on my end.

I added comments to make reading/understand my logic easier:

    public class camView extends AppCompatActivity {
        CameraView cameraView;
        ImageV

[2019-05-18 08:09] HBiSoft commented on #412
@natario1
Same as I described in #425 It's not related to V1 only.

Since posting the above, I sent all the logs to crashlytics and posted it in #425 as well as how I implemented everything.

[2019-05-18 08:13] HBiSoft commented on #189
@natario1 Log as you requested above:

    1 | \| | 05:10:02:131 (UTC) | \| | ?/CameraController Start: posting runnable. State: STATE_STOPPED
    2 | \| | 05:10:02:132 (UTC) | \| | ?/CameraController Start: executing. State: STATE_STOPPED
    3 | \| | 05:10:02:133 (UTC) | \| | ?/CameraController Start: about to call onStart() STATE_STARTING
    4 | \| | 05:10:02:134 (UTC) | \| | ?/Camera1 collect

[2019-05-19 06:37] #442 closed

[2019-05-19 10:00] HBiSoft opened #467 "CameraException error as soon as full video starts"
I actually have 2 error, they might be connected, @natario1 might have seen me post on multiple issues.

According to a user that contacted me, `onError` is called as soon as he starts recording a video.

- CameraView version: *2.0.0-beta03*
- Reproducible in official demo app: *app is in production*

Devices / Android version:

- Samsung Galaxy J7
- Samsung Galaxy S5
- Samsung Galaxy S8
- Samsung

[2019-05-20 05:24] HBiSoft commented on #364
@LauKto Did you resolve this issue?

[2019-05-20 07:38] dummy-amit commented on #379
I want my recorded video to be always in portraint mode (zero rotation), doesn't matter how user rotates video. Could you please guide me where did you make change for that. Does making change only in orientation helper is enough?

[2019-05-20 10:17] Pinkal7600 commented on #458
Anyone have check this issue and face in demo app?

[2019-05-20 12:45] #447 closed

[2019-05-20 16:59] HBiSoft commented on #467
@natario1
I have more info, sort of..

I setup a demo application and sent it to the user that is experiencing the issue, I logged the following in `onError`:

    int errorReason = exception.getReason();
    String exceptionAsString = exception.toString();
    String exceptionAsMessage = exception.getMessage();

and it returned:

    5 - meaning REASON_VIDEO_FAILED
    com.otaliastudios.cameravie

[2019-05-21 10:08] allenZ7 commented on #465
请问你是怎么解决的，我按照 setFlash 来设置，但没效果
打不开闪光灯

[2019-05-21 10:31] kiroglue opened #468 "Samsung J2 device, Android 5.1.1 Front Camera Video Issue"
Hello, I'm appreciate your work but we on some devices screen frozen just after camera camera.open() method. The error exist also CameraView demo project.
*It occurs only  with Facing.FRONT and Mode.VIDEO settings. No problem with back video. No problem with front+back photo capture

-CameraView version: '2.0.0-beta04'
- Reproducible in official demo app: Yes
- Device / Android version: Samsung J2

[2019-05-22 02:31] #450 closed

[2019-05-22 13:54] #453 closed

[2019-05-23 05:37] #434 closed

[2019-05-23 06:37] #432 closed

[2019-05-23 07:54] usmanrana07 commented on #434
Is this the way to reduce the open bugs count? No, response and then bot closes it.

[2019-05-23 23:11] natario1 commented on #467
@HBiSoft as said in #425 we should improve error messages here to know what's going on... I think you should try to inspect the exception thrown in FullVideoRecorder line 111, where the recorder itself catches a start exception and calls stop().

That exception is not logged anywhere so we don't know what's the issue that MediaRecorder is complaining about. Most likely some parameters like maxDura

[2019-05-23 23:13] natario1 commented on #438
Hey @isfaaghyth you can take a look at the video options in documentation (video/audio bit rate, setVideoSize, ...).

[2019-05-23 23:13] #438 closed

[2019-05-23 23:16] natario1 commented on #440
Will improve error messages in #425 ... Without this there's not much we can do. If you debug yourself and find an issue, please reopen or open a new issue

[2019-05-23 23:16] #440 closed

[2019-05-23 23:18] natario1 commented on #444
Yeah, this was never published! Will be present in the next version.

[2019-05-23 23:18] #444 closed

[2019-05-23 23:18] natario1 commented on #448
Yes, you should migrate your app to AndroidX if you want to use CameraView v2.

[2019-05-23 23:18] #448 closed

[2019-05-23 23:21] natario1 commented on #456
@kleysonr at which line does this error happen? Have you posted your entire process() method?

[2019-05-23 23:24] natario1 commented on #452
I don't think so @kleysonr ! You can try. But rendering each frame as a Bitmap in a ImageView is not very efficient...

[2019-05-23 23:24] #452 closed

[2019-05-23 23:29] natario1 commented on #451
You can see that androidx.exifinterface is already present in cameraview's build.gradle file. I'm not sure  why you get this error, might be an instant run issue or something similar... try to clean your project and restart.

[2019-05-23 23:33] natario1 commented on #459
You can search for MediaRecorder: start failed: -19 on StackOverflow. It probably means you have set some parameters which are not accepted by the device (audio bit rate, video bit rate, video max duration... this kind of things).

[2019-05-23 23:33] #459 closed

[2019-05-23 23:38] #454 closed

[2019-05-23 23:40] natario1 commented on #457
Like @wosiu said!

[2019-05-23 23:40] #457 closed

[2019-05-23 23:43] natario1 commented on #458
I'm not sure how to help @Pinkal7600 ! If you can spot an issue with code let me know. If not follow #217 , we might add some control to change the speed of this

[2019-05-23 23:43] #458 closed

[2019-05-23 23:45] natario1 commented on #461
In theory this is possible if we add support for it. But it is not a high priority request I would say... If you want to work on it, let me know.

[2019-05-23 23:53] natario1 commented on #462
0x505 seems to be a GL_OUT_OF_MEMORY error... CameraView will reuse the same memory over and over so I am not sure there's nothing we can do. Make sure you are not allocating new memory at each frame.

[2019-05-23 23:55] natario1 commented on #463
Can you provide a sample project to reproduce this easily?

[2019-05-23 23:57] natario1 commented on #465
Not sure what to say! :-)

[2019-05-24 00:00] natario1 commented on #466
I'm not sure this can be fixed... But will take a look.

[2019-05-24 03:32] HBiSoft commented on #467
@natario1  Thank you for your reply.

After looking at FullVideoRecorder, I noticed the following in `start`:

    mMediaRecorder.setOnInfoListener(new MediaRecorder.OnInfoListener() {
        @Override
        public void onInfo(MediaRecorder mediaRecorder, int what, int extra) {
                switch (what) {
                case MediaRecorder.MEDIA_RECORDER_INFO_MAX_DURATION_REACHED:

[2019-05-24 12:20] sudhakar434 opened #469 "takeVideoSnapshot is not working properly in demo app in LG G7 ThinQ"
### Describe the bug
In the official demo app, video snapshot is getting struck at preview screen at first frame but the audio is playing

- CameraView version: v2.0.0-beta04
- Reproducible in official demo app: yes
- Device / Android version: LG G7 ThinQ, API 26

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Go to Demo app
2. Click on settings icon and change to v

[2019-05-24 13:32] brnogz opened #470 "ImageFormat Exception"
I got crash report below from crashlytics.

- CameraView version: 2.0.0-beta4
- Android:5.1.1
- Device Oppo a59s

### Logs
[code]

[2019-05-25 10:49] dummy-amit commented on #469
@natario1 same error for me as well, could you please shed some light on this. thanks.

[2019-05-25 14:19] natario1 commented on #469
You can follow #449

[2019-05-25 14:19] #469 closed

[2019-05-25 15:15] #419 closed

[2019-05-25 15:15] #460 closed

[2019-05-25 15:15] #425 closed

[2019-05-25 15:15] #443 closed

[2019-05-25 16:14] HBiSoft commented on #467
@natario1

I see you bumped the version and included the following:

        try {
            mMediaRecorder.prepare();
            mMediaRecorder.start();
        } catch (Exception e) {
            LOG.w("stop:", "Error while starting media recorder.", e);
            mResult = null;
            mError = e;
            stop();
        }

Can you please tell me how I can properly log this issue?

[2019-05-25 16:23] natario1 commented on #467
Yes! You are interested in the source exception, exception.getCause(). Can log toString() and getMessage() of that one.

[2019-05-26 12:50] giusprenc commented on #449
Hi;

same issue with Huawei Mate 20 Pro (2.0.0-beta05).

Regards,

G.

[2019-05-26 14:21] HBiSoft commented on #467
@natario1 I added the following in `OnError`:

    @Override
            public void onCameraError(@NonNull CameraException exception) {
                super.onCameraError(exception);
                oldCamView.this.progress_loader.setVisibility(View.GONE);

                int errorReason = exception.getReason();
                String exceptionAsString = exception.toString();
                St

[2019-05-26 14:34] natario1 commented on #467
I don't know :-) MediaRecorder is not liking one of the parameters. It's impossible to tell which one without owning one of these devices and do some trial and error.

Some of these parameters come from CameraView but we do our best to ensure they are supported. Some others come from you (audio bitrate, video bitrate, maxduration, ...) and we can't do any validation.

[2019-05-26 14:39] HBiSoft commented on #467
@natario1 Thank you for the quick reply. I'm not setting any parameters, not sure what I can do now. As mentioned, it's quite a lot of devices that experience this.

[2019-05-26 14:47] natario1 commented on #467
I don't know! I don't own any. One should have it and launch the demo app and try changing stuff in FullVideoRecorder to spot which parameter is crashing and see how we can improve this

[2019-05-27 07:06] HBiSoft commented on #467
@natario1

I implemented OpenCamera to test and I'm not getting any crashes.

You mentioned that  some parameter are causing the crash. Since I'm not getting a crash using OpenCamera I looked at the difference in parameters passed to `MediaRecorder` and the only difference I could see is, in OpenCamera MediaRecorder's AudioSource is set to:

    MediaRecorder.AudioSource.CAMCORDER

and in FullVide

[2019-05-27 07:51] HBiSoft commented on #467
Not sure if it's worth mentioning that I'm starting a animation as soon as the user press the record button, as shown below:

    //Create animation
    Animation anim = new AlphaAnimation(0.0f, 1.0f);
    anim.setDuration(500);
    anim.setStartOffset(20);
    anim.setRepeatMode(Animation.REVERSE);
    anim.setRepeatCount(Animation.INFINITE);

    //start record button OnClickListener
    startRe

[2019-05-27 13:39] natario1 commented on #467
You can set Audio to OFF and see what happens... Make sure you are not changing anything else like the parameters I have listed above, VideoCodec...

[2019-05-27 16:33] HBiSoft commented on #467
@natario1

I tested by changing all the parameters.

This is all the parameters I've tested (individually):

- Disabling audio:
`cameraView.setAudio(Audio.OFF);`

- Change codec to 264:
`cameraView.setVideoCodec(VideoCodec.H_264);`

- Change codec to 263:
cameraView.setVideoCodec(VideoCodec.H_263);`

- Changing the video bitrate:
`cameraView.setVideoBitRate(3000000);`

---
The only successful test

[2019-05-27 18:59] hanspeide opened #472 "Enforce portrait mode photos"
### How do I?
Is there a way to have CameraView enforce photos to be portrait mode (think Snapchat)?

### Version used
2.0.0-beta04

[2019-05-28 09:02] HBiSoft commented on #467
@natario1

Should -

    case DEVICE_DEFAULT: mMediaRecorder.setVideoEncoder(mProfile.videoCodec); break;

not be -

    case DEVICE_DEFAULT: mMediaRecorder.setVideoEncoder(MediaRecorder.VideoEncoder.DEFAULT); break;

According to the [docs](https://developer.android.com/reference/android/media/MediaRecorder.VideoEncoder.html), it is true.

Also, CamcorderProfile in the [docs](https://developer.an

[2019-05-29 08:38] wider2 commented on #467
I have the same bug with Reason 5
my situation is
I can make some video records and after some number of successful attempt - camera shows the error
com.otaliastudios.cameraview.CameraView RuntimeException start failed

all right we caught the exception. Can we somehow restart the camera on the fly?

[2019-05-29 09:47] HBiSoft commented on #467
@wider2 We get the same error, but we don't have the same issue, this issue is that the wrong video encoder is selected.

In your case, I think you can restart the camera when the error occurs by calling:

    cameraView.close();
    cameraView.open();

[2019-05-29 09:49] HBiSoft commented on #467
@natario1

I did another test, in my activity I get the video codec from `CamcorderProfile`, as shown below:

    //In onCreate
    CamcorderProfile camcorderProfile = CamcorderProfile.get(CamcorderProfile.QUALITY_HIGH);
    String profileInfo = getVideoCodec(camcorderProfile.videoCodec);

    //Then I check the codec and set it to CameraView
    if (profileInfo.equals("H264")){
        cameraView

[2019-05-29 10:09] wider2 commented on #467
my problem is quite similar like HBiSoft has

if camera return exception... somehow he remember about it and no possibility to refresh the state

this does not help

                @Override
                public void onCameraError(@NonNull CameraException exception) {
                    super.onCameraError(exception);
                    Log.e("onCameraError", "error: " + ((exception != null)

[2019-05-29 10:16] HBiSoft commented on #467
@wider2 Can you reproduce the error on the demo app?

[2019-05-30 08:28] HBiSoft commented on #467
@natario1 Another test...

I sent the user that is experiencing the issue the demo app.

He is getting the following crash when selecting `device default` and `h 264`:

    Got CameraException # 5

Only when he selects `h 263` does he not get the error.

[2019-05-30 09:04] HBiSoft commented on #467
It seems like this issue was fixed and then re-introduced, perhaps when creating v2.

[2019-06-01 06:49] HBiSoft commented on #470
@brnogz I don't think it's related to the library, have a look ate this question/answer - https://stackoverflow.com/questions/11511522/byte-array-image-to-bitmap

[2019-06-01 11:22] ankitivo opened #473 "How can I save a captured frame as an image file?"
Hi,
I have a very general requirement where I want to process a frame and then save that frame as an image file based on the result of my processing.

I am able to successfully process a frame byte[] but facing an issue while saving the frame to an image file.

I am using below code to convert frame byte[] into a bitmap:

`Size size = SystemServiceUtils.getWindowRealSize(context);
        Bitmap b

[2019-06-02 12:43] HBiSoft commented on #467
I will be implementing OpenCamera into my application for now, I can't have users experience crashes anymore. I will definitely keep an eye on this issue and return to this library when it gets fixed.

I will keep this issue open as the error is still present.

I have also asked a question about this on SO, here is the link - https://stackoverflow.com/questions/56342378/camcorderprofile-videocodec

[2019-06-03 00:56] natario1 commented on #467
It's not that the encoder is wrong... But rather the selected encoder from the profile (which probably is h264) is rejecting some of the other parameters. Meaning, it is not compatible with the selected size/bitrate/other stuff.

There's no easy way to fix this without owning one of the devices. CameraView could choose a "better" profile (instead of always choosing QUALITY_HIGH) based on the incom

[2019-06-03 04:56] HBiSoft commented on #467
@natario1  I donated :)

[2019-06-03 07:47] HBiSoft commented on #467
@natario1 I also think you are right when saying:

Referring back to the OpenCamera implementation, you will see the [initialiseVideoSizes](https://sourceforge.net/p/opencamera/code/ci/master/tree/app/src/main/java/net/sourceforge/opencamera/preview/Preview.java#l2834) being called. Also, setting the profile in [initialiseVideoQuality](https://sourceforge.net/p/opencamera/code/ci/master/tree/app/s

[2019-06-04 17:45] agalfioni opened #474 "Feature request: record background videos"
### Problem to be addressed
Be able to record background videos.

### Describe the solution you'd like
Show a notification or something that indicate to user that the video is recording. With this feature, the user could open other apps like Google Maps without the video stops.

[2019-06-05 06:05] leielyq commented on #465
now Flash.TORCH

[2019-06-05 07:01] BrotherV opened #475 "Different aspect raio on defferent smart phones + Quality of images"
### Why output image does not fit whole the screen? How to set aspect ratio of different screens? Why output image does not have good quality?

First of all, output image does not fit on whole screen on some devices while I am taking picture. How we can optimize aspect ratio base on the screen size?

Secondly, output image does not have good quality and I can easily can see pixels in output image.

[2019-06-05 13:57] dnhyde commented on #341
This still happens on some devices (Xiaomi Redmi 5 plus here)

[2019-06-07 06:14] tolew1 commented on #289
@natario1 it is actually a very good feature that not many have. OpenCamera has that functionality and it's a very good lib. But it can be a bit slow for certain things if you need fast shots and init.

[2019-06-07 21:47] arsonistAnt opened #476 "A way to Pause/Freeze camera preview?"
### How do I?
I've been reading through the docs and didn't see any mentions of being able to freeze/pause the frame of the camera view.

All I want to do is have the user capture an image and freeze the preview afterwards.

Is this possible with CamerView?

### Version used
CameraView exact version.

[2019-06-08 13:11] hanspeide commented on #476
@natario1 Could this be easy as calling `.stopPreview()` in `.takePicture()`, and then `.startPreview()` in the `onPictureResult` callback? I just tried, and it seems to work.

I can send a PR if you want. Would you then in `Camera1.java` prever to add a method `takePictureAndStopPreview()`, or `takePicture(boolean stopPreview)`?

[2019-06-08 13:12] hanspeide commented on #476
Alternatively methods `.stopPreview()` and `.startPreview()` can be exposed in `CameraView.java`. That might be a better solution?

[2019-06-08 13:16] anthonynguyen194 commented on #476
I think exposing the .stopPreview() and .startPreview() method would be better rather than combining the takePicture and stopPreview functionality together.

[2019-06-09 15:53] natario1 commented on #476
Thanks! I disagree with introducing a new camera state with the whole confusion it brings in, for just a few usages, when there's a super easy solution already - take the picture / picture snapshot, and set it as a drawable to an ImageView on top of CameraView so it's covered.

[2019-06-09 16:25] natario1 commented on #467
@HBiSoft are you able to test the cam-profiles branch? #477

[2019-06-10 21:30] hanspeide commented on #476
@natario1 My issue here is the (obvious) delay between calling `.takePicture()` and receiving the result in `onPictureTaken()`. For UX reasons I would like to freeze the frame preview once `.takePicture()` is called, to prevent the user from thinking the camera is still active after taking a picture.

Were you think about taking the picture and snapshot sequentially, and then setting the snapshot

[2019-06-10 21:38] natario1 commented on #476
I don't remember atm if you can call both together in new version, but if not, yes, snapshot first! The snapshot latency can be extremely low.

For "elegance" I would ignore snapshots in your main callback, and use a one-time callback just for the snapshot.

But keep an eye on here, at some point we can make this possible in other ways (let you subclass some component so you can avoid drawing, for

[2019-06-10 21:40] natario1 commented on #476
Another option is use the FrameProcessor to get the latest frame when shooting, that's the faster thing but it doesn't come in JPEG, prob. decoding it takes more time but I don't really know.

[2019-06-10 21:44] natario1 commented on #476
What I can accept as a PR is give the developer a boolean option, that if true, freezes the preview during the time between take and onTaken.

Tecnhically this should be done in the Preview classes (avoid drawing) rather than tearing the preview down with stopPreview.

[2019-06-11 07:28] brnogz commented on #470
@HBiSoft I don't do any image conversion or processing.  Logs include only cameraview and android classes and YuvImage used in cameraview. Because of this, i create this issue but if it is a configuration error of mine, could you help me to solve?

[2019-06-11 09:30] 3akat commented on #260
So, this fix is working only for API 18+, am I right?

[2019-06-12 01:09] natario1 commented on #467
Merged into master now.

[2019-06-12 05:37] HBiSoft commented on #467
@natario1 Sorry for the late response.

I implemented the new master branch into my demo project and asked the user if he can test again, I will let you know once he has tested. Thank you.

[2019-06-12 12:31] mat178 opened #478 "Stopping a FrameProcessor"
### How do I?
How do I stop the excecution of a FrameProcessor?
In my onCreate() method I create a FrameProcessor and then in onResume() I add it to the camera view with addFrameProcessor(). I wanna stop it when the activity is not active anymore so in onPause() I call clearFrameProcessors() to remove the frame processor. However in Logcat I can see that there are still frames being processed. I t

[2019-06-12 13:03] HBiSoft commented on #467
@natario1

Still the same error as last time:

    exception.getReason() started -----
    5
    exception.getReason() ended ------

    exception.toString() started ------
    com.otaliastudios.cameraview.CameraException: java.lang.RuntimeException: start failed.
    exception.toString() ended ------

    exception.getMessage() started ------
    java.lang.RuntimeException: start failed.
    exce

[2019-06-12 13:52] malikmotani opened #479 "onRequestPermissionsResult() is getting called in the loop."
### Description
After **DENY** camera and audio permission with **Don't ask again**, `onRequestPermissionsResult()` is getting called in the loop.

- CameraView version: *2.0.0-beta05*
- Reproducible in official demo app: yes
- Device / Android version: *OnePlus5t, API 28 & Moto G4 Plus, API 26*

### To Reproduce
Steps to reproduce the behaviour, possibly in the demo app:
1. Open the official demo

[2019-06-12 14:06] #478 closed

[2019-06-12 14:10] mat178 commented on #478
Processing each frame took a while and therefore was still running for some frames when the frameProcessor was already removed. I solved it by setting a flag that indicates whether a frame is being processed. Only if the processing of one frame is completed, the process for a new frame is started.

[2019-06-13 08:37] orelvia opened #480 "Crash on Moto G 5"
### Crash on a Moto G5
I see a crash in Crashlytics happening on a specific device, not sure exactly when as I only see the stack trace from CameraView and not from my app

- CameraView version: 2.0.0-beta04
- Reproducible in official demo app: no
- Device / Android version: Moto G (5) Plus / 8.1.0

### Logs
Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'java.

[2019-06-13 10:54] kleysonr commented on #451
Hi @natario1

The 'androidx.exifinterface' is not present in the 'demo'.

Best Regards.
Kleyson Rios.

[2019-06-13 10:58] kleysonr commented on #452
Hi @natario1

Thanks for the reply, but what do you suggest as a good approach to render each frame again after it be processed by the FrameProcessor ?

Best Regards.

[2019-06-14 14:50] olashiku commented on #397
this method does not work after using the specified call back I got this error. what I was trying to achieve is to go back to my previous fragment with the camera view still active.

06-14 15:44:45.320 7651-7671/com.qucoon.testingcamerapreview E/Camera1: unbindFromSurface Could not release surface java.io.IOException: setPreviewTexture failed
    java.io.IOException: setPreviewTexture failed

[2019-06-17 12:09] #468 closed

[2019-06-20 00:16] #456 closed

[2019-06-20 00:16] #462 closed

[2019-06-20 01:16] #463 closed

[2019-06-20 10:56] derohimat opened #481 "how to get Audio Level / Noise ?"
### How do I?
I use this library for recording video. Can I get audio level / noise from camera view ?

### Version used
CameraView exact version. 1.6.1

[2019-06-21 10:35] cswangduo commented on #364
I encounter the same question

[2019-06-23 13:55] MoustafaElsaghier opened #483 "open camera takes long time"
### How do I?
I'm trying to use the CameraView as ( full screen - custom size ) when open the activity it takes about 1-2.5 secs and on other phones takes 3- 4sec to bring the camera on and make it live.

in onCreate I use
[code]

in onResume use

[code]
and finally in onDestroy use
[code]
### Version used
1.6.0

[2019-06-23 19:13] #472 closed

[2019-06-26 07:57] BlindJerobine commented on #389
Same issue with my Pixel 2XL & some other test devices.

Preview stays light till video starts. While the video is recorded, it's extremely dark. The Output is dark, too!

Version used: 2.0.0-beta05

[2019-06-28 06:06] Rishabh-sx opened #485 "Unknow crashes"
When ever switching application from background to foreground or while opening camera.

USER_COMMENT=null
ANDROID_VERSION=9
APP_VERSION_NAME=1.0
BRAND=xiaomi
PHONE_MODEL=Redmi Note 5 Pro
CUSTOM_DATA=
STACK_TRACE=java.lang.RuntimeException: setParameters failed
at android.hardware.Camera.native_setParameters(Native Method)
at android.hardware.Camera.setParameters(Camera.java:2262)
at com.otaliastud

[2019-07-01 01:01] arsonistAnt opened #486 "onPictureTaken() no longer dispatched when app goes into background abruptly"
### Describe the bug
After calling takePicture(), onPictureTaken() is no longer being dispatched after making the app go into the background quickly.

I think there might be an issue with the scheduling for takePicture()? I've noticed two differences in the CameraLogger before and after the bug. Before the bug occurs the log says:
[code]

After the bug occurs CameraCallbacks no longer dispatches O

[2019-07-01 05:13] Rishabh-sx commented on #485
@natario1, Can you please check this issue. Otherwise I will be in big trouble.

[2019-07-01 09:08] cvb941 opened #487 "Spot metering"
Is there any way of changing the metering strategy, with modes that can be found on usual cameras? Or just setting the exposure areas, [as found in the camera api](https://developer.android.com/reference/android/hardware/Camera.Parameters.html#setMeteringAreas(java.util.List%3Candroid.hardware.Camera.Area%3E))?

We use the manual exposure correction for now, but it's not satisfactory. Thank you fo

[2019-07-01 18:23] #474 closed

[2019-07-02 07:24] #465 closed

[2019-07-02 08:24] #475 closed

[2019-07-02 08:30] brnogz commented on #470
what a nice way to manage issues

[2019-07-02 12:19] PalakSDarji commented on #379
I too want to disable the automatic rotation applied on video output. @aartikov  Can you share with us OrientationHelper changes? Thanks!

[2019-07-03 13:00] kleysonr commented on #451
To keep the issue opened.

[2019-07-04 14:44] luangs7 opened #489 "Taken photo is bigger than the preview"
### How do I?
I'm facing a problem using a Samsung J1 device here.
But the image taken is bigger than the preview one.

This is the preview that I got:
![Screenshot_2019-07-04-11-39-28](https://user-images.githubusercontent.com/16122202/60674591-d0d98780-9e50-11e9-88c1-bfe36c13ed0d.png)

and this is the final bitmap result:

![Screenshot_2019-07-04-11-39-35](https://user-images.githubusercontent.c

[2019-07-04 15:25] natario1 commented on #487
Can you list the Metering strategies that you would like and how each one translates into metering areas / weights?

[2019-07-04 15:28] natario1 commented on #489
You can either use takePictureSnapshot(), OR leave one of the CameraView dimensions to wrap_content .

[2019-07-04 15:30] natario1 commented on #486
Thanks for the good report, this is fixed by #490

[2019-07-04 15:41] luangs7 commented on #489
Thanks for your help, I'll try it when I return to the office.

Looking at the images, only the height is diff between the final bitmap and the preview.
Do you think that is a aspect ratio problem because of the portrait orientation?

[2019-07-04 15:49] natario1 commented on #489
Your screen aspect ratio is not supported by your device, so since you use match_parent for both dimensions, CameraView trims the exceeding top&bottom during the preview.

[2019-07-04 16:10] cvb941 commented on #487
If you'd like a predefined list of them, together with [this wikipedia page](https://en.wikipedia.org/wiki/Metering_mode) I would say:

- Default - equivalent to null on the setMeteringAreas(), use default device implementation
- Spot metering - metering based on the center 5% area
- Center weighted average metering - metering based on the center 70% area
- Average metering - metering based on the

[2019-07-04 16:34] luangs7 commented on #489
I get it.
Work as expect using takePictureSnapshot.
Thanks mate!

[2019-07-04 22:31] #489 closed

[2019-07-05 14:21] luangs7 opened #491 "App crash when tap to focus"
### Describe the bug
App crash with focus on tap.

- CameraView version: 2.0.0-beta05
- Device / Android version: *Samsung Gran Prime Duos, API 22*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Open camera
2. Tap on preview to focus, with app:cameraGestureTap="focusWithMarker"
3. See error

### Expected behavior
If focus does not support, dont crash the app.

###

[2019-07-05 15:17] #486 closed

[2019-07-09 09:47] huy-t commented on #379
Currently I use this lib for user capture their ID card.
They often put it in table and capture.
Some time this lib is mixing between Portrait and Landscape mode.
So this function should be provide soon.

[2019-07-09 15:13] #479 closed

[2019-07-11 03:41] natario1 commented on #292
This was fixed.

[2019-07-11 03:41] #292 closed

[2019-07-11 03:46] natario1 commented on #470
This should be fixed now.

[2019-07-11 03:46] #470 closed

[2019-07-11 03:47] natario1 commented on #481
No, sorry!

[2019-07-11 03:47] #481 closed

[2019-07-11 03:51] natario1 commented on #480
It's impossible to know what's wrong without a proper stack trace (invoked iterator() on a null reference of what?). Feel free to reopen if you have more information (like the line number at least).

[2019-07-11 03:51] #480 closed

[2019-07-11 14:08] shaji-Dev opened #496 "Record Video Max Resolution"
When recording a video with a 16:9 ratio, the resolution/videoSize is set to the lowest, how can I set the videoSize to record the highest quality possible?

Thank you.

[2019-07-11 14:19] #496 closed

[2019-07-11 14:57] luangs7 commented on #491
Any expectation to correct this one?

[2019-07-11 16:24] natario1 commented on #491
Is this your own device? @luangs7

[2019-07-11 18:49] ManuMobsuccess13 commented on #379
Same for me here , I'm stuck on a problem where my recording appears in landscape but everything else on my app is in portrait mode

[2019-07-12 04:56] aartikov commented on #379
@PalakSDarji
Sure. I have pushed my changes in this commit https://github.com/aartikov/CameraView/commit/a71c0f228c8136f929e044bc451cbc7b6334d401
I have added method `setAllowedOrientation` to `CameraView` with possible values: `LANDSCAPE`, `PORTRAIT`, `ANY`. You can check out how it works in the demo app.

@natario1
I don't make a PR with my solution because I am not sure that it will fit needs o

[2019-07-12 08:46] ManuEpi commented on #379
Hello,

@natario1
Thanks , when do you think it will be implemented on your projet and on which version please ?
I'm still using the 1.6.1 version actually :/

[2019-07-12 13:15] #379 closed

[2019-07-12 13:25] natario1 commented on #379
Hey, you can use setUseDeviceOrientation now (to be released in next version).

@ManuEpi time to migrate! :-) will go out of beta soon.

[2019-07-12 13:28] ManuEpi commented on #379
Hey ,  I will migrate for the next version which include "setUseDeviceOrientation" :)
Thank you

[2019-07-14 23:25] android4canada opened #500 "Delay when taking a video"
Hello
I have a button with clicking listener that as soon as I click, it will do cameraview.takeVideo(videoFile);
and start countdown timer

The problem that I notice that the first ~1 second of my video is always not taken. Is this a bug?  Is it because recording a video takes time to start up? If this is the case then is there some sort of listener for that event ? My timer is 5 seconds so not a

[2019-07-17 06:12] JirkaKrivanek opened #503 "Runtime crash"
V2 does not work to me at all, crashes on runtime on some missing component (build is fine):

Caused by: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/tasks/Tasks;
at com.otaliastudios.cameraview.engine.CameraEngineStep.<init>(CameraEngineStep.java:57)
at com.otaliastudios.cameraview.engine.CameraEngine.<init>(CameraEngine.java:194)
at com.otaliastudios.cameraview.e

[2019-07-17 08:14] fanxxxx opened #504 "remove gms dependencies"
### Problem to be addressed
CameraEngine use com.google.android.gms.tasks.Task **For convenience**
but at china, we don't support gms, It's not very convenient.
### Describe the solution you'd like to
remove gms dependencies

[2019-07-17 09:05] JirkaKrivanek opened #505 "Camera provides noisy images"
I am using the CameraView in a very basic manner:

        getBinding().cvCamera.setLifecycleOwner(getViewLifecycleOwner());
        getBinding().cvCamera.setMode(Mode.PICTURE);
        getBinding().cvCamera.setHdr(Hdr.OFF);
        getBinding().cvCamera.setWhiteBalance(WhiteBalance.AUTO);
        getBinding().cvCamera.setAudio(Audio.OFF);
        getBinding().cvCamera.setFacing(Facing.BACK);

[2019-07-17 10:40] zack-barakat commented on #503
I had the same issue, I solved it temporarly by adding CamerViea dependancies in my app build.gradle

`   implementation 'androidx.exifinterface:exifinterface:1.0.0'
    implementation 'androidx.lifecycle:lifecycle-common:2.1.0-alpha01'
    implementation 'com.google.android.gms:play-services-tasks:17.0.0'
`

[2019-07-17 12:39] natario1 commented on #505
Does this happen with the demo app? If not it might be something with your processing.

[2019-07-17 12:42] natario1 commented on #504
What do you mean? What happens if you run the app?

The Task dependency is just an ordinary library, it is not really a Google Play Services lib (e.g. requires no play services plugin, configuration, ...).

[2019-07-17 12:44] natario1 commented on #503
If you have missing dependencies you are either pulling the library in a unordinary way or you are using the AAR for some reason?

[2019-07-17 16:56] natario1 commented on #500
It takes time. In next version there will be onVideoRecordingStart() callback which will work better. #498

[2019-07-17 16:56] #500 closed

[2019-07-17 17:18] #301 closed

[2019-07-17 17:18] #449 closed

[2019-07-17 17:19] natario1 commented on #449
I believe this is fixed in `master` now.

[2019-07-17 17:20] natario1 commented on #353
This was merged in #502

[2019-07-17 17:20] #353 closed

[2019-07-19 05:28] PlaystoreApp opened #509 "How can i turn on front camera flash?"
### How can i turn on front flash?
Front camera flash is not **turning ON**.
I try both **cameraPreview.setFlash(Flash.ON);** and **cameraPreview.setFlash(Flash.AUTO);** but front flash is not working. Everyithing worked in back camera. Is there any solution for turn on front facing camera flash?

### Version used
CameraView exact version.
 implementation 'com.otaliastudios:cameraview:1.5.1'

[2019-07-19 13:14] borichellow opened #510 "Camera zoom, when record video"
- CameraView version: *v2.0.0-rc1*
- Reproducible in official demo app: *yes*
- Device / Android version: *Xiaomi Mi A1, Android 9*

#### Steps to reproduce the behavior in the demo app:
**(Engine is `camera2`)**
1. Go to `MainView`
2. Switch mode to Video
3. Click `record video` button
4. See that video recording started, but picture is zoomed a bit (about x1.5)

#### Expected behavior
Video reco

[2019-07-20 15:26] #483 closed

[2019-07-21 05:56] maylamayana commented on #504
cameraview:2.0.0-rc1

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.mydic, PID: 2313
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.mydic/com.example.mydic.MainActivity}: android.view.InflateException: Binary XML file line #9: Binary XML file line #9: Error inflating class com.otaliastudios.cameraview.CameraView
        at android.app.Activity

[2019-07-21 07:54] maylamayana commented on #504
I solved it by adding CamerView dependancies in my app build.gradle:

implementation 'androidx.exifinterface:exifinterface:1.0.0'
    implementation 'androidx.lifecycle:lifecycle-common:2.2.0-alpha02'
    implementation 'com.google.android.gms:play-services-tasks:17.0.0'

[2019-07-21 14:14] maylamayana opened #511 "Any way to get area of focus in camera2 or using CONTROL_AF_REGIONS ??"
.

### Version used
CameraView 2.0.0-rc1

[2019-07-21 18:48] RAN3000 opened #512 "Crash when stopVideo() is called."
### Describe the bug
When a video snapshot recording is stopped before the max duration (with `camera.stopVideo()`), the app crashes.

- CameraView version: 2.0.0-rc1
- Reproducible in official demo app: yes
- Device / Android version: Galaxy A5, API 24

### To Reproduce
A quick way to reproduce this, is to replace line 291 of the demo's `CameraActivity.java` with `camera.stopVideo()`.
So that you

[2019-07-21 22:04] #512 closed

[2019-07-22 06:54] fanxxxx commented on #504
I add play-services-tasks to solved this. This dependency size is 27KB.

For some app who didn't depend on gms, It's better to remove it

[2019-07-22 10:25] RAN3000 opened #514 "Video recording fails on Xiaomi Redmi 7"
### Describe the bug
A clear and concise description of what the bug is.

- CameraView version: commit f2350512f0193f3b2c80e6fa4deb324708e857d7 (first one after v2.0.0-rc1)
- Reproducible in official demo app: yes
- Device / Android version: Xiaomi Redmi 7, MIUI Global 10.3.1, API level 28

### To Reproduce
Just take a video (for the logs below I set the video duration to 2 seconds, but it affects

[2019-07-22 10:55] Rishabh-sx commented on #485
Resolved after updating dependency version

[2019-07-22 10:55] #485 closed

[2019-07-22 11:52] lisong15 opened #515 "can you give support version"
###
My project is an old one. I can't upgrade to Androidx for the time being. Can you provide a support library for us? Because I can't shut down the photo sound, I need a support library version with Camera 2. I downloaded 1.6.1 at present, but I don't have Camera 2. Thks
###

[2019-07-22 13:45] natario1 commented on #514
Thanks! There's not much I can do since I can't reproduce, I hope you can take a look into it.

I have no idea what this is about. Looks like a pixel format mismatch? I would be curious to know what colors you see if you draw some Color.RED, Color.GREEN and Color.BLUE in the overlay.

[2019-07-22 15:15] natario1 commented on #515
Your best option would be to fork CameraView, remove AndroidX and use it in your project as a local dependency.

[2019-07-22 15:34] #504 closed

[2019-07-22 15:35] natario1 opened #516 "Pom file does not contain dependencies"
The published pom file does not contain our dependencies.
This seems to have happened between 1.4.1 (has deps) and 1.4.2 (no deps).

[2019-07-22 15:36] natario1 commented on #503
Please subscribe to #516

[2019-07-22 15:36] #503 closed

[2019-07-22 17:01] BlindJerobine opened #518 "FATAL EXCEPTION: VideoEncoder on Stopping Video Snapshot"
Hi, if I try to end a VideoSnapshot with .stopVideo() I get following error:

E/AndroidRuntime: FATAL EXCEPTION: VideoEncoder
    Process: xxx, PID: 23287
    java.lang.NullPointerException: Attempt to invoke virtual method 'void com.otaliastudios.cameraview.preview.GlCameraPreview.removeRendererFrameCallback(com.otaliastudios.cameraview.preview.RendererFrameCallback)' on a null object reference

[2019-07-22 17:19] BlindJerobine commented on #514
I have the exact same problem with my Pixel 2XL, if I record a Video Snapshot.
But it works in my real App (Except for #518).

I think this could be Demo app exclusive.

[2019-07-22 17:25] #516 closed

[2019-07-22 18:55] natario1 commented on #518
See #512

[2019-07-22 18:55] #518 closed

[2019-07-22 21:42] luangs7 commented on #491
Yes, it is. @natario1. Happening again with beta06 version

[2019-07-22 22:17] natario1 commented on #514
I would also be curious to know if it happens with Camera1 or Camera2 or both.

[2019-07-23 01:23] lisong15 commented on #515
Okay, thank you for your reply.

[2019-07-23 06:46] Resmic opened #520 "I want to process raw data, such as adding filters or beauty, what do I need to do?"
I want to process raw data, such as adding filters or beauty, what do I need to do?

[2019-07-23 09:34] RAN3000 commented on #514
I just checked, it happens with both Camera1 and Camera2.

I added an overlay with three squares with colors (from left to right): Color.RED, Color.GREEN, Color.BLUE.
Here's what I get:
![colors](https://user-images.githubusercontent.com/8596184/61701022-bd2d8c80-ad3d-11e9-89f4-362c8a6ebed8.jpg)

[2019-07-23 12:32] natario1 commented on #514
I see. I really don't know how to address this issue though.

[2019-07-23 19:20] #515 closed

[2019-07-24 08:28] kcstesting commented on #510
I have experience a same issue when start recording in video mode for iBall tablet. the screen will be zoomed so can you please fix this

[2019-07-24 15:33] natario1 commented on #514
Do picture snapshots work well?

[2019-07-24 15:48] natario1 commented on #491
Can you download the latest demo app and do some debugging to see which line is causing this. You should modify activity_camera.xml to use Camera1 instead of Camera2 and then you could do some tests... For example:

1. remove line 792 only (Camera1Engine.java)
2. remove line 793 only
3. remove 792 and 793
4. remove 794 only

In which of these scenarios does it crash?

[2019-07-25 07:10] RAN3000 commented on #514
They do work.

[2019-07-25 11:47] natario1 commented on #514
@RAN3000 and does it works if you remove overlays?

[2019-07-26 08:46] bilsou opened #522 "Both setPictureSize and setPreviewStreamSize have no effect on addFrameProcessor width and height"
Using the code below on a Nokia 5.1 with Android Pie and CameraEngine2

[code]

Width and height are always 640*480 regardless of what is chosen.

[2019-07-27 17:41] natario1 commented on #522
Yeah, with Camera2 you have no control over the frame processor size. There has never been an explicit API for that.

[2019-07-27 20:52] bilsou commented on #522
I remembered afterwards how unreliable Camera2 API was depending on the hardware/manufacturer compared to Camera1. I will stick with Camera1.

Thank you anyway for getting back to me.

[2019-07-27 20:52] #522 closed

[2019-07-27 21:02] natario1 commented on #522
But we might add this in the future. I just think we'll keep a hard limit of 700 for both dimensions.

[2019-07-28 16:03] wosiu opened #525 "Snapshot performance degradation for some devices between 1.6.1 and 2.0.0-rc2"
### Describe the bug
`takePictureSnapshot()` is ~2 time faster/slower between 1.6.1 and 2.0.0-rc2 depending on a device.

- CameraView version: 1.6.1 and 2.0.0-rc2
- Reproducible in official demo app: neet to investigate
- Device / Android version: many - check below

### To Reproduce
The way I'm using CameraView is:
1. take snapshot
2. process snapshot
3. go to 1.

One such iteration takes:

dev

[2019-07-28 16:19] natario1 commented on #525
My first suggestion is to leave your processing out and do this in the demo app.

This said, snapshots are taken in a completely different way after v1.

[2019-07-28 22:34] wosiu commented on #525
I tested in the demo app (without any modifications), overlay in preview -> false. Given times in ms, average of several tries. For 1.6.1 only "picture" mode, as "snapshot" is not available in the demo app.

| device                                         | 1.6.1,  picture | 2.0.0-rc2,  snapshot,  camera1 | 2.0.0-rc2,  snapshot,  camera2 | 2.0.0-rc2,  picture,  camera1 | 2.0.0-rc2,  picture,  cam

[2019-07-28 23:22] natario1 commented on #525
We do not even try to make pictures fast, but picture snapshots should be, faster than 1400 for sure. You could try

- removing snapshot overlays, this saves time
- setting a snapshotMaxWidth or snapshotMaxHeight, this will help a lot too

And you can add logs for the device that has this issue and see where this time is being spent. I suspect that's EglBaseSurface.saveFrame, but it might be somew

[2019-07-28 23:22] wosiu commented on #525
Profiler (for current master, camera1/camera2, Huawei P10-lite WAS-LX1, Android 7.0, API 24) says it spends most of that time in "FallbackCameraT" thread during capturing a snapshot:

![Zrzut ekranu z 2019-07-29 01-06-00](https://user-images.githubusercontent.com/4964388/62014189-36920880-b19e-11e9-8a77-05c47ab7a3bf.png)

"FallbackCameraT" seems to be recreated for each snapshot call. Here I calle

[2019-07-28 23:33] wosiu commented on #525
For Sony Xperia M5, Android 6.0, API 23 behaviour is similar, however time spent in "FallbackCameraT" is way shorter:
![Zrzut ekranu z 2019-07-29 01-31-46](https://user-images.githubusercontent.com/4964388/62014397-e1a3c180-b1a0-11e9-97fd-8b7edf5763d2.png)

[2019-07-28 23:55] wosiu commented on #525
I think I found a wrongdoer:
![image](https://user-images.githubusercontent.com/4964388/62014608-8c1ce400-b1a3-11e9-8cb3-840e47d3a557.png)

EglBaseSurface -> saveFrameTo -> saveFrameTo()

[2019-07-29 08:58] natario1 commented on #525
Yes, in your case I guess it is doing some color conversion on the CPU instead of GPU before returning the results.

[2019-07-29 10:38] wosiu commented on #525
that indeed helped a lot and probably I'll be fine.
However regarding:

Is there a chance that converting somehow to greyscale would be even faster? Because at the end of the day I need a greyscale image.

[2019-07-29 10:48] natario1 commented on #525
In theory yes, but you would have to inject stuff at various parts of the library, use a GL shader to convert frames to grayscale, ensure surface format is grayscale (not sure if possible), and hope that glReadPixels supports reading that single channel, which I'm not sure, and hope that you can create a `Bitmap` out of that...

[2019-07-29 11:08] wosiu commented on #525
Got it. For now I'll stick with `snapshotMaxWidth` as further speed up is not that critical though - I went down to less than 200ms with snapshot width ~340px which is fine for my purpose.
I'm closing this one. Many thanks and great job btw :)

[2019-07-29 11:08] #525 closed

[2019-07-29 12:18] PalakSDarji commented on #9
I want to ask if there is any better option to increase quality in *snapshot()? I want to capture what exactly user is seeing, but I want to have good quality as well.. Please help me!

[2019-07-29 13:02] natario1 commented on #9
@PalakSDarji for resolution you can use setPreviewStreamSize(). But I do not recommend changing this to high values or the camera can fail to open (with Camera2).

[2019-07-30 04:00] sceneren commented on #514
I have the exact same problem with my Pixel XL, if I record a Video Snapshot.
but I remove overlays ,it can works

[2019-07-30 09:13] sceneren opened #526 "Video Snapshot crash when closing app while recording"
### Describe the bug
use camera.takeVideoSnapshot() after,click HOME to background  and restart APP ,crashed

- CameraView version: 2.0.0-rc2
- Reproducible in official demo app: yes
- Device / Android version: Google Pixel XL Android 9, API 28

###Log:
2019-07-30 17:03:57.582 3189-3265/com.agz.testvideorecord E/GLConsumer: [SurfaceTexture-2-3189-1] checkAndUpdateEglState: invalid current EGLConte

[2019-07-30 09:15] natario1 commented on #526
You press home while recording the video? Or what?

[2019-07-30 09:17] sceneren commented on #526
yes,when I recoding video ,click Home

[2019-07-30 14:41] #451 closed

[2019-07-30 19:05] natario1 commented on #514
I would appreciate if you guys could test the workaround-514 branch.

[2019-07-30 21:46] Geraldo-Neto commented on #107
Would really be great to have more focus modes. But the best we can do for now is to set autofocus reset delay to 0 then focus on a given point. Like this:
`camera.setAutoFocusResetDelay(0); camera.startAutoFocus(camera.getWidth()/2,camera.getHeight()/2);`

[2019-07-31 01:43] sceneren commented on #514
i tested the workaround-514 branch and saw the interface when I recorded the video, but sometimes it flickered or only recorded the first frame.

[2019-07-31 07:19] natario1 commented on #514
@sceneren could you post a video of your screen with workaround-514?

[2019-07-31 07:45] sceneren commented on #514
[device-2019-07-31-154027.mp4.zip](https://github.com/natario1/CameraView/files/3450399/device-2019-07-31-154027.mp4.zip)

[2019-07-31 12:59] natario1 commented on #514
Hey @sceneren could you pull again that branch and try again? I'm hoping it should be fixed now.

[2019-07-31 15:05] sceneren commented on #514
Thanks a lot, it works fine now in my pixel xl, and when can you merge it into the master branch

[2019-07-31 15:24] natario1 commented on #514
In the next few days! Thanks for helping.

[2019-08-01 00:19] #514 closed

[2019-08-01 07:14] vikas-markk opened #529 "On Single button how to handle picture and video capturing together?"
### How do I?
On Single button how to handle picture and video capturing together?
### Version used

com.otaliastudios:cameraview:2.0.0-rc1

[2019-08-01 11:07] #526 closed

[2019-08-01 14:09] sceneren commented on #526
When to update Gradle dependencies？Fix #526,#514

[2019-08-01 14:18] natario1 commented on #526
@sceneren you can Watch this repository so you'll get notifications when we have new releases.

[2019-08-01 14:22] sceneren commented on #526
@natario1 thx

[2019-08-01 14:50] RAN3000 commented on #514
It works on my Xiaomi Redmi 7 too.

[2019-08-05 12:48] Ma7moudHatem opened #532 "How to make the captured photo or recorded video from the front camera looks like the preview not flipped?"
### How to make the captured photo or recorded video from the front camera looks like the preview not flipped?

When using the front camera and want to record a video or capturing a photo, the recorded video output or the captured photo output becomes flipped horizontally and not looks like what it was while recording or previewing.
So, can you please help me with my issue.

### Version used
Camer

[2019-08-05 12:51] natario1 commented on #532
You can use the snapshot APIs to catch exactly what you see.

[2019-08-05 13:04] Ma7moudHatem commented on #532
@natario1, what if I don't want to use the snapshot method because of the limitations in it, what can I do?

[2019-08-05 13:09] natario1 commented on #532
You can post-process the JPEG picture or MP4 video to flip them, but you will have to use separate library/tools to do it

[2019-08-05 13:14] Ma7moudHatem commented on #532
Thank you.

[2019-08-05 13:32] hmittal1990 opened #533 "Getting frame size bigger than preview size in some devices"
### Describe the bug
A clear and concise description of what the bug is.

- CameraView version: *2.0.0-rc-2*
- Reproducible in official demo app: yes
- Device / Android version: *Opp f1s , vivo y69, API 22*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Go to '...'
2. Click on '....'
3. See error

### Expected behavior
frame  size should be sames as preview size as

[2019-08-05 13:39] natario1 commented on #533
Can you fill all the bug info? Thanks!

[2019-08-05 14:18] hmittal1990 commented on #533
Info filled

[2019-08-05 14:25] natario1 commented on #533
What is preview size? How are you getting it?

[2019-08-05 14:29] hmittal1990 commented on #533
Preview size is the cameraview dimensions i am assuming.

[2019-08-05 14:36] natario1 commented on #533
There can be a difference between the two, but the aspect ratio is always the same (4:3 in your case). So you can just scale down or up to match the other size without distortion.

[2019-08-05 14:38] hmittal1990 commented on #533
Can you provide me any example ?

[2019-08-05 17:38] hmittal1990 commented on #533
Thanks for the information

[2019-08-06 03:51] sceneren opened #534 "Honor 10 Lite width and height use match_parent and set cameraAudio=true crashed"
- CameraView version: 2.0.0
- Reproducible in official demo app: yes
- Device / Android version: Honor 10 Lite, API 28

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. set width and height  = match_parent
2. set cameraAudio=true
3.click snap video

camera1 can work .

### Logs
2019-08-06 11:44:36.355 28368-28405/com.otaliastudios.cameraview.demo E/HwCustAudioRecordIm

[2019-08-06 11:56] vishnusp commented on #449
@natario1 Tried with `CameraView 2.0.0` in Moto G4 Plus with Android 7.0.
The issue persists!
Unable to view/play the recorded video.

[2019-08-06 17:48] natario1 commented on #176
We now have real-time filters thanks to #527 .

[2019-08-06 17:48] #176 closed

[2019-08-07 03:56] gbcapps opened #536 "Frame processing from video"
How do you get the frames from a video? I would like to process these frames and make changes to them.

[2019-08-07 13:06] marcin-adamczewski commented on #510
I encounter the same issue. Any fix for that?

[2019-08-07 13:38] natario1 commented on #510
Can you post a screen recording of the issue? and specify if it's Camera1 or Camera2.

[2019-08-07 14:47] JeevanDeep opened #538 "Filter after taking video snapshot"
Hi, thank you for this great library. I have one question. Is it possible to apply filters ( i have quite a few open gl filters) after the video has been made (by video snapshot)

[2019-08-07 14:56] natario1 commented on #538
If you post-process them... It doesn't matter if it was a snapshot or not.

You can start from https://github.com/natario1/Transcoder . It does not support filters, but is a good starting point.

If you have good quality filters, feel free to send a PR here 🙂

[2019-08-07 17:56] #538 closed

[2019-08-08 04:09] narayan07feb opened #539 "Getting FATAL exception while coming back to fragment after captured video"
In my app there is two fragment, In one fragment i am using cameraView to capture video , after video captured, i am replacing fragment to another fragment which playing recorded file,  when i am pressing back button i am getting below exception

Process: com.samyotech.keymarket, PID: 26451
    com.otaliastudios.cameraview.CameraException: java.lang.RuntimeException: Internal Camera1 error. 2

[2019-08-08 05:57] JeevanDeep opened #540 "Very high size of output file"
Hi, I am using this library for making snapshot videos. A 3-minute video has a size of 99mb. Is there any way to reduce this size, perhaps some settings? I tried reducing snapshotmaxwith and height but that made video pixelated. Thank you for this wonderful library.

[2019-08-08 10:38] natario1 commented on #540
There are many, the most important being probably `videoBitRate`. A combination of `videoBitRate`, `snapshotMaxWidth`, `snaposhotMaxHeight`, `audio=mono` might work.

Or you can post-process the video using https://github.com/natario1/Transcoder where you can also change the video frame rate.

[2019-08-08 10:40] natario1 commented on #539
Most likely you are not releasing the CameraView correctly in the first fragment. Make sure you are using `setLifecycleOwner(getViewLifecycleOwner())` instead of `setLifecycleOwner(this)`.

[2019-08-08 10:42] natario1 commented on #536
It's not something we support here. You can take a look at https://github.com/natario1/Transcoder for how to read and process video data.

[2019-08-08 10:43] natario1 commented on #533
Depends on what you are doing, I think you might find help asking on StackOverflow.

[2019-08-08 10:43] natario1 commented on #529
If you use `takePictureSnapshot` and `takeVideoSnapshot` you should be able to take both together.

[2019-08-08 10:45] natario1 commented on #520
Your best option is to do so though an OpenGL `Filter` (see `CameraView.setFilter()`). Assuming you have OpenGL knowledge.

[2019-08-08 10:46] natario1 commented on #511
No, but you can subclass `CameraView` and override `instantiateCameraEngine()`.

There you can return a subclass of `Camera2Engine` and in this class you can probably access the internals. We can add more protected methods there so you have access to what you need.

[2019-08-08 10:48] natario1 commented on #534
Can you identify whether your issue is video or audio or both?

- Does it work with audio=off / width and height=match_parent?
- Does it work with audio=on / width and height=wrap_content?
- Does it work with audio=off / width and height=wrap_content?

[2019-08-08 10:50] hmittal1990 commented on #533
I have solved it with mathematical calculation. Thanks for the great library

[2019-08-08 10:58] #533 closed

[2019-08-08 11:14] sceneren commented on #534
audio=on, width = match_parent, height= match_parent  don't work
audio=off, width = match_parent ,height= match_parent can work
audio=on, width = wrap_content, height= wrap_content  can work
audio=off, width = wrap_content, height= wrap_content can work

[2019-08-08 11:38] narayan07feb commented on #539
tried same thing but still getting same error
 override fun onViewCreated(view: View, savedInstanceState: Bundle?) {
        super.onViewCreated(view, savedInstanceState)
        preview.setLifecycleOwner(viewLifecycleOwner);
        img_switch_camera.setOnClickListener(::switchCamera);
        img_flash_control.setOnClickListener(::controlflash);
        center_progress_button.setRecordListener(r

[2019-08-08 12:35] #539 closed

[2019-08-08 19:14] natario1 commented on #534
Are you sure? The stack trace you posted is about video so I don't understand why `audio=on/off` should make a difference.

Just asking. Maybe you have different stack traces.

[2019-08-09 02:47] iRYO400 opened #542 "Layout Editor freezes "Waiting for build to finish""
### Describe the bug
After opening a xml layout that contains CameraView, Android Studio's layout editor change state to "Waiting for build to finish" for all projects on my mac. The only thing can help is Invalidate cache and restart

- CameraView version: 2.1.0/2.0.0
- Reproducible in official demo app: *yes*
- Android Studio version: 3.4.2(stable)/3.5 RC2
- macOS Mojave 10.14.5/10.14.6

### To

[2019-08-09 03:22] sceneren commented on #534
[SVID_20190809_110843_1.mp4.zip](https://github.com/natario1/CameraView/files/3484589/SVID_20190809_110843_1.mp4.zip)

u can see this video ,set width and heigth = match_parent

[2019-08-09 04:30] iRYO400 commented on #542
Just tested on Windows 10 PC at work. Same result
Android Studio 3.4.2(stable)

[2019-08-09 10:49] natario1 commented on #534
Could you post all logs from the demo app from start to crash?

[2019-08-09 14:25] MoustafaElsaghier commented on #466
Mr @natario1 any updates on this issue?

[2019-08-09 19:23] akokulyuk opened #543 "toggleFacing() while takings video"
Hi, guys is it possible to switch facing without stopping recording?
Now if i toogleFacing() I just get video only from 1 facing, rest of the video is not available

### Version used
v. 2.1.0

[2019-08-10 01:10] natario1 commented on #543
No, sorry!

[2019-08-10 02:35] iRYO400 commented on #542
Just caught this in Layout Editor, dunno is it related to view
[code]

layout structure:
- layout
 - ConstraintLayout
  - CameraView
  - UI to control CameraView
 - /Constraint
- /layout

[2019-08-10 09:02] JeevanDeep commented on #543
Hi, is it not possible to do even in snapshot mode?

[2019-08-10 09:03] #540 closed

[2019-08-10 09:50] natario1 commented on #543
If you fork the project and change a few things you can make it work for video snapshots.

But we don't support this officially because changing the `Facing` value can change the view size, change the preview stream size and aspect ratio, and cause issues in the output video.

[2019-08-10 10:58] JeevanDeep commented on #543
@natario1 Can you guide me towards this approach? I forked the project and found that you restart the camera when switching the facing. Do i have to change something in stop and start function?

[2019-08-10 12:02] natario1 commented on #543
@JeevanDeep it's not an easy task, I can't really write it in a comment... and I have never tried to do so. You should make sure the video recorder is not stopped, and the preview stream size stays consistent or you account for changes in it.

[2019-08-10 16:45] iRYO400 commented on #542
Anybody, please help!
Found that dont need to invalidate cache, "Just restart" can help

[2019-08-11 03:22] iRYO400 commented on #542
Just commented lines 151 and 156, calling init method inside CameraView's constructors, now it doesn't freeze. It means init method is overloaded

[2019-08-12 02:47] #542 closed

[2019-08-12 07:50] KanwarpartapSinghBimrah opened #544 "Frame.getSize returns null"
See screenshot what code I had written. I got only one error like this

**java.lang.IllegalStateException: frame.size must not be null**
[code]

Also, you can see code and let me know how to solve this error soon.

![image](https://user-images.githubusercontent.com/39325207/62851469-c50c9b00-bd03-11e9-8fed-b14053b82165.png)

[2019-08-12 16:25] CameraCornet commented on #536
If this comes up as an added feature, I too am interested in this. I'm looking to do motion detection for security camera.  Thanks.

[2019-08-12 17:03] natario1 commented on #534
@sceneren Could you also test the `video-encoders` branch?

[2019-08-13 04:42] vpmalley opened #546 "Crash when opening the camera more than once for <1% of users"
### Describe the bug
On Firebase Crashlytics, I notice a crash happening to <1% of users. This happens when the camera is opened twice without being closed

- CameraView version: *2.0.0-beta04*
- Reproducible in official demo app: *no* (Where can I find this demo app?)
- Device / Android version: *API 28, many devices, mostly Samsung but that might just be representative of the app users*

### To

[2019-08-13 06:15] vikas-markk opened #547 "Unable to record video."
###
Getting error code -38, refer below logs.
E/MediaRecorder: start failed: -38
FullVideoRecorder: start: Error while starting media recorder. java.lang.IllegalStateException
    java.lang.IllegalStateException
        at android.media.MediaRecorder.start(Native Method)
        at com.otaliastudios.cameraview.video.FullVideoRecorder.onStart(FullVideoRecorder.java:138)
        at com.otaliastudios

[2019-08-13 06:17] #547 closed

[2019-08-13 06:18] vikas-markk opened #548 "Unable to record video"
###Getting error code -38, refer below logs.
E/MediaRecorder: start failed: -38
FullVideoRecorder: start: Error while starting media recorder. java.lang.IllegalStateException
java.lang.IllegalStateException
at android.media.MediaRecorder.start(Native Method)
at com.otaliastudios.cameraview.video.FullVideoRecorder.onStart(FullVideoRecorder.java:138)
at com.otaliastudios.cameraview.video.VideoRecord

[2019-08-13 06:21] sceneren commented on #534
I test this branch.
#####################
width and height =wrap_content
#####################

2019-08-13 14:16:58.842 5661-5661/com.otaliastudios.cameraview.demo D/HwAppInnerBoostImpl: asyncReportData com.otaliastudios.cameraview.demo,2,1,1,0 interval=67
2019-08-13 14:16:58.859 5661-5661/com.otaliastudios.cameraview.demo V/AudioManager: playSoundEffect   effectType: 0
2019-08-13 14:16:58.859 566

[2019-08-13 07:42] vikas-markk commented on #548
<com.otaliastudios.cameraview.CameraView
        android:id="@+id/camera"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:keepScreenOn="true"
        app:cameraAutoFocusMarker="@string/cameraview_default_autofocus_marker"
        app:cameraFlash="auto"
        app:cameraGesturePinch="zoom"
        app:cameraGestureTap="autoFocus"
        app

[2019-08-13 07:45] #529 closed

[2019-08-13 11:43] natario1 opened #549 "Video Recording crashes on HARDWARE_LEVEL_LEGACY devices"
### Describe the bug
When ending a normal video, the following exception is thrown:

[code]

- CameraView version: 2.1.0
- Reproducible in official demo app: not sure
- Device / Android version: HARDWARE_LEVEL_LEGACY devices

### Logs

[code]

[2019-08-13 13:11] natario1 commented on #546
You should use `getViewLifecycleOwner()` and this might fix everything.

When? From which thread? Also, if you use a lifecycle owner you don't need to open explicitly.

[2019-08-13 13:13] natario1 commented on #534
@sceneren I have updated the branch. Can you try again? I think this should be fixed now.

[2019-08-13 13:15] natario1 commented on #548
Can you investigate as to why it's not reproducible in the demo app?
There must be something in your app.

[2019-08-13 13:29] vikas-markk commented on #548
Just now added one fix in XML, then pixel its working fine .

    <com.otaliastudios.cameraview.CameraView
        android:id="@+id/camera"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:keepScreenOn="true"
        app:cameraAutoFocusMarker="@string/cameraview_default_autofocus_marker"
        app:cameraFlash="auto"
        app:cameraEngine

[2019-08-13 16:56] CameraCornet opened #550 "Exception #6 on device with only a single camera, front-facing, with demo app"
### Describe the bug
A clear and concise description of what the bug is.

- CameraView version: latest from GitHub
- Reproducible in official demo app: do not know
- Device / Android version: 7.1.1, chromeos / HP chromebook

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
Build and start demo app on device with only a single camera, front-facing

### Expected behavior
D

[2019-08-13 19:05] natario1 commented on #550
Thanks!
Are you calling `setFacing()`?
Do you have `app:cameraFacing` set?
Does it work if you remove the two above?

[2019-08-13 21:01] natario1 commented on #548
@vikas-markk could you try with the [video-encoders](https://github.com/natario1/CameraView/tree/video-encoders) branch and see if it works without specifying the video bit rate?

[2019-08-13 23:16] vpmalley commented on #546
Thank you, this sounds like a good idea indeed. This looks like it's working with the first tests I made.

The scenario is that the CameraView can be hidden. When I hide it (setting the visibility to `GONE`) I also close it, and reopen when showing it again (all this is happening in the same fragment).

Since that might be the cause of the crash, I might as well just not close it (I'm not sure how

[2019-08-14 01:40] #505 closed

[2019-08-14 08:51] vishnusp opened #553 "Unable to view/play the recorded video."
Unable to view/play the recorded video using `CameraView.takeVideoSnapshotFile file)`. The file is created but it doesn't play. Might be a problem when the maxDuration is set as 0?
But `CameraView.takeVideoSnapshot(File file, int durationMillis)` works fine.

- CameraView version: 2.0.0
- Device / Android version: Moto G4 Plus with Android 7.0

[2019-08-14 10:56] natario1 commented on #553
This is fixed by #551 .

[2019-08-14 17:06] natario1 commented on #546
Thanks for info @vpmalley ! I don't think this is worth investigating from our side, we expect `open()` to be called in a valid state and using the fragment as a lifecycle owner won't do this.

Feel free to `close()` and `open()` when changing visibility, as long as you change this while the fragment is attached (`fragment.getView() != null && fragment.getActivity() != null` might be a good check)

[2019-08-14 17:06] #546 closed

[2019-08-14 17:24] #549 closed

[2019-08-14 17:24] #553 closed

[2019-08-14 19:00] wiztensai opened #554 "E/Frame: Frame is dead! time: -1 lastTime: 1565808924463"
### Describe the bug
When i use frame processor in ML Kit Face detection.. in long time, always frame is dead.. is there a listener when frame is dead?

- CameraView version: *2.0.0-rc2r*
- Reproducible in official demo app: *yes/no* (i dont understand this)
- Device / Android version: *Redmi note 4, Nougat*

### Expected behavior
- I want a listener when frame is dead
- i want the frame not dead.

[2019-08-14 19:13] PhungVanHoa opened #555 "Cannot take picture after focus"
- CameraView version: 2.1.0
- Reproducible in official demo app: yes
- Device / Android version: Galaxy Note 9, API 28

After focus by touch (**in picture mode**), I call takePicture() to take picture from main camera but nothing happens. onPictureTaken() no longer dispatched.

**Expected behavior**
onPictureTaken() should be dispatched after calling takePicture().

[2019-08-15 06:36] #509 closed

[2019-08-16 11:02] vikas-markk commented on #548
@natario1 Yes its working on pixel, i wanted to test it on other device also.
Soon i will update you other device report also.

[2019-08-16 11:15] natario1 commented on #548
Thank you @vikas-markk !

[2019-08-16 15:16] gabriel-TheCode opened #556 "How to get a medium size of video"
### How do I?
I try to record a video with cameraview but I would like it to be between 4 and 6 MB, but the method "cameraVideoSizeSmallest" returns a video of 600kb but unusable because too blurry for facial recognition and the method "cameraVideoSizeSmallest" returns a nice video but too heavy (11Mo)

### Version used
2.0.0-beta04

[2019-08-18 17:39] dssob commented on #542
Hello, I have faced the same issue, could you please give a piece of advice on how can I solve it?

[2019-08-18 18:33] dssob opened #557 "Layout Editor freezes "Waiting for build to finish" after upgrading library to version 2.1.0"
### Describe the bug
Hello, I was using version 1.6.1 and it was working fine but after upgrading the library to version 2.1.0, when I open an XML layout that contains CameraView, Android Studio's layout editor change state to "Waiting for the build to finish" for all projects on mine PC. The only thing can help is Invalidate cache and restart or restart

### To Reproduce
Steps to reproduce the be

[2019-08-19 01:57] sceneren commented on #534
I'm sorry to have taken so long to reply to you. Now it can work properly.

[2019-08-19 02:29] ruidge opened #558 "can version1.x use live filter?"
### How do I?
We has a new function is take photos, and use version 1.6.1 to develop ,it works well. But we need a live filter feature which is supported after version 2.0 , and We need to update gradle version and migration to androidx first which is a huge work (because we have a lot partner lib and we dont know the migration may cause the function error or not) .so we may migration lately not n

[2019-08-19 05:01] iRYO400 commented on #542
@dssob Hello!
I removed CameraView from xml and initializing it programmatically
Example:
[code]

`initCamera` called in onCreate(in Activity) or onCreateView/onViewCreated(in Fragment)

[2019-08-19 05:02] iRYO400 commented on #557
#542 check it out =)

[2019-08-19 07:25] hangga commented on #148
I also found the same error on the CUBOT_X18_Plus device

[code]
Then I do this

[code]

and solved it, Alhamdulillah..

[2019-08-19 08:41] natario1 commented on #534
Thanks! I'll close this when we merge the PR

[2019-08-19 08:44] natario1 commented on #558
No, sorry! You should update your project.

[2019-08-19 19:24] #520 closed

[2019-08-19 19:26] natario1 commented on #473
That's because frames come in `ImageFormat.NV21` (as you can see from frame.getFormat()) so they are not JPEGs. You should find some other way of visualizing, maybe using the `YuvImage` class.

[2019-08-19 19:26] #473 closed

[2019-08-19 19:27] #511 closed

[2019-08-19 19:27] #532 closed

[2019-08-19 19:27] #543 closed

[2019-08-19 19:29] natario1 commented on #536
No, we have no plans to add video processing features to the camera library, sorry! You can take a look at the library some comments above.

[2019-08-19 19:29] #536 closed

[2019-08-19 19:30] natario1 commented on #556
You can use `setVideoSize()` and choose a size that you like.

[2019-08-20 06:49] ankitivo commented on #473
Thanks, I did figure it out.

[2019-08-20 09:57] gabriel-TheCode commented on #556
I think that this method stops the recorder when the desired size is reached, no matter the time of the video.
I want to record a video of 5 seconds with size between 4 and 6 MB, with this method it is possible?

[2019-08-20 11:16] sachinbhanot opened #560 "Frame is not capturing while takevideo ."
private val cameraProcessor = FrameProcessor { it ->
        Log.d("cameraproccessor", "frame_dimen" + "${it.size.width},${it.size.height}")
        Log.d("cameraproccessor", "start")

        if (frameWidth != it.size.height && frameeHeight != it.size.width) {
            frameWidth = it.size.height
            frameeHeight = it.size.width
            setRatio()
        }
        if (!isFreezeFra

[2019-08-20 16:45] #491 closed

[2019-08-21 01:40] pedromarthon commented on #15
Is there any option to flip the result of front camera picture?

[2019-08-21 06:09] sunnyj0613 opened #561 "How can i get high Quality Picture?"
Cameraview Ver 2.1.0

I want to get high quality picture.
But i don't know how can i get.

I just tested using demo. and takePicture() not takePicturSnapshot().

I read docs that takePicture() gets hight Quality Picture and takePictureSanpshot() gets low quality.

But, Although i used takePicture(), but the result is not high Qulity.

i will show the sample image. Before take picture, the screen l

[2019-08-21 07:27] ruidge commented on #542
@iRYO400 this xml preview issue has any effect on function while use api ?

[2019-08-21 09:03] iRYO400 commented on #542
I think no. But if it would, just check `init` method and find which of initializers do not work

[2019-08-21 10:15] natario1 commented on #560
This is how it works.

You can probably get frames while recording if you use `app:cameraEngine="camera2"` and `app:cameraExperimental="true"`. Or you can use `takeVideoSnapshot()` instead of `takeVideo()`.

[2019-08-21 10:19] natario1 commented on #561
The demo app resizes the image to 1000 pixels to avoid `OutOfMemory` errors, but your real image should be OK!

[2019-08-21 10:31] sunnyj0613 commented on #561
That's work! Thank you so much!!

[2019-08-21 10:31] #561 closed

[2019-08-21 11:01] happysingh23828 opened #563 "Face detection with camera 2 API."
I want to implement face detection without using firebase ML kit. I found that camera 2 has a CaptureCallback by using it we can find the no of faces.

[2019-08-21 11:32] #534 closed

[2019-08-21 11:32] #548 closed

[2019-08-21 11:35] natario1 commented on #467
I'll treat this as fixed by #545.

If not fixed, at least it should crash with more useful messages. Either way, there's nothing more I can do here. Not sure if you want to test that out @HBiSoft . Thanks anyway!

[2019-08-21 11:50] natario1 commented on #272
I'm closing this as we have a new way to draw markers and this edge case might be fixed now.
If you want to reopen please attach a GitHub repo where the issue is reproducible.

[2019-08-21 11:50] #272 closed

[2019-08-21 11:53] natario1 commented on #217
I doubt we'll ever add this so I'm going to close this. Thanks!

[2019-08-21 11:53] #217 closed

[2019-08-21 13:00] #557 closed

[2019-08-22 13:47] borichellow commented on #510
@natario1 here is the video https://www.dropbox.com/s/3guregjef6ax7r0/Untitled.mp4?dl=0
device is (Xiaomi Mi A1, Camera2 is used).
As you can see by "MackBook" label, when the recording started image zoomed a bit

[2019-08-22 14:08] natario1 commented on #510
Thanks @borichellow that's interesting!

So you have this issue with both Camera1 and Camera2, with the only difference that in Camera1 it zooms as soon as you change mode, while in Camera2 it zooms when you start recording? Is this correct?

Does all this happen when you use `texture` as a preview surface?

[2019-08-23 00:38] CameraCornet commented on #550
Again, this is a device with only a single camera, front-only.

The user-interface "switch" front to back fails. Not sure why it gets in a state where switching always fails.

my quick-and-dirty-hack to get the app working on a Front-only device was:

     private Facing mFacing = Facing.FRONT;

Ideally the app would detect failure to open and heal? Or first run of the activity and try to detect d

[2019-08-23 09:06] hamzamon opened #566 "Getting crashed after taking image"
Hello, I have implemented the library and tested but getting crashed after taking image.....
but image is saving to the preferred destination and not works sizes

Code:

camera = (CameraView) view.findViewById(R.id.camera);
camera.setLifecycleOwner(getViewLifecycleOwner());

file = new File(Environment.getExternalStorageDirectory()+"/"+ UUID.randomUUID().toString()+".jpg");

camera.setMode(Mode.PI

[2019-08-23 09:10] borichellow commented on #510
@natario1 yes, in Camera1 it zooms as soon as I change mode and in Camera2 it zooms when I start recording.

I've just tried the newest demo-version: behaviour is the same, except one thing: in Camera1 i can't even record the video, get `CameraException#5` all the time.

For `texture` as a preview surface behaviour is the same.

[2019-08-23 11:09] natario1 commented on #510
@borichellow but once it zooms, can you go back to the original zoom with the pinch-to-zoom gesture? Or is it an extra zoom that can not be undone? Try doing some zoom in/out there and see if you're able to restore the original zoom.

Also - could you try removing `params.setRecordingHint(getMode() == Mode.VIDEO);` from Camera1Engine (line 391 or so) and try again with camera 1? Let's ignore the c

[2019-08-25 12:00] natario1 commented on #555
Can you fill the bug report information, including logs from the demo app? Thanks!

[2019-08-25 12:01] natario1 commented on #554
Can you fill the bug information, including logs from the demo app and your `FrameProcessor` code? Thanks!

[2019-08-25 12:03] natario1 commented on #563
We don't offer this feature, sorry. If you really want to you can subclass `CameraView` and `Camera2Engine` in your app and implement this yourself

[2019-08-25 12:09] natario1 commented on #544
@KanwarpartapSinghBimrah are you using Camera1 or Camera2 engine?

Can you enable logs in your app (`CameraLogger.setLogLevel(VERBOSE)`) and paste them here?

[2019-08-25 12:12] natario1 commented on #544
OK, I can see this issue with Camera2... I would like to know if you're using Camera1 or Camera2. If you are using Camera1, please post logs as well!

[2019-08-26 08:36] borichellow commented on #510
@natario1 zoom in/out - doesn't help, no option to get original zoom.

Removing `params.setRecordingHint(getMode() == Mode.VIDEO);` from Camera1Engine (line 391)  - looks like helped. It doesn't zoom anymore after switching to videoMode

Also i've tried to remove `params.setRecordingHint(getMode() == Mode.VIDEO);` AND adding
[code]
in that case camera1 also works good. I mean: no zoom after switch

[2019-08-26 10:58] natario1 commented on #510
@borichellow have you tried leaving `params.setRecordingHint(getMode() == Mode.VIDEO)` untouched, as is, but adding the video stabilization stuff? We don't want to remove the recording hint.

About the video exception, if you keep helping, we'll fix both issues :-) I can't reproduce this on my devices. Thanks!

[2019-08-26 12:27] borichellow commented on #510
@natario1 unfortunately it always zooms preview in videoMode  with `params.setRecordingHint(getMode() == Mode.VIDEO)` :(

sure, i can help, lemme know what to do :)

[2019-08-26 12:47] natario1 commented on #510
That sucks, we don't want to remove the recording hint. Let's see if we can fix this on Camera2 for now.

Can you make sure you use the Camera2 engine and modify the `Camera2Engine` class?
Go to the `applyAllParameters` method and add these lines at the top of the method:

[code]

If this fixes the issue, could you see which line is fixing it ? The first, or the second, or do we have to add both?

[2019-08-26 14:35] cneuwirt opened #567 "Exceptions when running version 2.0.0rc"
- CameraView version: *com.otaliastudios:cameraview:2.0.0-rc2*
- Device / Android version: *Samsung Galaxy S7 and Motorola Moto g(6)*

We recently deployed the latest release 2.0.0 to hundreds of devices.  We are getting the following exceptions occasionally.

Frame.java

Fatal Exception: java.lang.RuntimeException: You should not access a released frame. If this frame was passed to a FrameProcess

[2019-08-26 14:54] borichellow commented on #510
@natario1 , tried both lines (separately and together), result is the same: zoom after starting record.
Could be useful: my device has 2 cameras, so maybe it's not zoom, but switching between them.

[2019-08-26 16:24] natario1 commented on #510
I'm out of ideas then @borichellow ! You might want to try apply these to each physical camera:

[code]

But other than this I don't know what else to say, I don't have a similar device.

To check your suggestion, you can check the size / contents of `mCameraCharacteristics.getPhysicalCameraIds()` before and after the bug and see if it changes.

[2019-08-26 22:33] Danhyal-Masood opened #568 "Display processed frame onto preview"
How would I display the frame once it it has been processed?

[2019-08-27 09:32] najTim opened #569 "Frame processor still running after closing camera"
### Describe the bug
Frame processor still running after i close camera and clear all processors. It says that mFrameProcessors size is 0, that there is no frame processor, but i see in log that he is still running.

I tried it on 3 phones, and it was the same, so it`s not phone related problem. I`m closing camera in onPause and reopening it in onResume and attaching frameProcessor there, but it`s

[2019-08-27 09:54] shedeed1 commented on #569
Fotoapparat suffers from the same issue as well, hope it is fixed

[2019-08-27 15:58] ozzeusz opened #570 "After zooming autofocus stops working"
### Describe the bug
When pinching to zoom in auto focus stops working. Taping on screen changes exposition only.
- CameraView version: *2.0.0*
- Reproducible in official demo app: *yes*
- Device / Android version: *Oneplus 6, API 29*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Go to demo app,
2. Zoom in by pinching,
3. Try to focus camera by tapping on screen

[2019-08-28 01:56] 1334075863 opened #571 "Why do I take a picture with my front camera and then display the photo in reverse? Is there any solution?"
Why do I take pictures with a potential camera and then display the photos in reverse? Is there any solution?

[2019-08-28 08:54] najTim commented on #569
I kinda found the ugly way to do it. You can get id of thread in which frame processor is running, and when u dont need it anymore, just kill it with android.os.Process.killProcess(threadId).
It`s not good solution, i do not recommend it if you need clean solution. But it`ll get the job done. If someone came up with better solution.

[2019-08-28 08:55] najTim commented on #571
Well, it`s kinda how camera works. You can flip your image with matrix.postScale(-1, 1, cx, cy); and make new bitmap to show when from front camera.

[2019-08-28 10:16] natario1 commented on #569
What do you mean by still running? For how long? How many frames?

I'm OK if we send the very last frames that were taken while the camera was opened, and when they're over, we stop sending. This is intended, you can simply check `camera.isOpened()` in the frame processor method.

If you still believe this is a bug please fill the bug info.

[2019-08-28 10:18] natario1 commented on #571
Yes! This was discussed many times in closed issues.

[2019-08-28 10:18] #571 closed

[2019-08-28 10:19] #558 closed

[2019-08-28 10:21] natario1 commented on #570
With Camera1 or Camera2 engine?

[2019-08-28 10:26] ozzeusz commented on #570
Camera2 only

[2019-08-28 10:53] najTim commented on #569
It`s running for some time. And number of frames varies, from 20 to i don`t know, a lot. Object exists in memory and background thread which it is made in still runs, and is doing some job. Which i don't need, camera is closed. And when i open camera again, frameprocessor does not work, because the first one is still running.

https://prnt.sc/oylgel

Every D/FACE FOUND: YAAAAAAAAAAY : 1 is a frame

[2019-08-28 11:50] natario1 commented on #569
@najTim your logs are likely showing up after **your own** asynchronous processing. You should add a log line in `onCameraClosed` and one at the beginning of `process` method. Then count how many process calls you get **after** onCameraClosed.

[2019-08-28 13:12] najTim commented on #569
https://prnt.sc/oynue7
https://prnt.sc/oynuls
https://prnt.sc/oynuzb

[2019-08-28 13:14] natario1 commented on #569
@najTim can you move the counter++ and the counter log to the beginning of the the `process` method which is the part that's related to this library?

[2019-08-28 17:56] natario1 commented on #567
Frame issues should be fixed / cleared by #572 (unreleased yet).

The other one is not debuggable. I've seen this happen when you're using multiple `CameraView` instances (it's not supported) or not calling lifecycle methods correctly (which is kind of the same thing). See for example discussion in #546 .

I suggest waiting for next release and move to camera2 engine which also gives better errors

[2019-08-29 08:04] najTim commented on #569
@natario1 Ye, it kinda does stop. My bad. The problem is with list of Tasks which get frames. I`ll work it out with Google and i'm gonna post answer here and close the discussion when i get the answer so that next who have problem with this, can find the answer.

[2019-08-29 10:20] borichellow commented on #510
@natario1 nothing helps :(

tried to check `mCameraCharacteristics.getPhysicalCameraIds()` but it's always empty. Is it actually should be empty?

Another thing that could prove my "2 cameras theory" is that issue doesn't happen for front camera (there is only one front camera on my device)

[2019-08-29 10:24] #544 closed

[2019-08-29 10:24] #554 closed

[2019-08-29 10:26] natario1 commented on #569
@najTim see https://natario1.github.io/CameraView/docs/frame-processing.html . You should use `Tasks.await()` or a `CountDownLatch`

[2019-08-29 10:48] najTim commented on #569
Yes, this is the answer. I should have read documentation more carefully. Thank you mate. Keep the great work. Cheers.

[2019-08-29 10:48] #569 closed

[2019-08-30 16:18] #555 closed

[2019-08-30 16:18] #570 closed

[2019-08-31 00:19] luangs7 commented on #556
Same question here

[2019-09-01 22:27] umitemre opened #575 "setPictureSize can't be changed"
Hello,

I don't know why but setPictureSize is not changeable once camera is open. This should be fixed in future versions.

[2019-09-03 13:18] HBiSoft commented on #467
@natario1
Sorry for the late reply, I would firstly like to compliment you on the progress you have made with the library since the last time I had a look at it :ok_hand:

Unfortunately I will not be able to perform the test, I do not have contact with that user anymore. I will implement the library into my application and see if the issue arises again.

I do have one question, If you don't mind -

[2019-09-03 15:21] ozzeusz opened #576 "capturePicture function captures images out of focus"
### Describe the bug
While capturePicture function is called it focuses on object but the capture resoult is slightly out of focus every time.
- CameraView version: *2.2.0*
- Camera engine used: *camera1 & camera2*
- Reproducible in official demo app: *yes*
- Device / Android version: *Oneplus 6, API 28*
### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Click capturePi

[2019-09-04 01:34] unengchen opened #577 "WARNING: API 'variant.getJavaCompile()'"
WARNING: API 'variant.getJavaCompile()' is obsolete and has been replaced with 'variant.getJavaCompileProvider()'.
It will be removed at the end of 2019.
For more information, see https://d.android.com/r/tools/task-configuration-avoidance.
To determine what is calling variant.getJavaCompile(), use -Pandroid.debug.obsoleteApi=true on the command line to display more information.
Affected Modules: c

[2019-09-04 07:46] zauli83 opened #578 "Exception occurs while taking a video on Xiaomi MI A1, Android Pie"
Cannot take video, exception occurs
- CameraView version: 2.2.0
- Camera engine used: both
- Reproducible in official demo app: no
- Device / Android version: Xiaomi Mi A1, Android Pie

### To Reproduce
1) Take a video

### XML layout
[code]

Code:

[code]

### Logs
19-09-04 09:31:35.906 26699-26780/xxxxx V/Frame: Frame with time 1567582295905 is being released.
2019-09-04 09:31:35.950 26699-26699

[2019-09-04 09:52] daniestrella1 commented on #479
Thats because you're calling open() (v2) or start() (v1) methods in onResume. When the request dialog permission finishes, Android calls automatically onResume method again which would once again display the dialog and cause an endless cycle.

Consider keeping or check the status of the permissions before to determine if must call open()/start() method.

[2019-09-04 11:41] natario1 commented on #510
I don't think I can help further @borichellow .. without owning such device. If you find a solution feel free to post it here, otherwise I'll close this in some weeks. I also think it's related to having two cameras.

About the video issue please open a new issue with required information and we can take a look.

[2019-09-04 15:11] shedeed1 opened #579 "How to focus on an area rather than a point?"
### How do I?
Ok so I've been trying to request focus before I take a specific picture because my application requires taking pictures of highest detail possible. Here is what I do:

`camera.startAutoFocus((camera.getX() + camera.getWidth()) / 2, (camera.getY() + camera.getHeight()) / 2);`

Then on its callback I take my picture:

[code]

The problem with this approach that it focuses on a single

[2019-09-04 23:24] natario1 commented on #578
You might be missing storage permissions. Try defining your output File like the demo app does.

[2019-09-04 23:29] natario1 commented on #579
Thanks!

I'm not sure about 2.2.0, but the current master branch already does this for you. It will be available in the next version.

About focusing to a rectangle you might want to add this idea to #487, maybe one day we'll support this.

[2019-09-04 23:30] natario1 commented on #575
I will consider this! For now you should change the picture size, then call close(), then call open().

[2019-09-05 07:31] umitemre commented on #575
While you are considering, can you also consider making onCameraReady event too? It can inform when camera is ready to open or ready to spit out previews and can be last event call before onCameraOpened

[2019-09-05 07:55] Jack-Xiao opened #581 "restart record video has error。"
### Describe the bug
- CameraView version: *2.2.0*
- Camera engine used: *camera2
- Reproducible in official demo app: *no*
- Device / Android version: *xiaomi note7 pro, API 28*

when start record video, it's ok
step1: start record video  camera.takevideo(File(path))
step2: stop record video camera.stopVideo()
step3: onVideoTaken callback method, take a replace fragment override
step4: close the

[2019-09-05 11:00] uncledoc opened #582 "Exception: Filters are only supported by the GL_SURFACE preview. Current:SURFACE"
How to reproduce:
1. configure CameraView in a layout
[code]
2. Run Activity with the xml layout

Stacktrace:
[code]

p.s. Be attentive, i set  app:cameraPreview="**surface**"

[2019-09-05 13:51] zauli83 commented on #578
It doesn't work. I've defined the output video as  File(filesDir, "video.mp4") ( as the demo does), i've also checked the permissions, but doesn't work. Same exception here.

[2019-09-05 16:26] shedeed1 commented on #579
Oh ok. Waiting for the next release then! Thanks!

[2019-09-06 10:55] ozzeusz opened #583 "Focus Fixed"
### How do I?
Is there a way to fix focus for example in the most macro state possible?

### Version used
CameraView 2.2.0

[2019-09-06 14:34] vbkathiriya opened #584 "Flash on is not working"
I want flash always ON when take picture but it's did not work in this SDK?
Please let me know how to fix?

[2019-09-08 14:29] MoustafaElsaghier opened #585 "Camera Preview not shown on some devies"
### Describe the bug
I'm working on an android app that uses the lib as a small box with some specification of zoom, rotates and scales the app works well on many devices but I get some feedback from clients that the box did not open on their devices and i can't recognize why that happens.

- CameraView version: *1.6.0*
- Camera engine used: *both*
- Reproducible in official demo app: *my devices

[2019-09-09 05:54] #584 closed

[2019-09-09 08:54] himanshuagarwal77225 opened #586 "How to set fixed size of video recording?"
### How do I record video in specific sizes?
I want to record video or snapshot video in specific dimensions of 640X360 for all devices.
I have tried using

`cameraView.setSnapshotMaxWidth(640);
cameraView.setSnapshotMaxHeight(360);`

also
` app:cameraVideoSizeMinWidth="100"
    app:cameraVideoSizeMinHeight="100"
    app:cameraVideoSizeMaxWidth="640"
    app:cameraVideoSizeMaxHeight="360"`

Still

[2019-09-09 12:03] shedeed1 commented on #585
You could start by updating to the latest version first.

[2019-09-09 22:17] MoustafaElsaghier commented on #585
client refuse to do that as it requires many changes and he not accept that -_-

[2019-09-10 10:27] natario1 commented on #585
If we were to found a bug and fix it, that would be published in a new version anyway @MoustafaElsaghier ! But I'm sure this has already been fixed at some point.

[2019-09-10 12:39] MoustafaElsaghier commented on #585
sorry but, i misunderstand what you mean .. is it fixed in new versions or what?

[2019-09-10 15:04] natario1 commented on #585
I don't know! I think it is already fixed, but you should upgrade your app to discover.

[2019-09-10 15:13] MoustafaElsaghier commented on #293
you can try this
[code]

[2019-09-10 21:07] dylanrjames commented on #582
Same thing happens with `texture`.

It appears that `setFilter` in `CameraView` is asking that `NoFilter` be sent to clear, though it doesn't excuse `NoFilter` when it checks for `surface` or `texture` compatibility.

Since `initialize()` always calls `setFilter()`, even when the `FilterParser` returns `NoFilter` as part of the default case, `surface` and `texture` previews can't even be initializ

[2019-09-11 08:21] papelierke opened #587 "Pictures sometimes corrupt after capturing"
### Describe the bug
Sometimes, when i am capturing a series of pictures, it happens that one of the taken pictures is corrupt. The actual file itself exists on the sdcard, but if you try to decode the bitmap for the file programatically, it gives a nullpointer. When you try to find the picture in the gallery, a gray image shows (placeholder).

- CameraView version: com.otaliastudios:cameraview:1.

[2019-09-11 12:57] natario1 commented on #582
Thanks for investigating @dylanrjames !

[2019-09-11 12:58] #579 closed

[2019-09-11 12:59] natario1 commented on #587
Thanks for reporting, unfortunately we do not support version 1 anymore. Please update to the most recent version.

[2019-09-11 12:59] #587 closed

[2019-09-11 13:00] #585 closed

[2019-09-11 13:01] #563 closed

[2019-09-11 13:03] natario1 commented on #577
You must be using a newer gradle version than this project does. When this warning appears in this project, we'll fix it.

[2019-09-11 13:03] #577 closed

[2019-09-11 13:06] natario1 commented on #578
But you say that this does not happen in the demo app. So I recommend trying to spot the difference that makes this crash in your app.

[2019-09-11 13:11] natario1 commented on #586
Using `takeVideoSnapshot()` and using as you said:

[code]

For exact results you should also ensure that CameraView has the same aspect ratio (640:360). I think `ConstraintLayout` lets you select the child view aspect ratio.

[2019-09-11 13:13] natario1 commented on #581
Please post your code.

[2019-09-12 07:49] jianjiankedizai commented on #581
CameraView version: 2.2.0
Camera engine used: *camera2
Reproducible in official demo app: no
Device / Android version: xiaomi hongminote2, API 25

 android.hardware.camera2.CameraAccessException: CAMERA_ERROR (3): The camera device has encountered a serious error
        at android.hardware.camera2.impl.CameraDeviceImpl.checkIfCameraClosedOrInError(CameraDeviceImpl.java:2023)
        at android.ha

[2019-09-12 11:12] caiyoufei opened #589 "About lut filter"
Hello, how should I use the lut filter? There is no such way to use the demo.

[2019-09-12 14:37] cneuwirt opened #590 "Camera2 Api timing issue when adding frame processors in onCameraOpened callback"
### Describe the bug
An exception generally occurs when creating a CameraView with Camera2Engine that has a FrameProcessor adding in the CameraListener.onCameraOpended callback
- CameraView version: 2.2.0
- Camera engine used: camera2
- Reproducible in official demo app: no, but probably could be
- Device / Android version: Moto G7 Power Pie

The exception usually occurs when the phone wakes up af

[2019-09-13 10:40] natario1 commented on #590
Hey @cneuwirt if you can reproduce this consistently could you enable `LEVEL_INFO` logs in your app and send logs here? I was not able to reproduce this.

`CameraLogger.setLogLevel(CameraLogger.LEVEL_INFO)`

[2019-09-14 00:34] guiyanbing opened #591 "hey,How to turn the flash on or off at the click of a button"
How to turn the flash on or off at the click of a button

[2019-09-15 03:55] jianjiankedizai commented on #549
this still occur

CameraView version: 2.2.0
Camera engine used: *camera2
Reproducible in official demo app: yes
Device / Android version: xiaomi max2, API 25

2019-09-15 11:48:21.114 1929-2022/com.otaliastudios.cameraview.demo W/LegacyRequestMapper: Only received metering rectangles with weight 0.
2019-09-15 11:48:21.115 1929-2022/com.otaliastudios.cameraview.demo W/LegacyRequestMapper: convertReq

[2019-09-15 13:06] brnogz opened #592 ""Height not supported after adjustment.""
### How do I?
Used cameraview as in the example code below.
[code]
When i submit app google play store, pre-release test show exception on nokia 1. stack trace and device specs is also added below.
[code]
**Screen Size** 480 × 854
**Screen Density** (dpi) 240
**Model Name** Nokia 1
**RAM** 1024 MB
**Manufacturer** Nokia
**OpenGL ES** Version 3.1
**Android Version** Android 8.1 (Go edition)
**Nativ

[2019-09-16 05:35] adaonder commented on #592
Nokia 3 Android 9 also has the same error. No solution?
Date: 15 Eyl 2019 15:09:00

Version used
2.2.0

My Log:

[code]

[2019-09-16 10:48] korbi-oranssi commented on #405
Hello! I have faced a similar issue when using the method FirebaseVisionImage.fromByteArray(). Here is the code I'm using

`FirebaseVisionImageMetadata metadata = new FirebaseVisionImageMetadata.Builder()`
`                .setWidth(240)`
`                .setHeight(320)`
`                .setFormat(FirebaseVisionImageMetadata.IMAGE_FORMAT_NV21)`
`                .setRotation(FirebaseVisionImageMe

[2019-09-16 13:10] cneuwirt commented on #590
I set the level to INFO like you asked.  The following is the log

I/CameraView: onMeasure: requested dimensions are (720[EXACTLY]x497[EXACTLY])
I/CameraView: onMeasure: previewSize is (720.0x960.0)
    onMeasure: both are MATCH_PARENT or fixed value. We adapt. This means CROP_CENTER. (720x497)
    onMeasure: requested dimensions are (720[EXACTLY]x497[EXACTLY])
    onMeasure: previewSize is (720.0

[2019-09-16 16:44] natario1 commented on #590
Thanks @cneuwirt , any chance you could paste logs from when the app starts (I mean, from when the fragment / activity containing a `CameraView` starts) up to the crash?

In the logs above the camera has already encountered the issue and is just destroying itself before crashing, so we can't see the interesting part.

[2019-09-16 22:18] cneuwirt commented on #590
Still trying to get this info.  It seems to happen after camera sleeps, wakes up and I open new cameraView.  Haven’t been able to catch it at the right moment but will get it sooner or later.

Do you or any of your users notice camera2 frame processing with mobile
Vision for example is much worse than Camera1?  Camera1 frames seem to detect barcodes much better

Sent from my iPhone

[2019-09-18 02:34] Jack-Xiao commented on #581
in xml:
<com.otaliastudios.cameraview.CameraView
                android:id="@+id/camera"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_gravity="center"
                android:keepScreenOn="true"
                app:cameraAudio="on"
                app:cameraAutoFocusMarker="@string/cameraview_default_autofo

[2019-09-18 09:09] brnogz commented on #592
@natario1 I didn't find enough time to play with it but I guess it is related with the codecs but I also wonder if it helps i change view sizes?

[2019-09-18 09:48] BboyJynD opened #593 "Fatal Exception: java.lang.StackOverflowError stack size 1038KB"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.2.0*
- Camera engine used: *both*
- Reproducible in official demo app: *yes/no*
- Device / Android version: *8.1.0, 7.0, 9.0*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Go to '...'
2. Click on '....'
3. See error

### Expected behavior
A

[2019-09-18 09:49] BboyJynD opened #594 "Fatal Exception: java.lang.StackOverflowError stack size 1038KB"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.2.0*
- Camera engine used: *both*
- Reproducible in official demo app: *yes/no*
- Device / Android version: *8.1.0, 7.0, 9.0*

com.otaliastudios.cameraview.internal.utils.Pool.count + 127 (Pool.java:127)
--
  | com.otaliastudios.cameraview.internal.utils.Pool.isEmpty + 53 (

[2019-09-18 09:51] BboyJynD commented on #594
Help me, please

Thanks

[2019-09-18 14:25] ivan200 opened #595 "Focus on tap continues to repeat multiple times"
Device: Meizu 15
Os: Android 7.1.1
Camera2 Api support: Legacy.
CameraView version: 2.2.0

In example app, if i use camera2 engine, after tap, focus keep trying to detect like 5-10 seconds and it seems like jumping focusing.
In camera1 engine all working right, half second to focus on touched area.
Seems like situation mentioned here: https://stackoverflow.com/questions/41649691
But dont sure.

[2019-09-18 21:35] MoustafaElsaghier commented on #585
i did that in a copy of my project and now client camera box opens with a black screen

[2019-09-19 10:00] #566 closed

[2019-09-20 10:31] Jack-Xiao commented on #581
@jianjiankedizai  have resolver for this issue.

[2019-09-22 23:30] #568 closed

[2019-09-23 05:32] AkshayDandale opened #596 "Front camera producing mirror image"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *version number*
- Camera engine used: *camera1/camera2/both*
- Reproducible in official demo app: *yes/no*
- Device / Android version: *Pixel, API 28*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Go to '...'
2. Click on '....'
3. See error

[2019-09-23 07:54] jianjiankedizai commented on #581
@Jack-Xiao ok, thanks

[2019-09-23 09:56] alifarina commented on #189
I have similar code as @HBiSoft . I have already wasted two days trying to fix it. If anyone has a solution please let me know.
Thanks.

[2019-09-23 10:24] HBiSoft commented on #189
@alifarina What device are you using and what version of `CameraView` are you using? Also, when does the crash happen? Mine happened as soon as I start the recording.

[2019-09-23 10:46] alifarina commented on #189
Hi
I have OnePlus 6T and I am not using camera view. I am using a camera
intent to open the device default camera. Sometimes it crashes just after
the camera is open and sometimes it crashes after taking a picture.

The error log doesn't say much, just that the process was killed due to low
memory.

On Mon, 23 Sep, 2019, 3:54 PM Hagen Brooks, <notifications@github.com>
wrote:

[2019-09-23 11:33] AkshayDandale commented on #219
How to receive the bitmap on other Activity then?

[2019-09-24 04:18] #593 closed

[2019-09-24 18:25] #567 closed

[2019-09-24 19:54] tyczj opened #597 "Draw BoundingBox on CameraView"
I am trying to use Firebase MLKit barcode scanner with CameraView and I want to take the boundingbox that gets returned for the barcode and draw a box on the view. How do I get the CameraView canvas to draw on?

[2019-09-24 23:31] VGJohn opened #598 "Nexus 5 camera preview orientation is upside down in demo app"
Running the CameraView demo app on a Nexus 5 emulator with API 23 results in the camera preview displaying upside down. Furthermore taking a photo then displays the image rotated incorrectly. The preview is also not full width, is there a reason for this? Any idea how to fix these orientation issues?

![Screenshot_1569367618](https://user-images.githubusercontent.com/22520267/65557536-ae28ad80-df2

[2019-09-26 06:56] ruidge opened #599 "Flash or Filter not support at same time?"
### How do I?
If I want to take picture with Flash Api , I use takePicture();
If I want to use live filter capture ,I Use takePictureSnapshot();
how to support Flash or Filter at same time??

### Version used
2.1.0

[2019-09-26 08:13] ruidge commented on #599
or can I turn flash on when takePictureSnapshot and close it in onPictureTaken programly

[2019-09-26 12:04] denizsubasi commented on #596
i use this code.

 if (cameraView..facing == Facing.FRONT) {
                     bitmap.flip(-1f,1f,bitmap.width/2f,bitmap.height /2f)
                      }

 private fun Bitmap.flip(x: Float, y: Float, cx: Float, cy: Float): Bitmap {
        val matrix = Matrix().apply { postScale(x, y, cx, cy) }
        return Bitmap.createBitmap(this, 0, 0, width, height, matrix, true)
    }

[2019-09-26 14:03] VGJohn commented on #598
Issue seems to be only on the simulator, on a real device it's perfect. Going to close this issue :)

[2019-09-26 14:03] #598 closed

[2019-09-26 16:30] Vitor238 opened #600 "Unable to record videos on my device"
### Describe the bug
When trying to record a video the app crashes. In demo app doesn't work using camera.1 In my app doesn't work using camera 2.

- CameraView version: 'com.otaliastudios:cameraview:2.2.0'
- Camera engine used: *both*
- Reproducible in official demo app: *yes*
- Device / Android version: *LG K10 Power, API 24*

### To Reproduce
Steps to reproduce the behavior, possibly in the dem

[2019-09-27 01:00] #556 closed

[2019-09-27 23:00] luangs7 commented on #556
any answer about it?

[2019-09-28 11:25] natario1 commented on #596
Please search into closed issues.

[2019-09-28 11:25] #596 closed

[2019-09-28 11:26] #510 closed

[2019-09-28 17:34] pramonow opened #601 "Making rect in cameraview frame"
Basically i want to draw a rect when frame processing
in code, something like this

[code]
Is it possible?
Thanks before

[2019-09-30 08:23] denizsubasi commented on #543
is there any development about this feature ?

[2019-09-30 09:46] maheshchunkhade opened #602 "Error -19 while starting MediaRecorder (Camera1 only)"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: 2.2
- Camera engine used: *camera1
- Reproducible in official demo app: *yes*
- Device / Android version: *Moto G6, API 28*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Select camera 1 in sample app and start recording with front camera

###

[2019-09-30 11:22] ivan200 commented on #595
I attach an example reproduce it
https://imgur.com/UKxsPTU

[2019-09-30 13:01] pro2on opened #603 "Samsung S10e dark preview"
### How do I?
Was found a device-specific issue. At the moment only on Samsung S10e camera preview is really dark. Please advise what can be done in this situation.

### Version used
2.2.0

[2019-09-30 13:39] lucazin commented on #353
Hello!

Its possible to add multiple overlays at runtime?  without fix a xml tag ?
Example:

I choose a bitmap ou drawable from gallery and select the position and its done..
or its possible only one overlay ?

[2019-09-30 13:48] RAN3000 commented on #353
Hi, I haven't tried this, but it should work. You can use a `FrameLayout` as overlay, load your bitmaps or drawables into `ImageView`s and put those `ImageView`s in the `FrameLayout`. That way you can achieve "multiple" overlays even if in the end it's always just one overlay.

[2019-09-30 15:11] #597 closed

[2019-09-30 15:56] tyczj opened #604 "Overlay is offset when frame size is different from overlay view size"
I am trying to integrate Firebase barcode scanning with showing an overlay on the preview. When I try to show the bounding box overlay returned from the firebase processor the bounding box is offset from the actual position of the image (depending on the device it could be offset above or below the actual position on image).

From what I can tell the `frame.size` returns the size of the camera ima

[2019-09-30 17:17] #576 closed

[2019-09-30 17:51] #604 closed

[2019-09-30 20:10] lucazin opened #605 "More than one overlay"
### How do I?
Hello can i set more than one overlay ?
Like search a bitmap in gallery and put in overlay without using xml ?

Or i can just use 1 overlay with xml tag

### Version used
2.2.0

[2019-09-30 21:50] lucazin commented on #353
Hi!

So i put a frame layout in the place watermark .. but i have to set match parent and match parent?
if i put 3 images from gallery or from url.. whatever   i will have just one watermark with these 3 images?

Do you know some way to load theses images from gallery and put in framelayout?  and move and change location of screen ?

Better..
What about edittext inside framelayout ..we can archive

[2019-10-01 00:06] lucazin commented on #353
Can u help me?

Im using Camera Engine 1
My device is A70 Samsung.

When u use frontal camera and start recording a video... the activity close

LogCat:

2019-09-30 21:02:03.740 749-20558/? E/AudioFlinger: AudioFlinger_APM :
(AudioFlinger::openRecord) persist.app.permission.monitor is true
2019-09-30 21:02:03.848 939-10359/? E/OMX-VENC: ERROR: unsupported index
1870659589
2019-09-30 21:02:03.953 6

[2019-10-01 00:09] lucazin opened #606 "Front Camera - Error Close"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.20*
- Camera engine used: *camera1/*
- Reproducible in official demo app: *no*
- Device / Android version: *A70, API 28*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Open Camera
2. Change to frontal camera
3. Start recording a video
4. And

[2019-10-01 00:39] lucazin commented on #602
same here

[2019-10-01 01:45] lucazin commented on #606
2019-09-30 22:37:02.148 19630-19630/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2019-09-30 22:37:02.148 19630-19630/? A/DEBUG: Build fingerprint: 'samsung/a70qxtc/a70q:9/PPR1.180610.011/A705MNXXU3ASG7:user/release-keys'
2019-09-30 22:37:02.148 19630-19630/? A/DEBUG: Revision: '12'
2019-09-30 22:37:02.148 19630-19630/? A/DEBUG: ABI: 'arm64'
2019-09-30 22:37:02.148 196

[2019-10-01 01:46] lucazin commented on #606
When i change to front camera and start recording ...this is cenario

**Build fingerprint: 'samsung/a70qxtc/a70q:9/PPR1.180610.011/A705MNXXU3ASG7:user/release-keys'
2019-09-30 22:37:02.148 19630-19630/? A/DEBUG: Revision: '12'
2019-09-30 22:37:02.148 19630-19630/? A/DEBUG: ABI: 'arm64'
2019-09-30 22:37:02.148 19630-19630/? A/DEBUG: pid: 18022, tid: 19613, name: VideoEncoder  >>> br.com.oneplace <<

[2019-10-01 02:16] lucazin commented on #582
same here

[2019-10-01 06:49] RAN3000 commented on #353
My suggestion is to first get the "mulitple image loading in `FrameLayout`" working without CameraView. Then, once you get it working as you want, use it as CameraView overlay.
There are plenty resources on the internet for both how to achieve image loading on Android and for `FrameLayout`.

About the `EditText`: this will be more tricky, therefore I suggest getting the `FrameLayout` with images d

[2019-10-01 08:22] bayunvnt opened #607 "onConfigureFailed! Session android.hardware.camera2.impl.CameraCaptureSessionImpl@3a3e30a"
Hallo, im using this library for my college project, then I have this issue **"onConfigureFailed! Session android.hardware.camera2.impl.CameraCaptureSessionImpl@3a3e30a"**,

this is my stacktrace :
java.lang.RuntimeException · onConfigureFailed! Session android.hardware.camera2.impl.CameraCaptureSessionImpl@2d4c3c1

Camera2Engine:479com.otaliastudios.cameraview.engine.Camera2Engine$4.onConfigureFa

[2019-10-01 10:00] #582 closed

[2019-10-01 10:00] #590 closed

[2019-10-01 10:00] #594 closed

[2019-10-01 10:58] lucazin commented on #606
i will try back to 1.6.0 version to check if i have same problem...  =/

[2019-10-01 11:23] lucazin opened #609 "falied to resolve"
Hi!

When i put this in gradle
com.otaliastudios:cameraview:2.3.0

for update my code.. i get  falied to resolve.

[2019-10-01 11:24] lucazin commented on #609
![image](https://user-images.githubusercontent.com/28266902/65958088-ed239b00-e424-11e9-8f18-8fdf9f93fc03.png)

[2019-10-01 11:29] lucazin commented on #609
![image](https://user-images.githubusercontent.com/28266902/65958331-8488ee00-e425-11e9-8458-10fbc118d89a.png)

Last 2.2.0 here

[2019-10-01 11:36] #609 closed

[2019-10-01 11:36] lucazin commented on #609
its done

[2019-10-01 11:49] lucazin opened #610 "AddView Overlay"
### How do I?
I have the last version 2.3.0   so i want to add a overlay view dynamic..
im doing like this

   ImageView image = new ImageView(this);
        image.setLayoutParams(new android.view.ViewGroup.LayoutParams(100,100));
        image.setImageURI(Uri.parse("https://images-na.ssl-images-amazon.com/images/I/61F69RyaqYL._SX425_.jpg"));

    camera.addView(image,1,image.getLayoutParams());

[2019-10-01 12:25] lucazin commented on #610
i got it

`   final Bitmap[] myBitmap = {null};

        try {
            URL url = new URL("https://scene7.zumiez.com/is/image/zumiez/pdp_hero/Married-To-The-Mob-Birdie-Sticker-_261461.jpg");
            HttpURLConnection connection = (HttpURLConnection) url.openConnection();
            connection.setDoInput(true);
            connection.connect();
            InputStream input = connection.get

[2019-10-01 12:30] lucazin commented on #610
i check now.. when i record i video snapshot  my imageview dont show in video recorded.

just in camera preview, not in recorded state

[2019-10-01 12:44] lucazin commented on #610
`            ImageView image = new ImageView(CameraActivity.this);
            image.setLayoutParams(new android.view.ViewGroup.LayoutParams(200, 200));
            image.setImageBitmap(myBitmap[0]);

            image.setOnTouchListener(CameraActivity.this);

            OverlayLayout.LayoutParams params = new OverlayLayout.LayoutParams(200,200);

            camera.addView(image, 1, image.getLay

[2019-10-01 12:50] lucazin opened #611 "Fatal Exception - Record Front Camera - SIGSEGV"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.3.0*
- Camera engine used: *both*
- Reproducible in official demo app: *yes*
- Device / Android version: *NEW SAMSUNG A70, API 28*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Open Demo
2. Change to frontal camera
3. Start Recording
4. Bac

[2019-10-01 13:45] lucazin commented on #611
I tested with other videocodec  like h263 and h264 and default...  i get the same

Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x6300750064006f in tid 22635 (VideoEncoder), pid 20068

2019-10-01 10:41:44.168 22656-22656/? A/DEBUG: Build fingerprint: 'samsung/a70qxtc/a70q:9/PPR1.180610.011/A705MNXXU3ASG7:user/release-keys'
2019-10-01 10:41:44.168 22656-22656/? A/DEBUG: Revision: '12

[2019-10-01 13:48] lucazin commented on #467
I have this kind of error when i open demo and change to frontal camera and START recording.

`Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x6300750064006f in tid 22635 (VideoEncoder), pid 20068

2019-10-01 10:41:44.168 22656-22656/? A/DEBUG: Build fingerprint: 'samsung/a70qxtc/a70q:9/PPR1.180610.011/A705MNXXU3ASG7:user/release-keys'
2019-10-01 10:41:44.168 22656-22656/? A/DEBUG: R

[2019-10-01 13:51] lucazin commented on #353
Thanks RAN3000 i will try like you said.

About frontal camera, i open issues and happens with demo and my application.  =/

[2019-10-01 16:22] lucazin commented on #611
Other point i have tested now.

If i record with takevideo too and after videopreview back and record again.. watch video preview ..back and record again .. they give a expection sigsegv

[2019-10-01 17:12] lucazin commented on #353
Hi RAN3000 i tested with your strategy about framelayout , but not work like i expected.

i have this

`        app:cameraPreview="glSurface"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toTopOf="parent">

        <FrameLayout
            android:layou

[2019-10-01 18:17] RAN3000 commented on #353
[https://ran3000.github.io/2019/09/14/cameraview-interactivity.html](https://ran3000.github.io/2019/09/14/cameraview-interactivity.html) check this out, I wrote an article for when I dealt with something similar: having an interactive view as overlay (so that you can rotate and move it. It should be easily adaptable to your situation.

[2019-10-01 20:57] lucazin opened #612 "Support Overlay for TakeVideo Method"
### How do I?

natario1 my frontal camera not work anyway with snapshot mode..i dont know why my friend..
in demo or in my app.. not work .. and i need this lib too much ..congrats for the work..
i will talk with my partner for we donate too, because i know the hard work you had

But this problem with record a video with front camera...drives me crazy man.. i canf figure out.
because is not a norm

[2019-10-01 21:07] #605 closed

[2019-10-01 21:08] lucazin commented on #605
done

[2019-10-01 21:30] lucazin commented on #353
Hi!!

i did what i want with images!
i use some lib and follow your exemple in this site.

My problem now is the crash when recording a snapshot ...with frontal
camera.. :(    i need help

Em ter, 1 de out de 2019 às 15:17, Giacomo Randazzo <
notifications@github.com> escreveu:

[2019-10-01 21:53] lucazin commented on #353
RAN3000

I tested with your app (He have cameraview) and happens the same problem..  he close.

I open the app.. change to frontal camera and start recording..

the error happen if you repeat this process for 3 or 4 times..     in the cameraview demo happen too..

[2019-10-02 07:21] danhdanh opened #613 "Can I get picture in the frame when taking a picture or snapshot"
![71204535_919964251721508_8154255329991852032_n](https://user-images.githubusercontent.com/31198757/66025035-ae264000-e51f-11e9-8584-d6bd4ccfc814.jpg)

### Version used
ver 2.2.0

[2019-10-02 08:23] #613 closed

[2019-10-02 08:49] natario1 commented on #592
I suggest you guys try with latest version 2.3.0.

[2019-10-02 08:49] #592 closed

[2019-10-02 08:54] natario1 commented on #595
Thanks for reporting @ivan200 . I think this is a device specific issue, or maybe specific to legacy devices. I don't own this particular device so I don't know if a fix exists, and I don't know which one.

This is not actionable for me. If you find any solution feel free to re-open this issue. Sorry

[2019-10-02 08:54] #595 closed

[2019-10-02 08:56] natario1 commented on #589
Hey @caiyoufei , we don't have any lut filter, you would have to write your own. The only advice I can give is to read the documentation about filters on our website, and maybe ask for help on StackOverflow.

[2019-10-02 08:56] #589 closed

[2019-10-02 08:57] #575 closed

[2019-10-02 08:58] natario1 commented on #591
I suggest you ask this on StackOverflow or read our documentation. Thanks

[2019-10-02 08:58] #591 closed

[2019-10-02 08:59] natario1 commented on #599
In version 2.3.0, you can simply set `app:cameraPictureSnapshotMetering="true"` so that picture snapshots will perform 3A metering and quality improvements including Flash support.

[2019-10-02 08:59] #599 closed

[2019-10-02 09:02] natario1 commented on #583
We're not planning to do this anytime soon but you can subclass `Camera2Engine` and override the focus methods and apply the focus that you like there. This requires you to dig into the source code but it is possible.

Quick steps:

- subclass `CameraView`
- override `CameraView.instantiateCameraEngine()`
- there, return a subclass of `Camera2Engine`
- in your `Camera2Engine`, override any protect

[2019-10-02 09:02] #583 closed

[2019-10-02 09:04] natario1 commented on #107
Not planning to do this. But you can change focus in `Camera2` by simply subclassing the engine:

- Subclass `CameraView`, e.g. `MyCameraView`
- Subclass `Camera2Engine`, e.g. `MyCamera2Engine`
- Override `MyCameraView.instantiateCameraEngine()`, and return an instance of `My2CameraEngine`
- In `My2CameraEngine`, override protected methods like `applyDefaultFocus()` to do whatever you want

[2019-10-02 09:04] #107 closed

[2019-10-02 09:09] natario1 commented on #610
@lucazin please read the documentation about overlays https://natario1.github.io/CameraView/docs/watermarks-and-overlays.html .

You must change `params. drawOnPreview`, `params. drawOnPictureSnapshot`, `params. drawOnVideoSnapshot` to the values that you want, before calling addView.

[2019-10-02 09:09] #610 closed

[2019-10-02 09:09] natario1 commented on #612
No, sorry! It can only work with takeVideoSnapshot(), we should improve that one instead.

[2019-10-02 09:09] #612 closed

[2019-10-02 09:10] #586 closed

[2019-10-02 09:11] natario1 commented on #600
Hi @Vitor238 please try with latest version 2.3.0. Feel free to open a new issue if the issue persists.

[2019-10-02 09:11] #600 closed

[2019-10-02 09:12] lucazin commented on #610
Thanks natario... I can now work it overlays... My problem is with frontal camera exception

[2019-10-02 09:13] natario1 commented on #601
You can only draw the rect on `CameraView` preview, simply put it in a FrameLayout and use a view that draws your rect.

[2019-10-02 09:13] #601 closed

[2019-10-02 09:16] natario1 commented on #602
@maheshchunkhade can you try with latest version `2.3.0` and also post complete logs from the demo app?

[2019-10-02 09:19] natario1 commented on #603
I have no idea! :-) I do not own this device so there's nothing I can really do. I have never encountered this issue before. Feel free to add info if you find any, but I'm unlikely to find a solution.

[2019-10-02 09:25] natario1 commented on #606
@lucazin can you also post logs **before** the crash?

[2019-10-02 09:27] lucazin commented on #606
Sending now...   U want before the log I send here?

[2019-10-02 09:28] natario1 commented on #606
Yes! You could set the level to `Info`.

[2019-10-02 09:33] lucazin commented on #606
this is the log when i open the camera ( frontal camera default)

`2019-10-02 06:33:22.444 2098-2098/? I/StackScroller: ADJUST STACK.TRANSLATION
2019-10-02 06:33:24.477 1250-1719/? I/InputReader: Touch event's action is 0x0 (deviceType=0) [pCnt=1, s=0.2987 ] when=8743.981827
2019-10-02 06:33:24.479 1250-1718/? I/InputDispatcher: Delivering touch to (2098): action: 0x4, displayId: 0, '9f46511', too

[2019-10-02 09:36] lucazin commented on #606
before crash in  info level

`2019-10-02 06:34:34.634 869-32011/? I/MediaCodec: setCodecState state : 0
2019-10-02 06:34:34.634 869-32011/? I/ResourceManagerService: getMediaResourceInfo resourceType : 2, size : 1
2019-10-02 06:34:34.634 869-32011/? I/ResourceManagerService: writeResourceInfo (PID : 31595, clientID : 3979418112, non-secure-codec/video-codec:1, 708x1440(fps:25) - SoftCodec : No, En

[2019-10-02 09:38] lucazin commented on #606
@natario1  beginning of crash

`--------- beginning of crash
2019-10-02 06:34:36.452 31595-32069/br.com.oneplace A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x6300750064006f in tid 32069 (VideoEncoder), pid 31595 (br.com.oneplace)
2019-10-02 06:34:36.531 1250-2468/? I/EDMNativeHelperService: isCameraEnabled
2019-10-02 06:34:36.589 32086-32086/? I/crash_dump64: obtaining out

[2019-10-02 09:39] lucazin commented on #611
same  #606

[2019-10-02 09:42] lucazin commented on #606
@natario1  need some other logs?  I send correctly?

I want to help you to get this problem resolution, because is very important for me and my  work and for others here using this awesome lib!

[2019-10-02 09:50] lucazin commented on #606
@natario1 i think this log is more readable

`2019-10-02 06:46:26.671 2040-2153/br.com.oneplace W/FirebaseRemoteConfig: No value of type 'String' exists for parameter key 'sessions_max_length_minutes'.
2019-10-02 06:46:26.671 2040-2219/br.com.oneplace W/FirebaseRemoteConfig: No value of type 'String' exists for parameter key 'sessions_feature_enabled'.

    --------- beginning of system
2019-10-02

[2019-10-02 09:56] lucazin commented on #606
@natario1 do you think we can fix this problem?
thanks for you cooperation!

[2019-10-02 10:03] natario1 commented on #606
Can you do this with the demo app? The demo app will add more interesting logs.

[2019-10-02 10:07] lucazin commented on #606
i will do now

look this .. i think is acdb loader

`2019-10-02 06:46:31.570 673-2494/? I/audio_hw_utils: send_app_type_cfg_for_device CAPTURE app_type 69944, acdb_dev_id 56, sample_rate 48000, snd_device_be_idx 177
2019-10-02 06:46:31.570 673-2494/? E/ACDB-LOADER: Error: ACDB_CMD_GET_AUDPROC_INSTANCE_GAIN_DEP_STEP_TABLE_SIZE Returned = -19
2019-10-02 06:46:31.570 673-2494/? E/ACDB-LOADER: Error:

[2019-10-02 10:11] #611 closed

[2019-10-02 10:13] lucazin commented on #606
@natario1  **Here is the log cat  level INFO  in demo app**

`2019-10-02 07:13:10.275 1250-1719/? I/InputReader: Touch event's action is 0x0 (deviceType=0) [pCnt=1, s=0.3053 ] when=10196.788087
2019-10-02 07:13:10.276 1250-1718/? I/InputDispatcher: Delivering touch to (2098): action: 0x4, displayId: 0, '9f46511', toolType: 1
2019-10-02 07:13:10.276 1250-1718/? I/InputDispatcher: Delivering touch t

[2019-10-02 10:20] lucazin commented on #606
@natario1 Some parts for help

`2019-10-02 07:13:10.534 6456-7141/com.otaliastudios.cameraview.demo W/OMXUtils: do not know color format 0x7f000789 = 2130708361
2019-10-02 07:13:10.535 898-17076/? E/OMX-VENC: ERROR: unsupported index 1870659589

2019-10-02 07:13:10.547 6456-7141/com.otaliastudios.cameraview.demo I/ACodec: [OMX.qcom.video.encoder.avc] Now Loaded->Idle
2019-10-02 07:13:10.547 673-71

[2019-10-02 11:40] natario1 commented on #606
I am attaching a file and hiding your comments, just to make this issue readable.

[Issue #606.txt](https://github.com/natario1/CameraView/files/3680871/Issue.606.txt)

Relevant parts:

[code]

[2019-10-02 12:23] lucazin commented on #606
But what kind of error is it ?

If this not work in my device..maybe not work in others new devices too..
Happen in official demo, in my app,  in RAN overlay app,  and just happer after i recording for many times with frontal camera..  its like lotery

Does have nothing we can do?  I will use this feature with some modification for my clients.
omg..  the overlay recording for me is essential =/

[2019-10-02 12:28] lucazin commented on #606
This happens just with takevideosnapshot ...with takevideo not happens

We can implement a overlay feature to takevideo method for i can put overlay please my friend ?

[2019-10-02 14:08] lucazin commented on #606
I need create something like storys about instagram.... with cameraview i was close to do that..
but with this error i dont know now..

But think with me..in instagram i can create story normally put all overlays e record de video ..with same mobile..

What can u suggest i do ?

[2019-10-02 14:22] lucazin commented on #606
@natario1

I think I'll have to give up ..

How do I make the video recorded in takevideo mode in full screen of the phone?

because it only stays up to 1 part of the screen ..

I will have to record with takevideo even without overlay = /

[2019-10-02 15:25] lucazin opened #614 "FullScreen Record Video"
### How do I?
My phone have 6.7 inch display ..
how to record a video on takevideo method to get all display area?

I cant use snapshot mode because crash. (A lot other devices are crashing too in this mode =/ )

How can i do for appear all screen?

![dsds](https://user-images.githubusercontent.com/28266902/66057772-a9599000-e50f-11e9-9853-1fdf747820e0.jpeg)

### Version used
2.3.0

[2019-10-02 16:35] Sv4nstaygeR opened #615 "Preview Rotation"
Im developing an app for smartwatches with built in camera.

Normally this wouldn't be an issue but when i look the watch with the camera preview opened is
a bit weird because the camera its located at the right of the watch, so the frames in the
preview aren't very intuitive for looking cause they're rotated.

What im asking for is a method to rotate de Surface/Texture/GL view -> 0, 90, 180 , 270

[2019-10-02 18:11] natario1 commented on #615
Have you tried to use android:rotation with cameraPreview=texture?

[2019-10-02 18:30] Sv4nstaygeR commented on #615
As i mostly need the Shapeness filter i cant choose the texture or the surface.

[2019-10-02 19:36] sendgerson opened #616 "Robolectric tests fail since cameraview 2.0.0 version"
We were using 2.0.0-beta05 version of CameraView and I need to upgrade to 2.2.0 version. With this change, I noticed that from version 2.0.0 the robolectric tests no longer work.

Here is my build activity test code snippet:

    `Robolectric.buildActivity(ScanActivity::class.java).create().start().resume().get()`

My activity xml code snippet:
[code]

I tried to analyze changes made in CameraView

[2019-10-02 20:26] natario1 commented on #615
Then the only thing you can do is create your own `Filter` just like `NoFilter` but override `onPreDraw()` and modify the `transformMatrix` to apply your rotation.

I don't know if this will add distortions but maybe not.

[2019-10-02 20:27] natario1 commented on #616
I have no idea! I have not used Robolectric recently.

[2019-10-02 21:12] Sv4nstaygeR commented on #615
Okay i'll try your aproach!

[2019-10-03 04:28] pro2on commented on #603
Ok, will try to play with settings and provide more detailed info

[2019-10-03 05:17] maheshchunkhade commented on #602
I am having same issue with latest version 2.3.0. Below are logs from demo app.

I am using Camera1 with front camera on moto(g6) India version.

`2019-10-03 10:44:25.773 20940-20940/com.otaliastudios.cameraview.demo W/DemoApp: Recording for 5 seconds...
2019-10-03 10:44:25.792 20940-20940/com.otaliastudios.cameraview.demo V/CameraEngine: takeVideo scheduling
2019-10-03 10:44:25.793 20940-20974/co

[2019-10-03 14:45] natario1 commented on #602
@maheshchunkhade what happens if you remove these lines?

https://github.com/natario1/CameraView/blob/master/cameraview/src/main/java/com/otaliastudios/cameraview/video/FullVideoRecorder.java#L104-L133

[2019-10-04 06:11] maheshchunkhade commented on #602
@natario1 still same issue , logs as below

2019-10-04 11:40:30.894 13269-13323/com.otaliastudios.cameraview.demo V/Frame: Frame with time 1570169430893 is being released.
2019-10-04 11:40:30.903 13269-13269/com.otaliastudios.cameraview.demo W/DemoApp: Recording for 5 seconds...
2019-10-04 11:40:30.918 13269-13269/com.otaliastudios.cameraview.demo V/CameraEngine: takeVideo scheduling
2019-10-04 11

[2019-10-04 07:57] natario1 commented on #602
What happens if you remove audio? You can do this through the edit panel in the demo app, set it to Off.

Thanks for your help

[2019-10-04 09:15] maheshchunkhade commented on #602
@natario1  its not working with audio off setting.

But when i change video encoder setting to H263 its working properly. Seems bit strange why its not take device_default video encoder.
is there any relation between video encoder and video format ?

[2019-10-04 09:20] natario1 commented on #602
So this is like #467 . When you use `DEVICE_DEFAULT` with no changes, what is the value of the `videoType` variable? Also what is the value of `stub.size` ? You could set a breakpoint in FullVideoRecorder line 96 to check this.

There is a 1-1 relation between encoders and format, each codec encodes a different format.

[2019-10-04 09:45] natario1 commented on #602
Just as reference for the future, these are useful links for debugging:

- [mediarecorder.cpp](https://android.googlesource.com/platform/frameworks/av/+/master/media/libmedia/mediarecorder.cpp) (MediaRecorder interface)
- [StagefrightRecorder.cpp](https://android.googlesource.com/platform/frameworks/av/+/master/media/libmediaplayerservice/StagefrightRecorder.cpp) (MediaRecorder implementation)
- [

[2019-10-04 12:27] maheshchunkhade commented on #602
videoType = video/avc
stub.size = 1088x1450
mProfile.fileFormat =  2

[2019-10-04 12:30] natario1 commented on #602
@maheshchunkhade could you also tell me if this works with Camera2?

[2019-10-04 12:38] maheshchunkhade commented on #602
With camera 2 its working, below are values with debugging
videoType  = video/avc
mProfile.fileFormat = 2
stub.size = 1080x1920
audio=off

[2019-10-04 12:38] natario1 commented on #602
Going back to Camera1, another thing that I'd like you to try is to comment out these lines which I mentioned before... https://github.com/natario1/CameraView/blob/master/cameraview/src/main/java/com/otaliastudios/cameraview/video/FullVideoRecorder.java#L105-L133

**and** also adding `flip = !flip;` just before `mMediaRecorder.setVideoSize()`.

[2019-10-04 12:48] maheshchunkhade commented on #602
2019-10-04 18:17:53.074 32254-32399/? D/ClClient: Not sending keepalive.  Current connection state=STOPPED
2019-10-04 18:17:55.808 2044-2044/com.otaliastudios.cameraview.demo W/DemoApp: Recording for 5 seconds...
2019-10-04 18:17:55.824 2044-2044/com.otaliastudios.cameraview.demo V/CameraEngine: takeVideo scheduling
2019-10-04 18:17:55.824 2044-2167/com.otaliastudios.cameraview.demo V/CameraEngine

[2019-10-04 12:59] natario1 commented on #602
@maheshchunkhade thanks for following up so fast.

Could you
- post the values of `cameraOptions.getSupportedVideoSizes()` when using Camera1?
- post the values of `cameraOptions.getSupportedVideoSizes()` when using Camera2?

These should be taken after you move to video mode and after you choose the correct camera (front?).

[2019-10-04 13:04] maheshchunkhade commented on #602
**Camera-2**

0 = {Size@11667} "960x1920"
1 = {Size@11668} "960x1280"
2 = {Size@11669} "640x1280"
3 = {Size@11670} "768x1024"
4 = {Size@11671} "480x640"
5 = {Size@11672} "288x352"
6 = {Size@11673} "144x176"
7 = {Size@11674} "360x640"
8 = {Size@11675} "720x1280"
9 = {Size@11676} "480x720"
10 = {Size@11677} "240x320"
11 = {Size@11678} "180x320"
12 = {Size@11679} "1080x1920"
13 = {Size@11680} "1080x1

[2019-10-04 18:33] natario1 commented on #602
@maheshchunkhade would you like to test the `full-video-improvements` branch? I think it might solve your issue.

[2019-10-05 07:24] maheshchunkhade commented on #602
@natario1  heay thanks, its working now with camera1 with front camera but substantial amount quality lost in video of both camera1 & camera2. in main branch quality is perfect. What is see in loss due frame rate.
What fixes you made to fix this crash?
Do you need videos check quality or understand problem?

[2019-10-05 07:43] maheshchunkhade commented on #602
https://we.tl/t-SOMJrQveXJ , here is sample file

[2019-10-05 07:46] maheshchunkhade opened #618 "Watermark on video"
### Problem to be addressed
Is its possible to add watermark on video like video snapshot?

[2019-10-05 07:49] maheshchunkhade opened #619 "Text as watermark on video/video snapshot"
### Problem to be addressed
Is it possible to add text as watermark on video like drawable?

[2019-10-05 07:50] lucazin commented on #618
This is a very good feature to implement

Em sáb, 5 de out de 2019 04:46, maheshchunkhade <notifications@github.com>
escreveu:

[2019-10-05 10:40] natario1 commented on #602
@maheshchunkhade can you pull that branch and try again? I just reordered the operations correctly.

[2019-10-05 10:53] natario1 commented on #467
@HBiSoft I believe this is fixed in #602 and related PR #617 . The only thing we had to do is to avoid choosing video sizes larger than `CamcorderProfile.QUALITY_HIGH`, even if `Camera.Parameters.getSupportedVideoSizes()` returns one of them.

It's not clear whether we should trust the camera video sizes, the camcorder profiles, ... . Seems to be device-dependent nightmare as usual.

I'd be curiou

[2019-10-05 15:11] Ma7moudHatem opened #620 "Changing the Flash value while camera2 is previewing not working"
### Describe the bug
I'm using the Camera2 engine, and while the camera opened and previewing I changed the Flash mode to ON, then called method CameraView.takePictureSnapshot, the Flash has not appeared while capturing the photo.
- CameraView version: *2.3.0*
- Camera engine used: *camera2*
- Reproducible in official demo app: *yes*
- Device / Android version: *HUAWEI Mate 9, API 24*

### To Repr

[2019-10-05 15:20] natario1 commented on #620
Snapshot is just a snapshot of the preview. If you want it to be similar to a picture, you should add `cameraPictureSnapshotMetering="true"`.

[2019-10-06 05:36] Ma7moudHatem commented on #620
How to use Snapshot video with flash, is it possible?

[2019-10-06 10:55] wosiu commented on #107
Thank you for instructions :) Should be fine with it.

[2019-10-06 11:50] wosiu opened #621 "take snapshot NullPointerException"
### Describe the bug
Exception after take snapshot.

- CameraView tested versions:
  - 2.2.0 take snapshot works
  - 2.3.0 take snapshot does not work
- Camera engine used: camera2
- Reproducible in official demo app: **no**
- Device / Android version: Huawei P10 Lite / Android 7.0

### To Reproduce
call takeSnapshot

### Logs
[code]

I haven't done any investigation yet. And because it is not rep

[2019-10-07 06:11] maheshchunkhade commented on #602
@natario1  its working now thanks for your effort.  You can merge this branch to master whenever you ready.

[2019-10-07 06:56] usmanrana07 opened #622 "Front Camera Video Recording should have option to flip horizontally"
Many applications are using front camera video recording as flipped horizontally i.e. SnapChat, Instagram etc

There should be feature in this library that will distinguish it from others, so user can capture videos flipped or not based upon his choice.

I've searched on it and some people recommended to work on low level apis and some suggested post processing on captured media file. Altering the

[2019-10-07 11:34] SachinCTI opened #623 "camera preview is upside down when switch to reverse landscape mode."
If we enable the device rotation, and rotate our device to landscape to 180 landscape, the preview we get is upside down.

[2019-10-07 13:01] #467 closed

[2019-10-07 13:01] #602 closed

[2019-10-07 13:04] natario1 commented on #618
You should use takeVideoSnapshot() for that.

[2019-10-07 13:04] #618 closed

[2019-10-07 13:05] natario1 commented on #619
You can use `takeVideoSnapshot()` and add any View, including TextViews or ImageViews, as overlays.

[2019-10-07 13:06] natario1 commented on #620
If you want the flash to be on, just set it to `Flash.TORCH`

[2019-10-07 13:07] natario1 commented on #622
You can use `takeVideoSnapshot()` and the video will be automatically flipped. Please take a look at the documentation

[2019-10-07 13:13] usmanrana07 commented on #622
I've checked that, it still shows video in mirrored mode, not horizontally flipped like SnapChat does.

[2019-10-07 13:16] kushsaurava opened #624 "Can't play this video"
Some devices showing this error "Can't play this video"  while playing recorded video,
 It's a media player error,  Also there is no any option to record video format in 3gp format.

[2019-10-07 13:22] #622 closed

[2019-10-07 14:03] 23nJay opened #625 "Can't see camera view"
### Add library into build.gradle(Module:app)
implementation 'com.otaliastudios:cameraview:2.3.0'

### Add some permission at meanifeast.xml
<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRIT

[2019-10-07 14:13] #614 closed

[2019-10-07 14:23] natario1 opened #626 "ConcurrentModificationException in GlCameraPreview"
### Describe the bug

- CameraView version: 2.3.0
- Camera engine used: both
- Reproducible in official demo app: no
- Device / Android version: unknown

[code]

[2019-10-07 14:26] natario1 opened #627 "Session has been closed in Camera2.applyRepeatingRequestBuilder"
### Describe the bug

- CameraView version: 2.3.0
- Camera engine used: camera2
- Reproducible in official demo app: no
- Device / Android version: unknown

[code]

[2019-10-07 14:53] avinashs24 opened #628 "Demo application crashes with java.lang.IllegalStateException: Added/removed a FrameProcessor at illegal time."
### Describe the bug

- CameraView version: *2.3.0*
- Camera engine used: *both*
- Reproducible in official demo app: *yes*
- Device / Android version: *OnePlus 6T, API 28*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Open the app.
2. App Stays open for a few seconds with black camera screen
3. App crashes/exits

### Expected behavior
App should open and camera p

[2019-10-07 15:02] natario1 opened #629 "NPE in maybeRestorePreviewTemplateAfterVideo"
### Describe the bug

- CameraView version: 2.2.0
- Camera engine used: camera2
- Reproducible in official demo app: no
- Device / Android version: Mostly Android 8.0.0-9.0.0

[code]

[2019-10-07 15:46] natario1 commented on #607
Can you fill the bug report information? Thanks!

[2019-10-08 05:19] usmanrana07 opened #631 "Preview becomes black and stucks in Note5 Android 7.0 in Demo app"
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.3.0*
- Camera engine used: *both*
- Reproducible in official demo app: *yes*
- Device / Android version: *Note 5 API 24*

Steps to reproduce the behavior, possibly in the demo app:
1. Go to Settings
2. Choose Preview Surface 'gl surface'
3. Preview will become black and stucked

It is working f

[2019-10-08 10:54] xmas79 opened #633 "Camera2 RawFrameProcessor"
Current implementation of FrameProcessor receive data in NV21 format, converted by the **convertToNV21** function.

I'd like to receive raw frame bytes not converted by the **convertToNV21** in order to process them with custom functions.

[2019-10-08 11:01] Johnson145 commented on #577
@unengchen @natario1

[Here](https://github.com/Johnson145/CameraView/commit/7a412ab11f6ebbae859b930e3f080542227a83ff) is a fix for this error.

(Not raising a PR, because my fork has diverged too much).

[2019-10-08 13:38] #578 closed

[2019-10-09 02:04] JayceKing opened #634 "The camera preview"
How do I get a callback for each frame of the preview screen？

[2019-10-09 05:40] #619 closed

[2019-10-09 17:00] ductranit opened #635 "How to save real time filter into image file?"
### How do I?
I follow [this document](https://natario1.github.io/CameraView/docs/filters.html) to apply filter into the preview and it works well. Then I want to save the file with filter result in preview, but seems the `cameraView.takePicture()` doesn't support for it, I don't see any filter in the image result.
So my question is how to save the preview filter into the image?

### Version used

[2019-10-10 03:46] ruidge commented on #599
seems not work only setPictureSnapshotMetering(true);

[2019-10-10 09:29] usmanrana07 opened #636 "Calling 'takeVideo' right after switching mode doesn't record video"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.3.0*
- Camera engine used: *both*
- Reproducible in official demo app: *yes (but code needs some change)*
- Device / Android version: *All devices*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. set  Mode=PICTURE before calling 'takePicture'

[2019-10-10 11:53] usmanrana07 opened #637 "Crashed with 'ConcurrentModificationException' after taking Picture"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.3.0*
- Camera engine used: *camera1/camera2/both*
- Device / Android version: *Note5, API 22*

I recorded video sometimes and then tried to takePicture but it crashed with following logs:

[code]

[2019-10-10 15:37] #626 closed

[2019-10-10 15:37] #628 closed

[2019-10-10 15:38] natario1 commented on #629
Fixed by #630 .

[2019-10-10 15:38] #629 closed

[2019-10-10 15:39] natario1 commented on #627
"Fixed" by #630, hoping to do better once we get logs.

[2019-10-10 15:39] #627 closed

[2019-10-11 06:54] yangwuan55 opened #638 "Don't open the camera defualt"
I want keep the camera close at start activity,and it open when I click some button.
How can I do this?
Thanks very!!!

[2019-10-11 09:31] usmanrana07 commented on #638
Just don't attach lifecycle of activity 'setLifecycleOwner' in your onCreate method, but set it onCreate of the button and call camerView.open() method then. As if lifecycle is attached then CameraView auto starts camera in onResume state.

[2019-10-11 10:35] usmanrana07 opened #639 "SnapShot capturing is low in quality than preview"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.3.1
- Camera engine used: *camera1/camera2*
- Reproducible in official demo app: *yes*
- Device / Android version: *Note 8,API 28*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
Call 'takePictureSnapShot' method and you will see the captured pi

[2019-10-11 11:23] yangwuan55 commented on #638
Thank u very much! @usmanrana07

[2019-10-11 11:23] #638 closed

[2019-10-11 15:06] colorgold opened #640 "No encoders for type:video/avc"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.3.1*
- Camera engine used: *both*
- Reproducible in official demo app: *yes*
- Device / Android version: *HUAWEI Y5 2018, Version: 8.1.0*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. Go to 'CameraView'
2. Click on 'button to record video'

[2019-10-12 01:05] adrianhall opened #641 "setParameters fails (and crash) when setting white balance"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: "com.otaliastudios:cameraview:2.3.1"
- Camera engine used: Engine.CAMERA1 (although engine is set to Engine.CAMERA2)
- Reproducible in official demo app: Don't know
- Device / Android version: Emulator - Pixel3, API 29, minAPI = 26, targetAPI = 29

### To Reproduce
Setting `ca

[2019-10-12 01:39] adrianhall commented on #641
Follow-up:
When setting

[code]

This does not happen.

[2019-10-12 10:12] ductranit commented on #635
It works with `takePictureSnapshot()`

[2019-10-12 10:12] #635 closed

[2019-10-12 13:44] usmanrana07 opened #642 "NullPointerException and RuntimeException caused crash"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.3.1*
- Camera engine used: *camera2*
- Device / Android version: *Huawei, API 28*

During normal usage of app it suddenly stopped and gave following crash logs:

[code]

[code]

[2019-10-12 17:04] ductranit opened #643 "Post-processing - apply filters to file or bitmap"
I'm going create a camera app that can have multiple filters. After users take a picture (or a snaphot when using filter), they can change result with other filters from the original file (Post-processing)
I'd like to apply the same Filter algorithm for the file or bitmap just like the preview.
Is it possible?

[2019-10-14 04:33] SayantanBanerjee16 opened #644 "TAP to FOCUS"
### Problem to be addressed
Can anybody give me an idea of how to apply tap in focus?

### Describe the solution you'd like
The portion in the camera view user press a tap, focus center shifts to there.

### Additional context
It can be found in any inbuilt phone camera.

[2019-10-14 04:52] ductranit commented on #644
You should read the document: https://natario1.github.io/CameraView/docs/gestures.html
`cameraView.mapGesture(Gesture.TAP, GestureAction.AUTO_FOCUS); // Tap to focus!`

[2019-10-14 07:48] fanxxxx opened #645 "setParameters failed and crash on Android 4.4.4"
### Describe the bug
- CameraView version: 2.2.0
- Camera engine used: camera1
- Reproducible in official demo app: no (no device)
- Device / Android version: Xiaomi Mi3. Android 4.4.4(level 19)

Is there any way to prevent crashes on `setParameters` ?

I got a lot of crash report on Xiaomi Mi3, here's crash log:

### Logs
[code]

[2019-10-14 08:52] SayantanBanerjee16 commented on #644
Thanks for the link.

[2019-10-14 08:52] #644 closed

[2019-10-14 13:19] usmanrana07 commented on #639
@natario1 I just multiplied the resulted cropped width,height with 2 during debugging and result was improved (the resolution and size of captured image was doubled as expected).  Can you please add a method setSnapShotQualityMultiplexer method in this so, we can use it for that purpose. Most importantly if it is the right approach as you have broader idea of CameraView and there could be some mor

[2019-10-14 18:12] colorgold opened #646 "Watermark/ Overlay Touch events"
### How do I?
I have been trying to drag the watermark when taking a video but the touch events are consumed by the cameraview. I followed this link, [https://ran3000.github.io/2019/09/14/cameraview-interactivity.html](url), to forward touch events to the watermark. However, the image cannot be dragged, only clicked on. Is there a way I can accomplish this?

### Version used
2.3.1

[2019-10-15 03:08] PraveenOjha opened #647 "Using bitmap in texture"
### Problem to be addressed
Provide easy way for adding a texture from a bitmap  in custom filter while extending base filter ,

### Additional context
Currently Using  a 2dsampler texture from a bitmap results in black screen

[2019-10-15 06:58] #615 closed

[2019-10-15 06:58] #620 closed

[2019-10-15 06:59] natario1 commented on #621
@wosiu it would be nice if you could provide more info.

[2019-10-15 07:00] natario1 commented on #623
@SachinCTI can you fill the bug information? Thanks.

[2019-10-15 07:02] natario1 commented on #624
Can you fill the bug report information? Thanks.

[2019-10-15 07:03] natario1 commented on #625
Please take a look at the sample app or read the official documentation on how to get started.

[2019-10-15 07:03] #625 closed

[2019-10-15 07:04] natario1 commented on #631
Can you fill the bug report information? Thanks.

[2019-10-15 07:05] natario1 commented on #633
Hi, we do not plan to add RAW support but if you subclass Camera2Engine you should be able to get what you want.

[2019-10-15 07:05] #633 closed

[2019-10-15 07:07] natario1 commented on #634
You can use a Frame processor (see docs)!

[2019-10-15 07:07] #634 closed

[2019-10-15 07:11] usmanrana07 commented on #631
It was misbehaving that day but didn't face that issue later on and in other devices. May be device was low at performance at that time.

[2019-10-15 07:11] #631 closed

[2019-10-15 07:12] natario1 commented on #637
This was fixed in latest version.

[2019-10-15 07:12] #637 closed

[2019-10-15 07:15] natario1 commented on #640
Can you post logs from the demo app? From start to crash.

[2019-10-15 07:17] natario1 commented on #643
It is possible to post-process using `Filter`s if you have GLES experience. However this is out of the scope for this library, sorry!

[2019-10-15 07:17] #643 closed

[2019-10-15 07:23] natario1 commented on #641
@adrianhall thanks for reporting.

We check that everything is supported before applying, but sometimes the device lies about it. My answer to these crashes lately has been "please switch to Camera2".

Besides that, it might be an emulator-only issue.

[2019-10-15 07:27] natario1 commented on #645
No... these things happen on Camera1 devices and there's no clue about what's wrong. Probably a device specific issue. I'm not aware of any solution and I don't own this particular device.

[2019-10-15 07:31] natario1 commented on #646
Maybe the author can help you, @RAN3000

You could try calling `cameraView.requestDisallowInterceptTouchEvent(true)`. Note that gestures might not work after that.

[2019-10-15 07:34] natario1 commented on #639
@usmanrana07 the demo app will crop down the image to `1000` pixels, in `PicturePreviewActivity`. But the real picture is probably better quality. You can try to change that

[2019-10-15 07:42] natario1 commented on #642
Are these two separate issues or the same one?

[2019-10-15 07:43] natario1 commented on #647
@PraveenOjha we are not planning to do this ATM but if you post your filter implementation on StackOverflow I am sure that someone will help.

[2019-10-15 08:10] usmanrana07 commented on #639
I'm using takePictureSpanShot method in my app , and I didn't use any crop property.

[2019-10-15 08:11] usmanrana07 commented on #642
It gave these 2 logs in fabric for a single crash

[2019-10-15 08:19] fanxxxx commented on #645
It's possible to add try catch at `setParameters` and callback on `onCameraError`?

[2019-10-15 09:02] RAN3000 commented on #646
Hi!

I haven't tested this but you can try to override `onDragEvent(DragEvent)` in `ForwardTouchesActivity` from the article, in the same way as `onTouchEvent(MotionEvent)`.

Reference: [https://developer.android.com/guide/topics/ui/drag-drop#AboutDragListeners](https://developer.android.com/guide/topics/ui/drag-drop#AboutDragListeners)

[2019-10-15 09:50] caiyoufei opened #648 "I used MultiFilter ，when app onResume，it crash"
java.lang.RuntimeException: Error during glUniformMatrix4fv glError 0x 501
        at com.otaliastudios.cameraview.internal.GlUtils.checkError(GlUtils.java:25)
        at com.otaliastudios.cameraview.filter.BaseFilter.onPreDraw(BaseFilter.java:192)
        at com.otaliastudios.cameraview.filter.BaseFilter.draw(BaseFilter.java:182)
        at com.otaliastudios.cameraview.filter.MultiFilter.draw(Mul

[2019-10-15 10:12] caiyoufei commented on #648
![image](https://user-images.githubusercontent.com/11989916/66822674-eb9eba80-ef6e-11e9-9f02-0117c2b770ba.png)
change demo code

[2019-10-15 20:55] adrianhall opened #649 "Concurrent Modification Exception on taking photo"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: 2.3.1
- Camera engine used: camera2
- Reproducible in official demo app: don't know
- Device / Android version: Emulator, Pixel 3, API 29

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:

When taking a photo, I sometimes get this error (it's intermi

[2019-10-15 20:56] adrianhall commented on #641
Agreed - thanks for the confirmation!

I might suggest selecting camera2 on >= MARSHMALLOW by default.

[2019-10-15 20:56] #641 closed

[2019-10-16 02:21] stefanJi opened #650 "NullPointerException setPreviewTexture"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: 2.3.1
- Camera engine used: camera2
- Reproducible in official demo app:no
- Device / Android version: *HUAWEI MLA-AL10 ANDROID 6.0*

### XML layout
Part of the XML layout with the CameraView declaration, so we can read its attributes.

[code]

### Logs

[code]

[2019-10-16 11:31] SachinCTI commented on #623
**Describe the bug**
CameraView version: 2.2.0
Camera engine used: *camera2
Reproducible in official demo app: no
Device / Android version: xiaomi 6 pro pro, API 28

step1: Enable the auto rotation of device.
step2: Open the app in landscape mode. Preview we get is fine.
step3: Now flip the device to landscape to reverse landscape. (180 degree)
step4: Then the preview we get is upside down.

![Scr

[2019-10-16 18:31] natario1 commented on #648
Thanks for reporting!

[2019-10-16 18:48] natario1 commented on #621
I think you are just calling takePictureSnapshot() very soon, before the first preview frame. I have removed the crash now.

[2019-10-16 18:51] natario1 commented on #642
Thanks for reporting!

[2019-10-16 21:58] #649 closed

[2019-10-16 21:58] #621 closed

[2019-10-16 21:58] #623 closed

[2019-10-16 21:58] #642 closed

[2019-10-16 21:58] #648 closed

[2019-10-16 22:54] wosiu commented on #621
I haven't tested your changes yet, but I added a backoff time (1500ms) before I call snapshot after onCameraOpened and you're right - it helped.

[2019-10-17 08:53] 113408 opened #652 "App crashes when using camera2 Engine due to concurency"
### Describe the bug
I recently moved from a similar library to yours, I find it great in processing the pictues (mettering option lacked on the other one) however I face a critical issue when using `camera.takePictue()` inside a timer. The app crashed as it tries to get results before the previous request was completed. I checked a bit the code and saw that the `baseEngine` used some kind of lock

[2019-10-17 08:55] natario1 commented on #652
This was fixed by #651, but thanks very much for detailed report!

[2019-10-17 08:55] #652 closed

[2019-10-18 10:28] SayantanBanerjee16 opened #654 "Image being rotated when reading from gallery"
### How do I?

While capturing a photo and saving it, it is stored in its correct orientation. But while reading that image back and uploading to firebase storage, every image is being rotated anti-clockwise 90 degrees. How to fix this?

I hadn't used anywhere EXIF interface code as the code I was using wasn't giving the correct solution.

### Version used
cameraview:2.3.1

[2019-10-18 13:10] stefanJi commented on #650
I am also confused. I declare to use Camera2, but it looks like Camera1 is used from the stack trace.

[2019-10-18 13:20] natario1 commented on #650
This means you have not set cameraExperimental to true, OR API level is < 21 (or both)

[2019-10-19 05:02] caiyoufei commented on #589
thanks

[2019-10-19 16:53] SayantanBanerjee16 commented on #654
someone, please help me with the code used for achieving the correct image in every orientation

[2019-10-20 10:18] #581 closed

[2019-10-21 07:43] candrwow opened #655 "Dynamic Overlay not work below Android 8.0"
### How do I?
I use firebase face detect,on S8,android 8.1 and Simulator 8.0 or up version,it work.
But on my nexus5,Android 6.0 and Simulator 7.0,camera preview don't show face overlay,debug watcher show face result(bitmap) is correct,but overlay show nothing.

[code]
debug also show this code run
`overlay.setImageBitmap(it)`

[code]

### Version used
CameraView exact version.
`api 'com.otaliastu

[2019-10-21 08:47] Namazed opened #656 "Why method isClosed private?"
Why did you close method [`isClosed`](https://github.com/natario1/CameraView/blob/master/cameraview/src/main/java/com/otaliastudios/cameraview/CameraView.java#L699) in `CameraView` class?
Can you open this method like `isOpened` method?

### Version used
CameraView version 2.3.1

[2019-10-21 13:36] 113408 commented on #652
Indeed the #651 solves the issue related to `LastResult` however in the same scenario the `holder` itself is sometimes null if metering is turned on. If metering is off then there are no issues. I tried to dig the issue and wrap the holder in a null check (after making it nullable) but the preview just stops at some point (freeze).
Without checking the nullable holder I get an exception as follow:

[2019-10-21 14:27] candrwow commented on #655
I find on android5.0-7.1,overlay can't respond and refresh to image changes,for face recognition and stickers, changes on the canvas will not be displayed, but property animations will work on these low apis.I use below to make it work,but maybe a very poor performance program

[code]

[2019-10-22 10:41] dhsxdd1 opened #657 "Urhosharp freezes/crashes after repeated display in content page - UrhoSharp FormsSample"
I'm using UrhoSharp 1.9.67 with origin sample FormsSample (with charts). I'm testing it on Samsung SM-T800.
If I click on button "LAUNCH SAMPLE" then on "back" button and again "LAUNCH SAMPLE" then on "back" button repeatedly five or ten times then the application crashes. It shows in log "eglSwapBuffersWithDamageKHR" and then it freezes. I have the same problem in my application. I have only used

[2019-10-22 15:00] natario1 commented on #657
Posted on the wrong browser tab?

[2019-10-22 15:03] natario1 commented on #652
Hi @113408 could you open a new issue? Providing `INFO` logs if you can.

[2019-10-23 05:15] usmanrana07 commented on #639
@natario1 can you please look into this

[2019-10-23 10:35] ManuEpi opened #658 "Multiple fragment using camera instance"
### How do I?

Hello, I have a big issue actually, I hope that someone could help me, I'm stuck on it since days.

I'm using Android Navigation component (Jetpack) . And I have a lateral menu (com.google.android.material.navigation.NavigationView) which will call the corresponding Fragment depending on choice that we make.

I'm in Fragment A which has cameraView in full screen
I click on my latera

[2019-10-23 10:59] natario1 opened #660 "Hi! - sponsoring CameraView development"
Hi! 👋

I am Mattia, the main developer and maintainer here, and I have enabled the GitHub Sponsor button on this repository which will let you support the library development by sponsoring my open source work through GitHub itself.

In the last years, I have spent countless unpaid hours on this and other projects, designing and developing tools that solve real problems, for everyone to use. I am v

[2019-10-23 11:22] natario1 commented on #639
@usmanrana07 Sorry I don't know what I could look at.

The camera sends a preview frame of fixed size say 100x100 then this *same frame* is passed to the preview and to the picture snapshot. So it is the very same source for two outputs.

If you set output size to 200x200 it will just be upscaled (missing pixels are interpolated / guessed) but it will not add any detail. The only thing that make s

[2019-10-23 13:06] usmanrana07 commented on #639
the width and height is match_parent already. And calculation is correct. But the quality drops because of the point that if screen dimens are 1080x1920 then aspect ratio is 0.56 but as default camera orientation is landscaped so, in Preview, 1080 is considered as height and 1920 as width . When resulted image is cropped from it then output is 607x1080 maintaining the aspect ratio of 0.56

This ca

[2019-10-23 16:29] natario1 commented on #639
@usmanrana07 I understand! You can use `wrap_content` to avoid aspect ratio cropping . You will just have black bands in the preview. But the resulting image will be as large as the preview stream.

Also you can use `setPreviewStreamSize()` to choose a bigger preview stream size, if the current one does not satisfy you.

[2019-10-23 20:49] natario1 commented on #658
You must make sure that `close()`, or even better, `destroy()`, is called before the other fragment's `open()`.

About how to do that that'd be just an implementation detail of your app

[2019-10-23 21:01] ManuEpi commented on #658
Thanks for your response.

I don't really know where to do the implementation because it's the MainActivity who make the switch between FragmentA and FragmentB , it doesn't have instance of cameraView.

Only both fragments have it , and in FragmentA , the onPause() is called AFTER the onResume() of the new FragmentB so I cannot make sure to close() destroy() before that the other fragment open().

[2019-10-23 21:05] natario1 commented on #658
FragmentB.onResume() can ask the activity to check that FragmentA has released the camera, or you can use some navigation callback of the navigation library, or probably other ways!

[2019-10-23 21:17] ManuEpi commented on #658
Oh yes I didn't think about that , that some good ideas.
I will try them , thanks for helping

[2019-10-24 09:56] ManuEpi commented on #658
Okey I fixed it by using a boolean MutableLiveData.

When I'm in FragmentA onDestroy I set "isReleased" boolean to true
And in onResume of FragmentB I'm using .observe() on the boolean.
Inside the observe I check if the boolean == true . If it is , I just open my camera
And then I set my boolean to false because it's not longer released

Thanks

[2019-10-25 09:01] saadbzu opened #663 "front camera video record app crash"
### How do I?
When i switch camera to front and record video app carsh

### Version used
2.4.0

[2019-10-25 12:34] usmanrana07 opened #664 "Crash When first time RECORD_AUDIO Permission is denied and then accepted"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.4.0*
- Camera engine used: *both*
- Device / Android version: *Huawei Y9 , 9.1*

If you deny the RECORD_AUDIO permission first time and then accept the permission request. Then when you press he device power key and again unlock the phone , the app crashes with following lo

[2019-10-26 04:06] FitApps7 opened #665 "Flash Problem"
### Describe the bug
- CameraView version: 2.4.0
- Camera engine used: camera2
- Reproducible in official demo app: yes
- Device / Android version: Nokia 5.1, Android 9

### To Reproduce
If flash on mod, touch to focus pic on preview,
flash on, after it, flash will not off, until you close camera.

### Expected behavior
Flash should be off after removing focus.

### XML layout
Part of the XML layo

[2019-10-27 18:44] mosamman commented on #542
This issue shouldn't be marked as closed. Also @iRYO400 work around works.

[2019-10-29 09:58] saadbzu opened #666 "How store Video with filters?"
I user your filter class to apply filters and it work correctly in camera preview. But when i record the video after recording the filter remove , video still in its original condition. Please help how i store video with filter

[2019-10-29 22:23] #616 closed

[2019-10-30 05:23] #603 closed

[2019-10-30 08:23] manith-p commented on #639
@natario1 when I take a photo with takePictureSnapshot() the flash isn't triggered even I set the camera flash to Flash.On How can I trigger the flash when takePictureSnapShot()?

[2019-10-30 16:15] FitApps7 opened #667 "CameraException"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: 2.3.1
- Camera engine used: *camera1*
- Reproducible in official demo app: *not know*
- Device / Android version: Huawei Mate 20 lite (HWSNE), Android 9

com.otaliastudios.cameraview.CameraException:
at com.otaliastudios.cameraview.engine.Camera1Engine.onError (Camera1Engine.j

[2019-10-31 07:08] HassanUsman opened #668 "Wide angle functionality."
### Wide angle:
How I take a picture with a wide-angle if there is an option please let me know and if there is no option than consider this suggestion and add this feature in your upcoming releases.

[2019-10-31 09:16] natario1 commented on #639
@manith-p you should set pictureSnapshotMetering=true

[2019-10-31 09:16] natario1 commented on #666
You should record the video using `takeVideoSnapshot` instead of `takeVideo`.

[2019-10-31 10:28] saadbzu commented on #666
I use taktakeVideoSnapshot but after recording the video, the video quality is decrease. Any suggestion?

[2019-10-31 10:30] saadbzu commented on #414
I also face this problem. Can anyone have a solution?

[2019-11-01 13:55] deboLing opened #669 "android.hardware.camera2.CameraCaptureSession$CaptureCallback, android.os.Handler)' on a null object reference"
11-01 10:53:40.791 11280 11695 E AndroidRuntime: FATAL EXCEPTION: FallbackCameraThread
111-01 10:53:40.791 11280 11695 E AndroidRuntime: Process: com.insurance.earcon, PID: 11280
211-01 10:53:40.791 11280 11695 E AndroidRuntime: java.lang.NullPointerException: Attempt to invoke virtual method 'int android.hardware.camera2.CameraCaptureSession.capture(android.hardware.camera2.CaptureRequest, androi

[2019-11-03 10:35] HBiSoft commented on #667
I have the same issue.

Unfortunately I'm not able to provide device specifications because the crash is not caught by Crashlytics and Google Console's log only provides me the following:

    com.otaliastudios.cameraview.CameraException:
    at com.otaliastudios.cameraview.engine.Camera1 Engine.onError(Camera1Engine.java:5)
    at android.hardware. Camera $EventHandler.handleMessage(Camera.java:1

[2019-11-03 10:42] HBiSoft commented on #660
I feel more people should be sponsoring. This is an amazing library with great support.

If a team would have to implement all the functions in this library, it would take them at least a month, if not more.

Thank you for the awesome library. I will be sponsoring again soon.

[2019-11-04 08:10] simkis commented on #664
Got same crash on Galaxy A5 (2017) android 8.0.0

`Fatal Exception: java.lang.RuntimeException: Unknown CameraPreview output class.
       at com.otaliastudios.cameraview.engine.Camera1Engine.onStartBind(Camera1Engine.java:181)
       at com.otaliastudios.cameraview.engine.CameraEngine$7.call(CameraEngine.java:444)
       at com.otaliastudios.cameraview.engine.CameraEngine$7.call(CameraEngine.java

[2019-11-04 22:30] AxesandGrinds opened #670 "Blurry result.data bitmap"
### How do I?
No matter what I try, when I take a picture or a picture snapshot, the resulting bitmap in PicturePreviewActivity is always blurry or more blurry than the image on the screen before the picture is taken.

I have tried change Snapshot1PictureRecorder class file from
yuv.compressToJpeg(outputRect, 90, stream);
to
yuv.compressToJpeg(outputRect, 100, stream);
and that didn't help.

I hav

[2019-11-05 04:09] HassanUsman commented on #668
@natario1 waiting for your reply.

[2019-11-05 07:54] songmao123 opened #671 "Flip camera 180°"
Hi，this library is great! But can we flip the camera 180°?

[2019-11-05 08:58] kingbash90 commented on #639
Flash not working with takePictureSnapshot(),even if when set cameraView.setPictureSnapshotMetering(true).

[2019-11-05 09:47] gabriel-TheCode commented on #556
Nothing new ...

[2019-11-05 09:50] AxesandGrinds commented on #670
solution:
change result.toBitmap(1000, 1000, new BitmapCallback() {...
to
result.toBitmap(new BitmapCallback() {...

[2019-11-05 09:50] #670 closed

[2019-11-06 06:03] HBiSoft commented on #467
@natario1 Thanks for letting me know. This issue seems to be fixed. I had a quick look at the OpenCamera project and he uses the following method the set the profile:

[code]

The `initialiseVideoQualityFromProfiles` points to [this](https://sourceforge.net/p/opencamera/code/ci/master/tree/app/src/main/java/net/sourceforge/opencamera/preview/VideoQualityHandler.java#l60) class. The profile is also

[2019-11-07 13:34] amitelman opened #673 "Is there a way to use HEVC (H_265) video codec?"
I think this library is efficient and very easy to use, but it seems that only H_264 \ H_263 is supported.

For large-sized Video files it is much better to use the HEVC video codec.. which result in files 4 times smaller.

15 sec video in high resolution on the H_264 codec returns a 80 Mb file.
same video encoded with the HEVC returns a 20 Mb file.

So is there a way to use the HEVC codec?

Thank

[2019-11-08 18:38] xmas79 commented on #633
Hello, I subclassed the Camera2Engine and override the methods without any issues. However I'm not able to instantiate this new class because the constructor requires a "CameraCallbacks" class which is package private, so I'm unable to instantiate this class from my package scope and call the setEngine() function on CameraView. How should I proceed? Thanks.

[2019-11-09 06:06] candrwow opened #674 "MultiFilter and preview size change will cause preview disorder"
Hi,I want add multiFilter in camera,when I use it and change camera layoutparam height,it will cause preview disorder.
![image](https://user-images.githubusercontent.com/14042320/68523819-453d9f00-02f9-11ea-9138-0be9d81ab36f.png)
![image](https://user-images.githubusercontent.com/14042320/68523816-348d2900-02f9-11ea-987e-ccb89ed40c9f.png)

Step:
1.camera is fill screen,use match_parent.
[code]
2.a

[2019-11-09 07:06] seaworld67 opened #675 "Is it possible to stream video?"
### I need to save a video and stream it at the same time. Is it possible using CameraView?

[2019-11-09 08:01] troy-lamerton opened #676 "render CameraView's texture into other gl context"
We have an opengl game with camera features such as showing your face inside the game.

To render the camera (in the game's opengl context) I can use `addFrameProcessor` to get a `byte[]` every frame. This means copying the bytes every frame. Surely, there is a better way.

### How do I?
Use camera view's gl texture in my game's gl context.

Is there an RGB texture of the camera preview?
Perhaps I

[2019-11-11 08:41] #624 closed

[2019-11-11 08:41] #640 closed

[2019-11-11 08:41] #647 closed

[2019-11-11 09:41] #645 closed

[2019-11-11 10:41] #646 closed

[2019-11-11 15:10] gabriel-TheCode commented on #305
I dont see the method `cameraView.setVideoQuality(VideoQuality.MAX_QVGA);`

[2019-11-12 09:48] troy-lamerton commented on #676
Using addFrameProcessor and copying the `byte[]` each frame does work. I load the nv21 bytes into unity and use a shader to render them as rgb.

The performance is good when camera is at 30fps. This is still using cpu though when an approach described in the issue would probably be a lot better.

Is there certain java files I can modify to expose the gl texture of camera view?

[2019-11-12 10:50] alxgord opened #677 "Flash.ON don`t works in video mode"
### Describe the bug
Flash.ON don`t works in video mode(I using takeVide() method, not snapshot), in photo mode works as expected
- CameraView version: 2.4.0
- Camera engine used: both
- Device / Android version: *Essential Phone, API 29*

### XML layout
Part of the XML layout with the CameraView declaration, so we can read its attributes.

[code]

[2019-11-12 10:59] natario1 commented on #676
CameraView renders onto its own surface which is a `CameraPreview` implementation. You should look into camera previews and either create your own (like `GlCameraPreview`, but with your own thread/context) or try to use `GlCameraPreview` itself and render your game into it.

To apply the new preview you should subclass `CameraView` and override `instantiateCameraPreview()`.

[2019-11-12 11:00] natario1 commented on #673
It's not possible. You can see here that even in Android 10 devices are not required to have a HEVC encoder : https://developer.android.com/guide/topics/media/media-formats , only a decoder (from API 21 only).

[2019-11-12 11:02] natario1 commented on #671
If you dig into the source code you will find many points that you can modify to flip the camera. Unfortunately I have no time to give you hints, sorry!

[2019-11-12 11:03] #639 closed

[2019-11-12 11:05] natario1 commented on #674
Can you reproduce this on the demo app? It has controls to change the CameraView size.

[2019-11-12 11:06] natario1 commented on #675
I don't know! You can get the image frames using OpenGL ES by creating a `Filter`, by I don't know about audio.

[2019-11-12 11:08] natario1 commented on #677
If you want the flash always on during a video you should use `TORCH`.

[2019-11-12 11:10] natario1 commented on #668
I have no idea @HassanUsman . Unfortunately I have no time to dig into this, sorry!

[2019-11-12 11:13] amitelman commented on #673
I see,
But what about devices that do support HEVC encoding ? there is a wide range of them. Of course all newly devices that comes out.
Can't it be an optional feature to effect supported devices?
I know that the iOS for example, is encoding HEVC by default if the device is supporting the codec.

I mean, there is no reason to decode in H264 if the device supports HEVC.

Thank you for the replay.

[2019-11-12 12:25] natario1 commented on #673
We can add `VideoCodec.HEVC` option, feel free to open a PR. But that will fail on a huge number of devices.

We already have `VideoCodec.DEVICE_DEFAULT` so if the device manufacturer thinks they have a very good HEVC encoder, the video will be HEVC.

About "there is no reason to encode in H264 if the device supports HEVC", there can be many reasons, like the fact that the final video will not be

[2019-11-12 12:35] alxgord commented on #677
Okay. Can you please explain how works Flash.ON mode when video recording?

[2019-11-12 17:45] cneuwirt opened #678 "Possible deadlock exception on destroy"
- CameraView version: *2.4.0*
- Camera engine used: *camera1*
- Device / Android version: *Samsung Galaxy, API 29*

I am looking for any input to debug the source of the following exception: My app opens and closes CameraViews so I'm trying to understanding how that's contributing to the error.

E/Camera: Error 2
E/Camera1Engine: Internal Camera1 error. 2
E/AndroidRuntime: FATAL EXCEPTION: CameraV

[2019-11-13 06:02] songmao123 commented on #671
OK, Thanks for your replay.

[2019-11-13 06:02] #671 closed

[2019-11-13 08:42] amitelman commented on #673
Alright, Thank you very much for replaying..!

[2019-11-13 08:42] #673 closed

[2019-11-13 09:57] #406 closed

[2019-11-14 02:05] nawinkhatiwada opened #679 "Shutter Sound Effect on Screen"
How do I enable shutter sound effect on the screen. `app:cameraPlaySounds="true"` presently enabled the captured sound, but does not blink the screen. Are there functions for doing so?

For reference I have added the sample video: [Camera](https://drive.google.com/file/d/0B_diJZ03Jupka3ZwSWFiMkNVTGtxYV9jTFFMWkJzS1FIT2Uw/view?usp=sharing)

Camera version: `2.4.0`

[2019-11-14 05:16] ashishnegi962 opened #680 "java.lang.RuntimeException: onConfigureFailed! Session android device Redmi 7A"
java.lang.RuntimeException: onConfigureFailed! Session android.hardware.camera2.impl.CameraCaptureSessionImpl@eb02b3a
        at com.otaliastudios.cameraview.engine.Camera2Engine$4.onConfigureFailed(Camera2Engine.java:536)
        at android.hardware.camera2.impl.CallbackProxies$SessionStateCallbackProxy.lambda$onConfigureFailed$1(CallbackProxies.java:64)
        at android.hardware.camera2.impl.-

[2019-11-14 08:47] huongvu1397 opened #681 "cameraExperimental for Camera Preview"
**cameraExperimental**
 I'm using cameraExperimental="false" and my camera preview is look good, but when i change cameraExperimental="true" my camera preview is too dark, what should i do for this case ?
<img src="https://user-images.githubusercontent.com/39198328/68840523-7bae5c00-06f5-11ea-818e-1e66e3bec573.png" width="200" height="400" />

<img src="https://user-images.githubusercontent.com/39

[2019-11-14 08:50] coderJohnZhang commented on #607
I have met this issue, too.

11-14 16:46:21.587 19645 19645 E AndroidRuntime: FATAL EXCEPTION: main
11-14 16:46:21.587 19645 19645 E AndroidRuntime: Process: com.tcl.tvcamera, PID: 19645
11-14 16:46:21.587 19645 19645 E AndroidRuntime: java.lang.RuntimeException: onConfigureFailed! Session android.hardware.camera2.impl.CameraCaptureSessionImpl@74bb74e
11-14 16:46:21.587 19645 19645 E AndroidRuntim

[2019-11-14 08:57] SarunasDaubaris opened #682 "Camera preview is not displayed on Huawei P20 Pro"
### Description
- CameraView version: *2.4.0*
- Camera engine used: *camera1*
- Reproducible in official demo app: *no*
- Device / Android version: *Huawei P20 Pro, 8.1.0*

I'm using CameraView with Flutter's Platform View. It is instantiated programmatically. It works as expected on Samsung A50 Android 9.

The bug occurs on Huawei P20 Pro. I've run my app with debugger - Camera1Engine is used by

[2019-11-14 10:03] huongvu1397 commented on #681
i solve it with set previewFrameRate :
``
  camera?.previewFrameRate = 7f
``

[2019-11-14 10:03] #681 closed

[2019-11-14 14:12] #650 closed

[2019-11-15 19:30] #654 closed

[2019-11-17 04:16] HiMrHuang opened #683 "Crash when I use the preview data to detect target and update the target position on screen!"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: *2.4.0*
- Camera engine used: *camera2*
- Reproducible in official demo app: *yes*
- Device / Android version: *Xiaomi 8 and Samsung S8, API 29*

### To Reproduce
Steps to reproduce the behavior, possibly in the demo app:
1. use the addFrameProcessor to get the preview data
2.

[2019-11-17 09:44] #656 closed

[2019-11-17 14:44] #655 closed

[2019-11-18 07:43] nawazish011 opened #684 "capture size"
I want to capture image of fix size like 1024 X 768 how can i do it using camerView

[2019-11-18 08:04] VasylT opened #685 "Crash onTakePicture with camera2"
Crash occuring when taking picture
- CameraView version: 2.4.0
- Camera engine used: camera2
- Reproducible in official demo app: haven't tried it
- Android version: 5.1+

Camera activity class:
https://paste2.org/Ngyk5Ikk

XML layout:
[code]

Stacktrace:
java.lang.NullPointerException:
  at com.otaliastudios.cameraview.engine.Camera2Engine.onTakePicture (Camera2Engine.java:743)
  at com.otaliastu

[2019-11-18 15:54] #657 closed

[2019-11-20 05:07] mayurpateltristate commented on #122
When i launch app i am facing this kind of exception

E/CameraEngine: uncaughtException: Unexpected exception: java.lang.RuntimeException: Unknown CameraPreview output class.
    java.lang.RuntimeException: Unknown CameraPreview output class.
        at com.otaliastudios.cameraview.engine.Camera1Engine.onStartBind(Camera1Engine.java:181)
        at com.otaliastudios.cameraview.engine.CameraEngine$

[2019-11-21 02:44] nxnyk commented on #682
the same problem

[2019-11-21 09:54] #663 closed

[2019-11-21 11:48] burhanahmed92 opened #686 "Preview Captured Image"
### How do I?
I want to display a preview bubble when i capture image like android native camera app.  Is there a way to do that? i can't find anything in docs...

### Version used
2.4.0

[2019-11-21 12:01] HBiSoft commented on #189
@natario1 Here is the log as you asked for above:

[code]

[2019-11-21 16:09] gabriel-TheCode opened #687 "How to capture frame by frame images from video recording in real time ?"
### How do I?
I tried with the method below to get the frames of a video stream in real time but It doesnt work

[code]

### Version used
2.0.0-beta04

[2019-11-22 04:41] #665 closed

[2019-11-22 05:21] ashishnegi962 commented on #680
sir please kindly provide suggestion to solve the problem. Camera2Engine on Configure Failed

[2019-11-22 08:22] bayunvnt commented on #680
I have this problem too

[2019-11-22 09:40] gabriel-TheCode commented on #556
I found an alternative by defining the bitRate of my video as I liked according to the resolution I wanted with the method `app:cameraVideoBitRate="@integer/video_bit_rate"`.

 So for a 360p video I set 400kbps. And It works fine !

[2019-11-26 15:22] HBiSoft commented on #667
Here is the log a user sent me:

[code]

[2019-11-27 11:42] #666 closed

[2019-11-27 18:56] ramisaban1 opened #688 "CamerView Sound Resource Taken"
### Problem to be addressed
Within my android application, I am playing an audio file using [MediaPlayer](https://developer.android.com/reference/android/media/MediaPlayer) and upon launching the `cameraView`, the audio immediately stops playing. Since I am working on Android 6.0, I can't change the audio focus to my audio file.

### Describe the solution you'd like

1. I believe changing the came

[2019-11-29 16:51] HBiSoft commented on #667
This issue looks to be the same as #440 where it was closed because the logs were updated.

---

**All of the crashes are on HUAWEI devices**, running Android 9.

I've had 97 crashes the past 7 days.

Here is a list of all the devices which experiences this issue:
- Honor 8X (HWJSN-H)
- HUAWEI Y9 2018 (HWFLA-H)
- HUAWEI P30 lite (HWMAR)
- P30 Pro (HWVOG)
- P20 Pro (HWCLT)
- Mate 9 (HWMHA)

[2019-11-30 19:12] thoaihuynhnguyen commented on #667
I used a external camera support by Android, but CameraException, Can you help me. Thansks,

[2019-12-01 14:41] huaxiaos commented on #680
I have this problem too Redmi note 8

[2019-12-01 15:25] soulrelay commented on #680
I have this problem too Redmi note 8

[2019-12-02 01:06] TemMax commented on #389
Faced with same issue on my pixel 2

version used: 2.4.0

[2019-12-02 01:26] TemMax commented on #389
@natario1 may be you can help with this issue or reopen?

[2019-12-03 04:04] yuripourre opened #689 "[Feature Request] Expose Sensor Exposure Time"
### Problem to be addressed
I need to capture photos in environments with very bright lights.

### Describe the solution you'd like
Exposing methods to set exposure time will be enough to address it.

### Additional context
[https://developer.android.com/reference/android/hardware/camera2/CaptureRequest.html#SENSOR_EXPOSURE_TIME]()

[2019-12-03 11:01] HBiSoft commented on #682
@SarunasDaubaris
I've had all sorts of problems on Huawei devices (Huawei P20 Pro being one of them). Have a look at my comment [here](https://github.com/natario1/CameraView/issues/667#issuecomment-559843209).

[2019-12-04 04:31] deckyfx commented on #680
Also got this error on Samsung A10

[2019-12-05 04:02] lijialiang opened #690 "After multiple clicks, `startAutoFocus` becomes non-working or reflects slowly"
### Describe the bug

After multiple clicks, `startAutoFocus` becomes non-working or reflects slowly.

If I use `camera1`, similar operations && similar code will not cause problems

- CameraView version: 2.4.0
- Camera engine used: camera2
- Reproducible in official demo app: n
- Device / Android version: Xiaomi, API 21

### To Reproduce
my demo: `https://github.com/lijialiang/CameraView-dmo.git`

[2019-12-05 05:01] lijialiang commented on #690
ScreenRecorder

* [camera1](https://github.com/lijialiang/CameraView-dmo/blob/master/camera1.mp4)
* [camera2](https://github.com/lijialiang/CameraView-dmo/blob/master/camera2.mp4)

[2019-12-06 12:54] ManuEpi opened #693 "Changing Exposition value doesn't work on "old" Samsung devices ?"
Hello , I have a problem on some devices ( It appears only on two Samsung devices ) :
- Samsung Galaxy S6
- Samsung Galaxy J3

First of all I saw that you wrote that in your doc : "EV correction is not guaranteed to be supported: check the CameraOptions to be sure".

Unfortunately I cannot check CameraOption on Samsung Galaxy S6 but on my Samsung Galaxy J3, CameraOptions is not null, I can see som

[2019-12-06 16:54] #669 closed

[2019-12-06 16:54] #685 closed

[2019-12-09 11:39] #664 closed

[2019-12-09 11:39] #674 closed

[2019-12-09 11:40] #676 closed

[2019-12-09 11:40] #675 closed

[2019-12-09 11:40] #668 closed

[2019-12-09 13:39] #677 closed

[2019-12-09 15:46] yuripourre opened #698 "[Feature Request] Expose ISO settings"
### Problem to be addressed
I need to capture photos in environments with very bright lights.

### Describe the solution you'd like
Exposing methods to set ISO will be useful to address it.

### Additional context
Check if iso is supported: https://stackoverflow.com/a/23567103

[2019-12-09 18:39] #678 closed

[2019-12-10 06:19] sarafinmahtab opened #699 "How can I get desired frame height and weight with SizeSelectors"
### How do I?
Hi, I am unclear about the documentations of **SizeSelectors**. So I am directly asking you. I am facing a case on getting exact camera frame. Suppose, my device is a laptop like chrome OS. Where I can run my app which has the camera. And my device width and height is exactly 1366X768. My problem is that I need the frame width and height as per the ratio of device width and height. B

[2019-12-11 03:21] #679 closed

[2019-12-11 10:18] saadbzu opened #700 "Get Duration of video"
How i get the duration of video after capturing the video form camera?

[2019-12-11 12:16] burhanahmed92 commented on #686
no body is answering!

[2019-12-12 10:21] fanxxxx opened #701 "IllegalStateException: Failed to stop the muxer"
### Describe the bug
Please add a clear description of what the bug is, **and** fill the list below.
- CameraView version: 2.4.0
- Camera engine used: *camera1*
- Reproducible in official demo app: no device
- Device / Android version: HUAWEI MLA-AL10 23

### Expected behavior
1. call `takeVideo(file)`
2. call `stopVideo()`
3. got error message:
camera_j:end: Dispatching end to listener - reason:

[2019-12-14 06:41] #683 closed

[2019-12-14 10:02] saadbzu opened #702 "Skip starting of video"
Hi, i don't know why every time when i record video after the video recording complete the starting 2 second video is automatically skip. I check the issues list here is github in your project, one person also ask this question why 2 second video is skip. Your answer is this was not the fault from your side. Then explain why video skip 2 seconds? This is not the normal behavior of a camera.

[2019-12-15 14:46] vladislav1nikov opened #703 "Black preview"
### Describe the bug
On some emulators (for example Nexus 10 API 27) and in the test report on Google Play (Samsung Galaxy S9 API 26), camera preview becomes black after showing interstitial ad from Google Admob. If you switch to another activity and go back, camera will work again. This problem does not always happen. But, when it happens, after each showing of an interstitial ad, it will occur.

[2019-12-15 16:52] #684 closed

[2019-12-16 03:37] ZSK-CRS opened #705 "compression level"
Could you tell me how to set the compression level?

[2019-12-16 11:51] saadbzu opened #706 "Video Result Apact Ratio of 1:1"
Hi, i read all the past issues on video result aspect ratio or size. I give 1:1 ratio to camera preview using ConstraintLayout layout but after recording i still show the video resolution same as mobile. Please tell me can you add this video cropping feature same as your picture cropping?

[2019-12-16 13:09] ramvdixit opened #707 "Preview and Capture Quality"
Hello,

Just wanted to know why the preview Quality and Capture Quality are lesser (They are darker) than the stock camera app? This is noticeable on low-end phones - a Moto E4 and pretty close to the stock camera on high end phones. The Moto runs Nugat 7.1.1.

Thanks for the library. Its awesome.

[2019-12-17 00:49] TemMax commented on #705
If you want to compress video result you can use [Transcoder](https://github.com/natario1/Transcoder). But if you want to compress picture you can use default Bitmap compression in Android.